[2016-03-24 02:37] mitar opened #273 "Explain how much disk space an initial installation will use."
Around there where you suggest running daemon, I would appreciate some comment if this would take a lot of disk space or not. As a IPFS beginner, I would suspect that it would start syncing data from others to my computer. Probably it does not do so, but then a statement of encouragement would be cool as well. (Like, no files will be downloaded until you ask for them.)

[2018-07-25 22:20] Mr0grog opened #241 "Enhance UnixFS section of "File systems and IPFS""
At the IPFS developer summit in Berlin in July 2018, we had poster-making sessions where people explored various IPFS concepts. We should expand the UnixFS section of the ["File systems and IPFS" doc](https://github.com/ipfs/ipfs-docs-v2/edit/master/docs/concepts/file-systems.md) with useful information from the poster:

![unixfs](https://user-images.githubusercontent.com/74178/43230700-36a8f1d2-9

[2018-07-25 22:29] Mr0grog opened #242 "A high-level explainer of IPLD."
## This issue has a bounty!
Successfully closing this issue by producing a production-ready piece of documentation can earn you not only the undying love of the IPFS community — it can net you a financial reward. [See the current list of bounty issues and their values here.](https://github.com/ipfs/devgrants/projects/1)

## The need in brief
A high-level explainer of IPLD.

Context/supporting mate

[2018-07-25 22:35] Mr0grog opened #243 "Expand MFS section of "File systems and IPFS" page"
## This issue has a bounty!
Successfully closing this issue by producing a production-ready piece of documentation can earn you not only the undying love of the IPFS community — it can net you a financial reward. [See the current list of bounty issues and their values here.](https://github.com/ipfs/devgrants/projects/1)

## The need in brief
We need to expand and improve upon the existing [File sy

[2018-07-25 22:37] Mr0grog opened #244 "Expand IPNS concept doc"
## This issue has a bounty!
Successfully closing this issue by producing a production-ready piece of documentation can earn you not only the undying love of the IPFS community — it can net you a financial reward. [See the current list of bounty issues and their values here.](https://github.com/ipfs/devgrants/projects/1)

## The need in brief
We need to expand and improve upon the existing [IPNS pa

[2018-07-25 23:01] Mr0grog opened #245 "Disambiguating nodes/peers/instances vs daemons"
The term “node” is used in very different ways in different contexts around IPFS. At the Berlin developer summit, we decided adding a concept doc describing this might be helpful (it would *also* be a good idea to try and avoid using the general term “node” in the future 😛).

Here was the original draft:

Some concerns:

- Equating an IPFS node and a daemon is not quite correct (an IPFS node doesn

[2018-07-25 23:14] Mr0grog opened #246 "High-level explainer of Gateways, in an IPFS context."
## This issue has a bounty!
Successfully closing this issue by producing a production-ready piece of documentation can earn you not only the undying love of the IPFS community — it can net you a financial reward. [See the current list of bounty issues and their values here.](https://github.com/ipfs/devgrants/projects/1)

## The need in brief
A high-level explainers of what gateways are in an IPFS

[2018-08-24 01:14] Mr0grog opened #249 "Explain what "Swarms" are in the "Observe peers" section."
We should have a short concept doc about what a “swarm” is in IPFS.

Concept docs are concise, high-level descriptions of various core concepts in IPFS. They should strive to answer:

1. **What** is this?
2. How does it **relate** to the rest of IPFS?
3. How can (or should?) you **use** it? (Note: sometimes the answer is that you should understand it, but *not* use it. *Bitswap* is probably a good

[2018-09-29 06:31] daviddias opened #250 "Add "Related content" section at the bottom of each page."
Use VuePress front matter, combined with a similar component methodology to what was used for "no content yet" stub pages, to generate a "related content" section of each page, highlighting in particular community-generated materials.

Please note that this may be a proof of concept for general tagging/taxonomy work in the site in the future, so designing this particularly future-proof is a good e

[2018-11-12 14:56] schomatis opened #251 "Explain how files are managed in IPFS."
### ETA (Dec 2019)
In light of the new nav/IA structure on the docs beta site, let's use the content spec'd out in this issue to enhance the beta page currently located at https://github.com/ipfs/ipfs-docs-v2/edit/master/docs/concepts/file-systems.md .

### Original issue text follows ...

This isn't the documentation itself (I'm not qualified to write that) but the main content that should be inc

[2019-04-21 01:23] tmcw opened #252 "Explain how IPNS relates to IPFS, and when to use DNSLink instead."
From https://github.com/ipfs/docs/blob/master/content/guides/concepts/ipns.md
(VuePress beta equivalent: https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/concepts/ipns.md)

This doesn't give a great overview of how DNSLink relates to IPNS: reading this, you would think that it's a better alternative to IPNS. If you instead arrived at the [IPFS for Websites page](https://docs.ipfs.io/guides/ex

[2019-07-10 15:41] olizilla opened #253 "Recommend installing IPFS Desktop rather than Go-IPFS directly."
IPFS Desktop now installs the `ipfs` command line tool, and has an auto-update mechanism, and has installers for alot of the platforms: https://github.com/ipfs-shipyard/ipfs-desktop#install

We should encourage folks to install desktop as the default, and then have an "setting up a server?" link... which encourages folk to install ipfs-cluster rather than go-ipfs, as we have ansible and docker scr

[2019-07-24 20:16] jessicaschilling opened #254 "Expand upon existing FAQ page"
The barebones FAQ at https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/concepts/faq.md needs to be augmented as follows:

- [ ] 1. Incorporating the most important and/or significantly commented items in the "old" FAQ located
at https://discuss.ipfs.io/c/help/Old-FAQ (warning, there are a lot of them!)

- [ ] 2. When done, close and remove the "old FAQ" section of Discourse

- [ ] 3. Next-leve

[2019-07-29 22:47] Stebalien opened #255 "Automatically test all code examples in this repository."
We have the following line in our release process checklist:

This is simply impossible to achieve manually.

---

We should have doctests like in rust (https://doc.rust-lang.org/rustdoc/documentation-tests.html).

1. All examples in documentation should be clearly marked.
2. Each piece of documentation should include machine readable instructions for testing the documentation (e.g., the environme

[2019-09-09 20:58] ericronne opened #256 "Use examples and use-cases in dnslink.io to improve the DNSLink page in this repository."
To help create a more unified experience for users, let's discuss folding the content of [dnslink.io](http://dnslink.io/) content into the new docs VuePress site.

[2019-10-01 08:17] daviddias opened #257 "Review examples in ipfs/website and import any useful docs into this repo."
- Examine https://github.com/ipfs/website/tree/master/static/docs and directories/documents contained within for any items that need to be moved to docs VuePress site (note, some of these may be extremely outdated)
- When done, delete the directory in the website repo

[2019-10-03 15:59] jessicaschilling opened #258 "Review docs site for accessibility."
UPDATE: Known contrast issue in text colors. Please see #293 and remedy based upon that analysis.

Once docs VuePress site is in a solid enough state, conduct an accessibility review. This could include:
- At minimum, examining against WCAG
- Possible implementation of automated accessibility testing for future site revisions
- If necessary, interview-based accessibility testing

[2019-10-03 16:08] jessicaschilling opened #260 "Collect Canny data and import it into GitHub issues."
- Monitor docs beta features vote implemented under ipfs/docs#319 until sufficient responses gathered
- Use voting results to prioritize building future docs features
- Generate report on the voting results for transparency and future reference

[2019-10-03 16:42] jessicaschilling opened #261 "Integrate localized search"
Integrate localized search functionality in docs VuePress site.

[2019-10-07 16:58] jessicaschilling opened #262 "Migrate Go-IPFS documentation into this repository."
- Integrate go-ipfs repo docs content into VuePress site
- Delete GitHub pages' content, but add pointers to new site for those who may have GitHub material bookmarked
- Discuss best way to integrate go-ipfs [docs-related open issues](https://github.com/ipfs/go-ipfs/issues?q=is%3Aopen+is%3Aissue+label%3Adocs-ipfs) into docs team workflow overall (start with adding the go-ipfs repo to the docs WG's

[2019-10-31 16:57] jessicaschilling opened #263 "Update the "Make your own IPFS Service" section."
The basics tutorial on making your own IPFS service is outdated, and should be cleaned up before beta launch. Please review and amend, but in the beta repo:
https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/how-to/make-service.md

Thanks!

[2019-11-26 21:04] jessicaschilling opened #264 "Explain what immutability is and why it's important to IPFS."
The need: A concept doc on immutability in general (i.e. why it's important), as well as a high-level look at how it functions in an IPFS-specific context (why it's important to IPFS, and also how to accommodate for it in situations like browser addressing).

It's likely to pull heavily from IPFS Camp Core Course A: https://github.com/ipfs/camp/tree/master/CORE_AND_ELECTIVE_COURSES/CORE_COURSE_A

[2019-11-27 22:33] johnnymatthews opened #265 "Create a map of how the docs should look, with the "Single-source documentation" project in mind."
**Note: This issue was opened as a result of the November 2019 close-reading audit captured in ipfs/docs#326.**

As discussed in ipfs/docs#326 under **Content Guidelines**, a next-generation hierarchy was proposed for the overall navigation IA of the docs site:

[code]

However, implementing this new IA will require significant rewriting of existing content, as well as creating new documents and a

[2019-11-27 22:35] johnnymatthews opened #266 "[NEW CONTENT] Define and document standards and styles for IPFS docs"
**Note: This issue was opened as a result of the November 2019 close-reading audit captured in ipfs/docs#326.**

One consequence of having several different writers create documentation is that there isn't any consistency between the pages in terms of writing style, word choice, styling, and examples. To create a consistent experience across all IPFS documentation we should:

1. ~~Create a persona

[2019-11-27 22:35] johnnymatthews opened #267 "Automating config/API/CLI documentation"
_Note: This issue was opened as a result of the November 2019 close-reading audit captured in ipfs/docs#326._

**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com

[2019-11-27 22:36] johnnymatthews opened #268 "Create a localization strategy."
**Note: This issue was opened as a result of the November 2019 close-reading audit captured in ipfs/docs#326.**

Having the docs site in several languages is great for globalization, and improves SEO. However, localization is hard and comes with significant overhead. Every change we make to a document means that the page needs to be translated again. We could cut down this overhead by using a dyna

[2019-12-03 23:15] jessicaschilling opened #269 "Add in-page nav to right side of VuePress site."
Initial launch of docs beta doesn't include the in-page nav. Let's investigate whether we should bring it back in in order to ...
- potentially shorten height of left-hand nav
- improve chances of users always knowing what sections they are viewing
- make things easier/prettier for mobile users (?)
- ameliorate some of the pain in looking for API/CLI commands until we rework those docs (note, thou

[2019-12-03 23:27] jessicaschilling opened #270 "Investigate IPFS emulation for try-as-you-go docs"
Investigate difficulty/rewards involved in
- Adding sandboxing to How-tos in general
- Creating an emulated IPFS CLI for that sandboxing, so users could immediately try what they learn without having to spin up a local instance. (Note: For within-site usage you can use js-ipfs - like what ProtoSchool is doing - with an in-browser node.)

Let's use this issue to discuss and possibly implement.

_No

[2019-12-04 22:07] ericronne opened #272 "Add prev/next links in docs site footer, solving for offsite links"
Currently much of the docs content isn't very well threaded, but upcoming changes (like those proposed by @johnnymatthews in ipfs/ipfs-docs#265) should serve to improve the overall content flow from page to page. In the mean time, users may find it handy to have this secondary/analog method of navigation available. This may be especially true for mobile, where users otherwise have to toggle open a

[2020-01-07 13:47] olizilla opened #56 "Scroll position not always reset to top of page when changing section"
To recreate:
- in Firefox 71 (Chrome does seem to reset the scroll position)
- go to: https://docs-beta.ipfs.io
- scroll to bottom
- click on **Concepts** in the sidebar nav
- I see the page still scrolled to the bottom, so I see _Still don't see what your looking for_ rather than the concepts intro which is scolled out of view above.

<img width="1392" alt="Screenshot 2020-01-07 at 13 42 06" src=

[2020-01-07 16:16] johnnymatthews commented on #56
This bug is also present on the [VuePress documentation site](https://vuepress.vuejs.org/guide/).

![firefox-bug](https://user-images.githubusercontent.com/9611008/71909996-14ce8180-313f-11ea-95ec-d4b54a1074b7.gif)

[2020-01-07 16:19] jessicaschilling commented on #56
I thought this was discussed/fixed a while back? @cwaring - does this ring any bells?

[2020-01-07 16:57] cwaring commented on #56
Issue moved to [ipfs/docs #417](https://github.com/ipfs/docs/issues/417) via [**ZenHub**](https://www.zenhub.com/)

[2020-01-07 16:57] #56 closed

[2020-01-23 18:23] johnnymatthews opened #276 "[FEATURE REQUEST] Top-level H1 header is sourced from front-matter."
It'd be helpful if the top-lever headers on each page were sourced from the front-matter of the markdown document, instead of the `#` header at the start of the markdown content.

<img width="1440" alt="Screen Shot 2020-01-23 at 1 15 34 PM" src="https://user-images.githubusercontent.com/9611008/73011825-0b9e0f80-3de3-11ea-8f5e-15a43cc5f91c.png">

This feature would enable writers to format their m

[2020-01-30 10:07] hsanjuan opened #278 "Explain the downgrade procedure for Go-IPFS."
**What's the subject of the item you're requesting?**

How can users safely downgrade go-ipfs (including reverting migrations)

**What's the content of the item you're requesting?**

Port and update https://github.com/ipfs/fs-repo-migrations/pull/10

**What will the user know how to do after going through this item?**

Downgrading and reverting repo migrations

**Would you be interested in helping

[2020-02-13 20:00] johnnymatthews opened #279 "Create a Troubleshooting section for IPFS projects."
**What's the subject of the item you're requesting?**
Troubleshooting IPFS.

**What's the content of the item you're requesting?**
Common pitfalls and issues users run into when interacting with IPFS projects such as the IPFS Desktop and IPFS Daemon.

Before this page goes live, we should have steps to solve the following problems as a minimum:

1. [Downgrading go-ipfs](https://github.com/ipfs/doc

[2020-03-02 23:47] autonome opened #280 "Explain why IPFS needs relative URLs in web content."
**What's the subject of the item you're requesting?**
I don't want to solutionize the title. Should be about relative vs absolute urls.

Example of where it's a problem for web developers trying IPFS: https://macwright.org/2019/06/08/ipfs-again.html

**What's the content of the item you're requesting?**

1. the difference between absolute and relative urls
2. how absolute urls break and/or pop you

[2020-03-05 15:45] johnnymatthews opened #281 "Explain how to troubleshoot NAT problems."
This issue relates to ipfs/go-ipfs#6952.

**What's the subject of the item you're requesting?**
NAT troubleshooting guide.

**What's the content of the item you're requesting?**
Many people face issues when attempting to connect their node to the IPFS network. One reason is that their node is sat behind network address translation (NAT) on their router.

**What will the user know how to do after g

[2020-03-05 17:11] johnnymatthews opened #282 "Create guide for managing ,ultipage site with external assets on IPFS."

[2020-03-05 17:11] johnnymatthews opened #283 "Create guide for managing static-site generator with IPFS."

[2020-03-05 17:14] johnnymatthews opened #284 "Check this repo for incorrect spelling automatically."
To keep writing across the docs consistent, we're going to implement an automated spell-checker that checks markdown documents for errors. The spellchecker must let us add our own items into the dictionary. Unfortunately, Filecoin isn't a well-defined word. Yet.

## Tasks

- [ ] Investigate [markdown-it-spellcheck](https://github.com/matatk/markdown-it-spellcheck) as a solution.
- [ ] Add a spellc

[2020-03-05 17:14] johnnymatthews opened #285 "Check this repo for incorrect grammar automatically"
This issue is part of the Docs automation project and was taken from ipfs/docs#438.

To keep writing across the docs project consistent, we're going to implement an automated grammar-checker that checks markdown documents for errors. This will likely be done before content can be pushed into master using CircleCI or something like that.

[2020-03-05 17:15] johnnymatthews opened #286 "Check this repo for broken links automatically."
This issue is part of the Docs automation project and was taken from ipfs/docs#438.

To keep writing across the docs project consistent, we're going to implement an automated broken-link-checker that checks markdown documents for dead links, images, and assets. This will likely be done before content can be pushed into master using CircleCI or something like that.

[2020-03-05 17:15] johnnymatthews opened #288 "Import documentation from ipfs/js-ipfs into this repo."
The [JS-IPFS](https://github.com/ipfs/js-ipfs/) project has a bunch of documentation that the team handles. To make [docs.ipfs.io](https://docs.ipfs.io) the single source of truth for all IPFS documentation, we'll collect all the docs from around the JS-IPFS ecosystem and merge them into this project.

[2020-03-06 16:55] johnnymatthews opened #289 "Bring documentation from other IPFS repos into this repo so it can serve as the single-source of truth."
Host all IPFS documentation within one place.

A lot of individual IPFS projects have documentation all over the place, JS-IPFS, and Go-IPFS in particular. This makes it convenient for the devs to create docs but makes it tricky for users that need to access or find those docs in the first place.

Having all IPFS documentation in one place keeps things tidy, consistent, and makes the user experien

[2020-03-06 16:55] johnnymatthews opened #290 "Automate repetitive tasks within this repo."
Automatically check the documentation for broken links, broken assets, spelling mistakes, and grammatical issues. This issue has evolved from ipfs/docs#438.

A substantial amount of time is spent checking for spelling and mistakes when writing documentation. Once the docs are written, links and assets need to be tested to make sure they're not broken. While the sidebar navigation in VuePress handl

[2020-03-06 16:55] johnnymatthews opened #291 "Create an introduction for the "IPFS for Web Devs" section."
**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Aissue+%22%24auditrecommendation%22+) in this repo.**

To showcase some of the features

[2020-03-09 12:37] hsanjuan opened #292 "Filter users to install what they need by identifying their use-case."
**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Aissue+%22%24auditrecommendation%22+) in this repo.**

**URL of the page in question:**

[2020-03-20 19:34] jessicaschilling opened #294 "Enhance the docs by using the IPFS Glossary more creatively."
**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Aissue+%22%24auditrecommendation%22+) in this repo.**

We now have an IPFS glossary for

[2020-03-20 19:42] jessicaschilling opened #295 "Create guides for how IPFS can help with web hosting, academic purposes, and other core goals."
## [This issue has a bounty of $400](https://github.com/ipfs/devgrants/projects/1)

**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Ais

[2020-03-26 15:48] hsanjuan opened #296 "Call out that the CLI and HTTP APIs are functionally the same."
## [This issue has a bounty of $100](https://github.com/ipfs/devgrants/projects/1)

This is an issue to track curation and inclusion of https://github.com/ipfs/specs/blob/bc6a32ecff76d4b6e5a19955138305598b1a65eb/overviews/implement-api-bindings.md

That doc contains useful information on how the API works and how it relates to the CLI.

[2020-04-03 22:15] hsanjuan opened #297 "Explain the relationship between MFS, IPFS, and UnixFS."
Tracking a user request at https://github.com/ipfs/go-ipfs/issues/7084#issuecomment-608552812

**URL of the page in question:**

Maybe: https://docs.ipfs.io/guides/concepts/mfs/

**What's wrong with this page?**

See confusion in above thread.

Related: how to manually create and modify unixfs directories (it has come up several times in the last week).

[2020-04-29 17:14] johnnymatthews opened #298 "Explain how data encryption works with IPFS."
IPFS deals with encryption in interesting ways. We need a general overview of how IPFS manages encryption, including:

- Where data is and is not encrypted.
- The difference between transport encryption and content encryption.
- Why IPFS doesn't include encryption _at rest_.
- Examples of projects that are using IPFS with encrypted data.

This overview should be similar in size and layout to the [

[2020-04-29 17:45] johnnymatthews opened #299 "Install IPFS via CLI instructions should use dist.ipfs.io."
Currently the instructions to [install IPFS through the command-line](https://docs-beta.ipfs.io/install/command-line-quick-start/) use GitHub as a source to download the binaries. They should use `dist.ipfs.io` instead.

The [install instructions for Go-IPFS 0.5](https://docs-beta.ipfs.io/recent-releases/go-ipfs-0-5/install/) use `dist.ipfs.io`, so it should be just a case of copying those steps.

[2020-04-29 18:40] johnnymatthews opened #300 "Create a guide/section on using IPFS Update."
There is currently no documentation for using `ipfs-update` within the `ipfs/docs` repo. There are instructions on the [`ipfs/ipfs-update` repo](https://github.com/ipfs/ipfs-update/blob/v1.6.0/README.md), however. These instructions should be brought into the `ipfs/docs` repo and updated. These docs can go into `docs.ipfs.io/how-tos/ipfs-update/`. The section should cover:

1. Install `ipfs-update

[2020-05-02 11:01] dadepo opened #301 "Clarify the differences between all the file APIs."
## [This issue has a bounty of $250](https://github.com/ipfs/devgrants/projects/1)

Is there an item missing from IPFS documentation that would be helpful to you? Please use this template to let us know!

**What's the subject of the item you're requesting?**

Do not know about the title, but it should be something that conveys that there are different files API, it could be confusing, and this is

[2020-05-06 17:14] aschmahmann opened #302 "Rewrite the DHT page using the IPFS blog DHT Deep Dive posts are references."
Did you find a bug, typo or other issue in an item of IPFS documentation? Please use this template to let us know!

**URL of the page in question:**
https://docs-beta.ipfs.io/concepts/dht/#managing-data

**What's wrong with this page?**
The information in the managing data section is in the wrong place/is misleading.

**What would you like to have changed/amended/fixed in order to make things righ

[2020-05-08 17:20] jayschwa opened #304 "Make the sidebar nav collapse in Firefox Preview on Android."
docs-beta.ipfs.io does not collapse the sidebar when using Firefox Preview v4.3.0 on Android 10. This makes the site hard to read and navigate on my Pixel 2 phone. I am using the largest "Display size" and "Font size" in Android's system settings, but changing them to their defaults did not appear to make a difference. This problem does not happen in Chrome.

![docs-beta-firefox-preview](https://u

[2020-05-18 16:07] hugomrdias opened #218 "dark reader extension in chrome makes logo look too big"
<img width="556" alt="Screenshot 2020-05-18 at 16 59 25" src="https://user-images.githubusercontent.com/314190/82234955-02085c80-992a-11ea-8d6c-a0ee105218f0.png">

[2020-05-18 16:21] johnnymatthews commented on #218
Could probably fix this issue by creating a dark theme within VuePress, then users don't have to install an add-on in the first place.

[2020-05-18 16:32] johnnymatthews opened #223 "Debugging using `collect-profiles.sh` script."
When debugging issues in Go-IPFS users sometimes have to run the `collect-profiles.sh` script. This script _is not_ included in installions from `dist.ipfs.io`, and it only found within the [`ipfs/go-ipfs` repo](https://github.com/ipfs/go-ipfs/tree/master/bin).

We need to document:

1. How to run this script.
1. What it's used for.
1. When to use it.

We should also discuss whether this script sh

[2020-05-18 17:39] Stebalien commented on #223
The debug guide lives in https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md.

If we want to bundle this with go-ipfs, we should just add a special sub command.

[2020-05-21 19:25] hugomrdias opened #232 "remove beta from images"
- [ ] public/images/ipfs-logo-text-black.svg

[2020-05-22 06:29] #232 closed

[2020-05-22 06:30] #218 closed

[2020-05-22 14:37] hugomrdias opened #238 "Sync with infra for launch"
## docs beta domain
Previous redirect list was broken!!

**PROPER**
[code]
https://github.com/protocol/bifrost-infra/pull/763
@mburns the above list is in the correct syntax (spaces and all) just copy/paste

## docs domain

- [ ] https://github.com/protocol/bifrost-infra/pull/764

/cc
@mburns @cwaring

[2020-05-22 14:51] cwaring commented on #238
If it is possible to catch 404's we should add one more to this list.
`404 -> /404/*`

[2020-05-22 16:39] hugomrdias opened #240 "Launch Task List"
- [x] make sure this is all done https://github.com/ipfs/ipfs-docs/issues/238
- [x] merge master into release branch
- [x] merge infra PR https://github.com/protocol/bifrost-infra/pull/764
- [x] merge release branch into master to launch
- [x] change naming in google analytics
  - UA-96910779-15 is docs.ipfs.io
  - UA-96910779-6 is olds docs

[2020-05-22 17:06] hugomrdias commented on #238
what do you mean by this ? redirect all 404's to this https://docs-beta.ipfs.io/404/ ?

[2020-05-22 21:45] Mr0grog opened #247 "High-level explainer of multiaddresses."
At the Berlin developer summit, we decided *multiaddresses* or *peer addresses* were important to write a concept doc about.

We did not have time to write a rough draft, so we need to create a concept doc from scratch. Concept docs are concise, high-level descriptions of various core concepts in IPFS. They should strive to answer:

1. **What** is this?
2. How does it **relate** to the rest of IPF

[2020-05-22 21:45] Mr0grog opened #248 "An overview of versioning in IPFS, and how it can be achieved."
There’s a fair amount of confusion about whether and how IPFS tracks version histories for your files, ~~partially spurred by some confusing language at https://ipfs.io (there will be another issue for fixing that)~~ — while IPFS can store every version of a file (because they’ll have different CIDs) and conceptualize files as versions of each other by virtue of sharing blocks, it *doesn’t* have a

[2020-05-22 21:45] jessicaschilling opened #259 "Implement Lighthouse testing"
Implement Google's [Lighthouse](https://developers.google.com/web/tools/lighthouse) automated testing tool for ongoing testing on docs VuePress site.

[2020-05-22 21:45] ericronne opened #271 "Restyle alert panels"
When time allows, here's some mods for the various alert blocks. I'm happy to attack myself, but first need someone such as @cwaring to show me where the controls are buried.

![image](https://user-images.githubusercontent.com/9259185/70178640-3d77dd00-16a2-11ea-8ac0-f4acc0931449.png)

- [ ] Narrow the left strip to 4 pixels wide for all
- [ ] `0.5px` letter spacing for the all-caps headers
- [ ]

[2020-05-22 21:45] andrew opened #274 "Left-hand submenu doesn't expand when visiting a top level section directly."
When directly visiting a top level section (like [Community](https://docs-beta.ipfs.io/community/)) on the new docs beta (i.e. clicking from offsite or pasting https://docs-beta.ipfs.io/community/ directly into your address bar), the left hand menu doesn't expand for the highlighted section:

![Screenshot 2020-01-21 at 14 07 29](https://user-images.githubusercontent.com/1060/72811355-63a80b00-3c57

[2020-05-22 21:45] RubenKelevra opened #275 "Single-page static site."
**What's the content of the item you're requesting?**
I've stumbled over this blog post[1] which describes how to setup a static webpage with the Cloudflare IPFS gateway as CDN.

It's a pretty well written user story, which could be a good source for a small how-to.

**What will the user know how to do after going through this item?**
Setup of websites with IPFS

**Would you be interested in helpi

[2020-05-22 21:45] Stebalien opened #277 "[FEATURE REQUEST] Offline Search"
The new Agolia search is awesome and really snappy. However, one of the key benefits of serving a website over IPFS is that it can work offline (I've actually used this to download our websites/tools for conferences when I don't trust the local network to work). It would be really awesome if we could find a way to do this offline.

This issue is hardly critical given that the new docs site already

[2020-05-22 21:45] johnnymatthews opened #287 "Import from Go-IPFS."
The [Go-IPFS project](https://github.com/ipfs/go-ipfs/) has a bunch of documentation that the team handles. To make [docs.ipfs.io](https://docs.ipfs.io) the single source of truth for all IPFS documentation, we'll collect all the docs from around the Go-IPFS ecosystem and merge them into this project.

[2020-05-22 21:46] terichadbourne opened #293 "Insufficient color contrast for text links"
In working on a fork of this site I discovered that the `$accentColor` that creates the text links on the beta site (both in-line and on the sidebar) doesn't pass contrast checks for accessibility for normal size font on any of the three backgrounds I see it on. Just dropping these reports here (from https://webaim.org/resources/contrastchecker/) in case they're helpful for future accessibility re

[2020-05-22 21:46] johnnymatthews opened #303 "Restrict access to files hosted on IPFS."
_How can I restrict access to data/files hosted on IPFS?_ This was a question raised in a Q&A at the [IPFS Pinning Summit 2020](https://ipfspinningsummit.com/).

[2020-05-22 21:47] ericronne opened #305 "Restyle alert panels"
When time allows, here's some mods for the various alert blocks. I'm happy to attack myself, but first need someone such as @cwaring to show me where the controls are buried.

![image](https://user-images.githubusercontent.com/9259185/70178640-3d77dd00-16a2-11ea-8ac0-f4acc0931449.png)

- [ ] Narrow the left strip to 4 pixels wide for all
- [ ] `0.5px` letter spacing for the all-caps headers
- [ ]

[2020-05-22 21:47] RubenKelevra opened #306 "Single-page static site."
**What's the content of the item you're requesting?**
I've stumbled over this blog post[1] which describes how to setup a static webpage with the Cloudflare IPFS gateway as CDN.

It's a pretty well written user story, which could be a good source for a small how-to.

**What will the user know how to do after going through this item?**
Setup of websites with IPFS

**Would you be interested in helpi

[2020-05-23 14:44] #306 closed

[2020-05-23 14:45] johnnymatthews opened #307 "Single-page static site."
This issue was originally created in `ipfs/docs` by @RubenKelevra, and was manually migrated by @johnnymatthews to this repo on 2020-05-23.

---

**What's the content of the item you're requesting?**
I've stumbled over this blog post[1] which describes how to setup a static webpage with the Cloudflare IPFS gateway as CDN.

It's a pretty well written user story, which could be a good source for a s

[2020-05-23 14:46] johnnymatthews commented on #306
There was a problem migrating this issue. It's been re-created as #307.

[2020-05-23 14:49] johnnymatthews opened #308 "Restyle the alert panels in VuePress."
This issue was originally created in `ipfs/docs` by @ericronne and was manually migrated by @johnnymatthews to this repo on 2020-05-23.

---

When time allows, here's some mods for the various alert blocks. I'm happy to attack myself, but first need someone such as @cwaring to show me where the controls are buried.

![image](https://user-images.githubusercontent.com/9259185/70178640-3d77dd00-16a2-

[2020-05-23 14:49] #305 closed

[2020-05-23 14:49] johnnymatthews commented on #305
There was a problem migrating this issue. It's been re-created as #308.

[2020-05-23 15:07] johnnymatthews commented on #299
![image](https://user-images.githubusercontent.com/9611008/82733960-90dbf700-9ce5-11ea-82ec-78f4412feb8c.png)

This has been closed, just can't find the PR.

[2020-05-23 15:07] #299 closed

[2020-05-26 13:02] ericronne commented on #293
The design `#377F85`

![image](https://user-images.githubusercontent.com/9259185/82903645-dc311800-9f26-11ea-86f4-fcd35ab63664.png)

[2020-05-26 14:39] jessicaschilling commented on #293
If you use `ipfs-css`, the updated teal is `.teal { color: #378085; }` (see https://github.com/ipfs-shipyard/ipfs-css/blob/master/ipfs.css), which passes AA contrast.

[2020-05-26 16:11] johnnymatthews opened #311 "IPFS Docs monthly, May 2020."
This issue is reserved for discussions around the IPFS Docs monthly call, held Tuesday 26th May @ 15:00 UTC.

- [Meeting recording](https://gateway.pinata.cloud/ipfs/QmS6TTMt2y3auLnjGmKUZL7thJRkXgyXr5sTL1RvUyp57n)
- [Meeting notes](https://cryptpad.fr/code/#/2/code/view/4xRbtK8Xt40a4FjhPiNcFVUeT6sum5YMuO-02+0Sn7s/)

[2020-05-26 20:37] jessicaschilling opened #313 "IPFS collab case study"
## This issue has a bounty!
Successfully closing this issue by producing a production-ready piece of documentation can earn you not only the undying love of the IPFS community — it can net you a financial reward. [See the current list of bounty issues and their values here.](https://github.com/ipfs/devgrants/projects/1)

## The need in brief
Create a case study centering on an engaged IPFS collabo

[2020-05-26 20:43] jessicaschilling commented on #313
Giving this issue to @gracerachmany and cc-ing @autonome for context.

(Grace, can you please comment to indicate receipt, and so that I can assign this one to you in GitHub itself?)

@johnnymatthews -- I'll run point on this, but since it'll eventually live in docs, you may just want to keep an eye on activity. 😊

[2020-05-26 20:49] jessicaschilling commented on #313
@autonome, can you please send @GraceRachmany contributor contact details so she can get started? Thanks!

[2020-05-26 21:45] johnnymatthews commented on #313
Sounds good 👍 . I can help out more after this week.

[2020-05-27 01:55] schomatis commented on #264
This is my take on this subject, my main motivation for writing this is to have someone from IPFS polish it and include it with the rest of the docs, to be able to link it from Lotus. These are rough notes, not a coherent narrative but the salient concepts I'm particularly interested in.

I'm drawing from the following, especially because of the importance of having diagrams that help visualize in

[2020-05-27 01:59] jessicaschilling commented on #264
Thanks so much, @schomatis! I'm tagging @johnnymatthews in this, since he's in charge of docs at large (please note, though, that the next few days are really busy with migrating the docs beta to the production site). 😊 Thanks again!

[2020-05-27 04:54] GraceRachmany commented on #313
Check it out! I know how to use GitHub! (This is going to be a first.)

[2020-05-27 05:05] jessicaschilling commented on #313
You can thank @johnnymatthews for enforcing the Oxford comma ... I started with AP style but have been broken of the habit! 🤣

[2020-05-27 20:19] johnnymatthews commented on #271
Somehow duplicated this one in #308. I'll close this one since #308 already has labels.

[2020-05-28 17:16] #238 closed

[2020-06-01 09:46] cwaring commented on #240
I've deprecated the old Analytics (UA-96910779-6) and renamed the beta profile (UA-96910779-15) to the primary account now, so calling this migration complete now. Feel free to re-open if there are any outstanding tasks.

[2020-06-01 09:46] #240 closed

[2020-06-01 14:04] johnnymatthews opened #322 "Explain how to host a single-page static site."
This issue was [originally posted](https://github.com/ipfs/docs/issues/428) by @RubenKelevra on 23rd January 2020. It got stuck in a incomplete state after migrating from `ipfs/docs`. It's been recreated here by @johnnymatthews.

---
Original issue by @RubenKelevra.

What's the content of the item you're requesting?
I've stumbled over this blog post[1] which describes how to setup a static webpage

[2020-06-01 14:05] johnnymatthews commented on #275
This issue has gotten stuck at some point during the issue migration from `ipfs/docs`. It's been recreated in #322. Closing this issue to help [ecosystem metrics](https://ecosystem-research.herokuapp.com/slow_response).

[2020-06-01 14:05] #275 closed

[2020-06-01 14:07] johnnymatthews commented on #271
We're still getting the transfer warning...

![image](https://user-images.githubusercontent.com/9611008/83417119-a9d45e80-a3ef-11ea-8755-a47adce826da.png)

I'll reopen and close it again. Maybe that'll make the warning go away.

[2020-06-01 14:07] #271 closed

[2020-06-01 18:59] realChainLife commented on #242
@johnnymatthews is anyone still assigned to this?

[2020-06-01 20:24] johnnymatthews commented on #242
Thanks for your interest here @realChainLife, but we're waiting on some internal changes to IPLD before releasing this issue. It's not available for public contributions just yet.

[2020-06-02 03:47] johnnymatthews commented on #266
_Finally_ got around to creating the code-persona. Still need to flesh out the examples, however I'm happy with this _very basic_ code persona for now. Creating a full code persona will be a much larger project than when I first drafted out this issue. IPFS is _much_ more complex and has far more moving parts than I originally thought.

[2020-06-02 04:06] johnnymatthews opened #323 "Explain how to debug reachability of nodes."
A vast number of developers working with IPFS have trouble because they don't know how to debug connection issues in their environment. Here are some problems they're running into:

- [ ] They don't realize that a port is closed/filtered when error messages point to that direction.
- [ ] They don't know how to open/expose/forward ports.
- [ ] They don't know that IPFS is listening on some ports an

[2020-06-04 00:05] johnnymatthews opened #326 "Remove "Sign up to be a beta tester" link from ContentStatus.vue"
The [`ContentStatus.vue` file](https://github.com/ipfs/ipfs-docs/blob/master/docs/.vuepress/theme/global-components/ContentStatus.vue) is shown when there isn't any content for a page, but the navigation menu item exists. The _Sign up to be a beta tester_ link is no longer relevant post-deprecation. It should be removed.

![image](https://user-images.githubusercontent.com/9611008/83700721-8f5bda00

[2020-06-04 00:11] #326 closed

[2020-06-06 02:25] momack2 opened #333 "Update the docs edit widget to point to the new docs repo"
The `open an issue`:
![image](https://user-images.githubusercontent.com/618519/83933985-25bd0680-a762-11ea-9156-e8c904de2cf3.png)
sends the user to a 404 because the repo linked is now archived:
![image](https://user-images.githubusercontent.com/618519/83933980-1d64cb80-a762-11ea-8844-b10b64a095d1.png)

Update the widget and all other links to point to the new docs repo

[2020-06-06 02:28] momack2 opened #334 "Include community-managed bootstrap nodes to the Configure a Node page."
We want to add optional community bootstrap nodes that ipfs users can add to their node configs to provide more diversity/resilience in the bootstrapping flow. Since a number of groups already have these nodes, we'd like to add a small section to the bottom of this page to list the additional bootstrap nodes, and what organization they're being run by. I'll add a list here to be merged in as I col

[2020-06-06 03:51] #333 closed

[2020-06-06 04:02] johnnymatthews commented on #333
Thanks for catching this one. Looks like we missed one `ipfs/docs` config.

[2020-06-06 04:03] johnnymatthews opened #336 "Remove links to `ipfs/docs`."
There are a few links to the old `ipfs/docs` repo. While GitHub does a good job at correctly redirecting things, we should update these to point to `ipfs/ipfs-docs` all the same.

[2020-06-08 14:22] johnnymatthews commented on #334
This sounds like a _nice to have_ `P2` task. Can up the priority if you think it's urgent @momack2. The list of nodes can fit into [`how-to/configure-node/#bootstrap`](https://github.com/ipfs/ipfs-docs/blob/master/docs/how-to/configure-node.md#bootstrap) quite nicely.

[2020-06-08 16:59] terichadbourne commented on #294
Just joining this thread to get a heads up when there's movement on this, as we were talking about something similar in a Filecoin docs call today. ❤️

[2020-06-08 17:19] cwaring commented on #294
Interesting! Was it to do with creating a JS hover widget for these terms? As I was talking to David recently about how useful a plugin like that would be to everyone if applied across our products.

[2020-06-08 18:35] ericronne commented on #294
https://github.com/ipfs-inactive/docs/issues/372

[2020-06-08 18:50] terichadbourne commented on #294
Yeah, we were discussing adding a hover to the Filecoin specs rather than linking out to a separate glossary, and wanted to follow your work in case it was easy to integrate into VuePress for the Filecoin docs as well. Note that lotus docs have something similar now (https://lotu.sh/), although it appears a bit far from where you click in my opinion. But the lotus docs will soon be integrated into

[2020-06-08 19:21] ericronne commented on #294
Her old company the USA? That was my site, with the flyout glossary. :)

I don't recall that we ever implemented a tool-tip-style one triggered on hover, but that could work. A dotted underline is one way to call out the terms. Agreed re the lotus positioning.

[2020-06-08 19:31] terichadbourne commented on #294
Ha, yes, her company the government. I forgot to drop in the link to the new version of the URL she'd given me as an example: https://beta-nrrd.app.cloud.gov/

[2020-06-08 19:41] ericronne commented on #294
That's the one, albeit … different. And with hovers! I may be able to get some insights into how well they perform.

I will say that a little goes a long way. Documented guidance re how to pick words to define, etc, would be super helpful.

[2020-06-08 20:30] johnnymatthews opened #337 "Clear up how to download a file from IPFS using `cat`."
The [command line quick start](https://docs.ipfs.io/how-to/command-line-quick-start/) has the following section:

Using the `cat` utility to get a file called `cat.jpg` can be confusing for readers not familiar with the `cat` utility. We should call the `cat.jpg` file something else, or use another file entirely (a space-related file would be a good fit).

[2020-06-08 20:43] ericronne commented on #294
Reached out to a current 18F UXer for NRRD …
- The drawer-based glossary wasn't cooperating with [material ui](https://material-ui.com/), which they've implemented more recently
- I believe the tooltip is a stock Material UI component
- The `?` icon seems to telegraph its meaning well to users
- Overall it seems to be a useful feature

[2020-06-08 20:46] jessicaschilling commented on #337
This will singlehandedly ruin my hope that someday someone will make a funny `ipfs cat` t-shirt, but you're probably right.

[2020-06-09 15:00] johnnymatthews commented on #294
I like it. But I'd like to see a _turn tool-tips off_ option somewhere. This isn't critical, just something that would be nice to have.

Not sure where it would go, but it might fit nicely into a **Settings** menu alongside a _Dark Mode_ theme.

[2020-06-16 11:15] bibek54 commented on #242
Any idea on how long will it take to get it published?

[2020-06-16 14:03] johnnymatthews commented on #242
This item is set to low priority right now. I don't have a timeframe right now, but it will likely get addressed early next quarter.

If you feel this issue should have a higher priority, please feel free to make that case here. It's currently set as `P3` not because it's unimportant, but because there are more pressing issues right now.

[2020-06-17 17:08] johnnymatthews commented on #336
Closed by accident.

[2020-06-17 19:57] #336 closed

[2020-06-17 20:17] johnnymatthews commented on #276
I'm closing this issue since it doesn't really seem to be a problem anymore.

[2020-06-17 20:17] #276 closed

[2020-06-17 20:22] johnnymatthews commented on #274
Just tried this on the [VuePress docs site](https://vuepress.vuejs.org/guide/assets.html) and it doesn't seem to be an issue there, so this is likely something that we've changed.

[2020-06-17 20:53] johnnymatthews commented on #272
This would still be quite cool to have if we could specify the _before_ and _next_ destinations in the front matter. Having it automatically generated from the sidebar nav is likely to cause a bunch of issues.

[2020-06-17 20:56] johnnymatthews commented on #270
Depending on how simplified we want things to be, we should cheat a little bit here and just have a JS widget _pretend_ to interact with the IPFS network. We could design it in a way that basic commands work and _interact_ with an IPFS node, when in reality all that's happens is the JavaScript is just swapping variables and throwing in a bunch of `setTimeout()` commands.

Having an active console

[2020-06-17 21:00] #266 closed

[2020-06-17 21:07] johnnymatthews commented on #265
This map was created back in November. I've since found out how deep the IPFS rabbit hole goes, so the map is horribly out of date and need re-drawing.

[2020-06-17 21:12] johnnymatthews commented on #263
Need to find out:

1. If this documentation is still required.
1. How services work right now.
1. What we should include in the tutorial (needs input from a _services_ expert).

[2020-06-17 21:19] johnnymatthews opened #353 "Update docs to have Go-IPFS 0.6 be the default installation option."
We have several locations where we instruct the reader to install Go-IPFS 0.5.1. When Go-IPFS 0.6 is released, these locations need updating.

Deferred until 0.6 released. It's currently in [RC7](https://dist.ipfs.io/go-ipfs/v0.6.0-rc7).

[2020-06-18 14:31] johnnymatthews commented on #261
Potential duplicate of #277.

[2020-06-18 14:31] #261 closed

[2020-06-18 14:35] johnnymatthews commented on #260
Canny is good, but for the sake of simplicity we're going to keep suggestions within the **[Issues](https://github.com/ipfs/ipfs-docs/issues) tab** using the [`king/suggestions` tag](https://github.com/ipfs/ipfs-docs/issues?q=is%3Aopen+is%3Aissue+label%3Akind%2Fsuggestion).

I'm changing this issue to grab the data we've collected in Canny and bring it into GitHub.

[2020-06-18 14:49] johnnymatthews commented on #257
- [ ] Review all the examples in the [`ipfs/website` repo](https://github.com/ipfs/website/tree/master/static/docs/examples).
- [ ] Check with Go-IPFS team for relevancy of examples.
- [ ] Copy over useful and relevant examples into this repository.
- [ ] Grammar and spell check as usual.
- [ ] Create PR to delete examples from `ipfs/website`.

[2020-06-18 15:04] johnnymatthews commented on #256
So, the documentation in DNSlink.io is still relevant and up to date. However, it's not something that _the majority_ of IPFS developers are going to deal with directly. With it being it's own separate project, the documentation should stay where it is.

We should absolutely take some of the example from DNSlink.io though, and add them into this repository. The can be used to flesh out the existin

[2020-06-18 15:07] johnnymatthews commented on #255
I've added the `need/analysis` tag to this issue. We need to have a look into _how_ this process would work, and if we can add it into CircleCI (or if we'd need to run the tests locally before pushing GitHub).

[2020-06-18 15:10] johnnymatthews commented on #279
This section would benefit from including the FAQs listed in #254.

[2020-06-18 15:12] johnnymatthews commented on #254
This issue will be addressed in #279.

[2020-06-18 15:12] #254 closed

[2020-06-18 15:37] johnnymatthews commented on #253
Sorry for digging up an old issue team. What I'm getting from reading the comments here is that we need to:

- Push new users towards installing IPFS Desktop, ideally from the docs.ipfs.io homepage.
- Create a _server install_ section that talks about installing IPFS Cluster.
- Have a command-line install option that touches on installing via Choco, Brew, and Snap (for Windows, macOS, and Ubuntu r

[2020-06-18 15:41] johnnymatthews opened #355 "Create a "Server Install" section specifically for installing IPFS Cluster and not Go-IPFS."
As discussed in #253, users wanting to install IPFS in a server environment should install IPFS Cluster. This section should:

- [x] Explain what IPFS Cluster is.
- [x] Explain why server environments benefit from IPFS Cluster.
- [x] Walk the user through installing IPFS Cluster via:
  - [x] Docker
  - [ ] ~~Ansible~~
- [x] Link to further resources that server environment would benefit from.

[2020-06-18 15:46] johnnymatthews opened #356 "List alternative install options via the command-line using Choco, Brew, and Snap."
Many users want to be able to jump in and install IPFS through the command-line. While these options aren't all officially supported, instructions for installing IPFS using the Choco, Brew, and Snap package managers would be helpful. This was discussed in #253.

- [x] List install instructions for each package manager:
  - [x] Choco
  - [x] Brew
  - [x] Snap
- ~~[ ] Discuss how these packages get

[2020-06-18 15:54] #246 closed

[2020-06-22 15:40] johnnymatthews opened #359 "IPFS Docs monthly, June 2020"
## Achieved in May

1. Legacy docs site deprecated.
1. New IPFS docs site launched!

## Goals for June

1. Write and release the [IPFS for Web Devs](https://github.com/ipfs/ipfs-docs/issues/291) project.
1. Release the [Immutability overview](https://github.com/ipfs/ipfs-docs/issues/264).
1. Clean up [issue backlog](https://github.com/ipfs/ipfs-docs/issues) and label everything.
1. Update docs for

[2020-06-22 15:47] #311 closed

[2020-06-22 22:36] #353 closed

[2020-06-24 14:24] johnnymatthews opened #360 "Explain how running as `root` can effect IPFS migrations, and how to avoid these issues."
Several issues have ran into issues running the Go-IPFS migrations. After analysis it looks like it came to running some `ipfs` calls with `sudo`, and some without. Doing this can cause IPFS to create separate repos (in `/home/$USER/` and `/root`).

While the best fix would be to add some warnings to IPFS Desktop, IPFS Update, and Go-IPFS themselves, we can mitigate some problems by having these t

[2020-06-27 08:23] pengisgood opened #889 "Add notes to commands in the HTTP API that contain options relevant to the CLI, but not to anything else."
In the [HTTP API documentation](https://docs.ipfs.io/reference/http/api/), some API options' description are not accurate.

For example, `/api/v0/files/ls` has an option `U` which is only relevant to the command line as far as I know. There are serval other places.

Can we have a note in the documentation to mitigate the confusion in this case?

[2020-06-30 17:40] jennwrites opened #361 "Add a call-to-action to subscribe to IPFS YouTube channel."
I think it would be useful to direct folks to learn more by subscribing to our YouTube channel.

Here's the link to the channel:
https://www.youtube.com/channel/UCdjsUXJ3QawK4O5L1kqqsew

Referenced in https://github.com/ipfs/website/issues/389 as well.

[2020-06-30 19:16] bertrandfalguiere commented on #244
@dzhelezov, are you still working on it? I would like to take this on if you don't plan to work on it anymore.

[2020-06-30 19:54] dzhelezov commented on #244
Hi sure feel free to take it, but I am not sure about the current status of this issue -- @johnnymatthews put it on hold back in April

[2020-06-30 23:10] johnnymatthews commented on #244
Oh wow, I dropped the ball on this one. Sorry about that. Yes this project is back up for grabs! I'll assign it to you @dzhelezov if you're ready? There's some features in Go-IPFS 0.6 that might affect this page. Feel free to email me (address on my [GitHub profile](https://github.com/johnnymatthews/) with any questions).

[2020-07-01 08:46] marten-seemann opened #362 "Remove the "Install" section from the "Command-line quick start" guide."
There are two Install guides on docs.ipfs.io: https://docs.ipfs.io/install/command-line-quick-start/ and https://docs.ipfs.io/how-to/command-line-quick-start/. They are slightly different, for example, the latter one instructs Mac users to download the x86 version, which is not supported by current OSX versions any more.

When installing IPFS that way, users will run into problems with OSX Gatekee

[2020-07-01 13:12] dzhelezov commented on #244
@johnnymatthews I am currently busy with another project so perhaps @bertrandfalguiere can take over. I would be happy to share what I've researched and compiled back in April.

[2020-07-01 14:54] johnnymatthews commented on #361
Happy to include this! It'd be good to have a link from the **Community** section, as well as a section on the homepage. Any particular videos you think would be good to call out @renrutnnej?

[2020-07-01 15:34] johnnymatthews commented on #362
There's two issues here:

## We have two _quick-starts_.

Let's delete the quick start under the *How-tos* section.

- [ ] Delete the **Quick Start** section from **How-tos**.
- [ ] File a PR with the infrastructure team to add a redirect `/how-to/command-line-quick-start/   ->   /install/command-line-quick-start/`
- [ ] Remove `/how-to/command-line-quick-start/` from the sidebar.

## IPFS has iss

[2020-07-01 15:38] johnnymatthews commented on #244
@bertrandfalguiere if you're available it's all yours.

[2020-07-01 16:01] bertrandfalguiere commented on #244
@johnnymatthews To be exact, I'll be on vacation Friday and the next week. I will be able to work on it after that, so if someone is available before july 13th, they can have the ticket, otherwise I'll handle it myself.
@dzhelezov Having your previous work would help, thanks for offering it.

[2020-07-01 16:02] olizilla commented on #268
As @terichadbourne mentioned, we've already invested in Transifex as our translation system, as documented here https://github.com/ipfs-shipyard/i18n#adding-i18n-to-your-project

Adding i18n support to vuepress is documented here https://vuepress.vuejs.org/guide/i18n.html

The trick is getting the config right for transifex so it can provide the translated files in the form we need (mostly markdow

[2020-07-01 16:12] marten-seemann commented on #362
Github and dist.ipfs.io seem to serve the same files. Checking again, it also looks like I only get the Gatekeeper warning for the 32-bit version, not the 64-bits.

[2020-07-01 16:15] jessicaschilling commented on #268
I'd +1 everything @olizilla says. And FWIW - our translation community is pretty remarkably active!

[2020-07-01 17:05] renrutnnej commented on #361
Our most popular ones (leaving out the highlights + update focused videos) are:

* How IPFS Deals With Files - IPFS Camp Workshop https://www.youtube.com/watch?v=Y_-TWTmF_1I
* Core Course - The Lifecycle of Data in DWeb - https://www.youtube.com/watch?v=fLUq0RkiTBA
* Solving distributed networking problems with libp2p - IPFS Camp Workshop https://www.youtube.com/watch?v=oIMZP7sfFtM
* How IPFS Work

[2020-07-02 03:55] Freeland90 opened #363 "Deleted a file from Pinata, but is still accessible."
Hello,
I did not upload the file to any other service/machine but Pinata, the file was up there for 2 weeks, I removed it but I can still find the IPFS hash accessible. Does that mean my file got picked up by other nodes? Is there a way to find how many nodes are pining my file?

Thanks

[2020-07-02 06:27] bertrandfalguiere commented on #363
Yes, you file was probably asked by another node. There is no way to know exactly how many nodes have your file. You can estimate the number by using several times ipfs.findprov(CID).

If you have questions of usage with no action to be taken by the developers (bug or request feature), please ask them on discuss.ipfs.io . You can log in with Github in 2 clics.

[2020-07-02 10:46] Freeland90 commented on #363
Thanks my man.

[2020-07-02 10:46] #363 closed

[2020-07-03 23:24] dadepo opened #364 "Explain both persistence and permanence in relation to IPFS."
The documentation page [Persistence, permanence and pinning](https://docs.ipfs.io/concepts/persistence/) has nothing about Persistence nor permanence, even though this is stated in the title. The content of the page is mainly about pinning which definitely relates to Persistence and permanence, but is not all about the topic. I am no expert here, but I will think permanence relates more to immutab

[2020-07-06 17:06] jessicaschilling opened #365 "Clarify OS versions for IPFS desktop and command line availability."
For reference, please see https://github.com/ipfs-shipyard/ipfs-desktop/issues/1565#issuecomment-654349731 -- unfortunately, can't migrate this issue straight into this repo as it's in another org.

@tekbear raised the following:

Reading main page and I cannot determine what OS versions you support - perhaps you could fix that if not already covered.
Which versions of Windows OS will run IPFS -de

[2020-07-07 18:33] realChainLife commented on #243
Hi @johnnymatthews if this is still unassigned I can have a go at it

[2020-07-08 17:18] #313 closed

[2020-07-10 08:06] dzhelezov commented on #244
Here's a (small) write-up I added to the IPNS page: https://github.com/ipfs/ipfs-docs/compare/master...dzhelezov:master

[2020-07-10 08:16] dzhelezov commented on #244
This additional resources may be useful to follow the development of IPNS, but I guess some additional care should be taken to figure out has been actually implemented in IPFS 0.5:

- https://github.com/ipfs/specs/issues/198
- https://github.com/ipfs/go-ipfs/pull/6448
- https://github.com/ipfs/in-web-browsers/pull/150
- https://github.com/ipfs/notes/issues/348
- https://github.com/ipfs-inactive/fa

[2020-07-10 11:18] koalyptus opened #368 "How IPFS works"
Hi,

just letting you know the `IPLD Explorer` link to https://explore.ipld.io/#/explore/QmSnuWmxptJZdLJpKRarxBMS2Ju2oANVrgbr2xWbie9b2D leads to a 404.

Cheers

[2020-07-10 13:46] cwaring commented on #368
Thanks for the heads up! This is back online now.

[2020-07-10 13:46] #368 closed

[2020-07-12 17:39] johnnymatthews commented on #364
Thanks for bringing this up @dadepo. You're point is valid, the title is misleading. The following tasks should be completed to fix this issue:

- [ ] Briefly explain how IPFS handles data (this is already touched on by referring to IPFS as a _cache_ in the current version of this page).
- [ ] Explain what pinning is.
- [ ] Explain why pinning is important if a user wants to keep files available
-

[2020-07-12 17:45] johnnymatthews commented on #365
This is a good point. Let's point out which versions of each OS are supported on the installation pages. Supported Linux distros could be tricky since there are _so many_, but we could just focus on Ubuntu.

[2020-07-12 17:53] johnnymatthews commented on #243
It's all yours @realChainLife!

[2020-07-13 11:37] olizilla commented on #365
For ipfs-desktop there is no obvious reason why it shouldn't work where ever electron works, see: https://www.electronjs.org/docs/tutorial/support#supported-platforms

As for go-ipfs it should work on anywhere a go binary can be compiled for as long the cpu architecture is one of the supported flavours on https://dist.ipfs.io/#go-ipfs

To the best of my knowledge we have not formally defined a com

[2020-07-13 12:43] johnnymatthews commented on #365
The fact that IPFS Desktop runs on Electron makes this a whole lot easier then. I imagine users running Go/JS/Rust IPFS are likely more interested in resource requirements (RAM, HDD space, etc) rather than OS specifications.

For this issue, let's say that IPFS Desktop supports whatever Electron supports. This is from the page @olizilla linked:

As for docs like the command-line quickstart, we can

[2020-07-13 13:57] olizilla commented on #365
The prebuilt binaries for go-ipfs don't require the user to have go installed. They are self-contained, executable files.

We currently only build ipfs-desktop for a subset of the architectures we could possibly do... only `amd64` architecture CPUs, so not i32, or any of the arm flavours, so: >= Windows 7 x64, macOS 10.10 (Yosemite) x64,  Ubuntu 12.04 x64.

[2020-07-13 13:59] dadepo commented on #364
Hi @johnnymatthews

Allow me to offer a quick feedback on the tasks you highlighted...I still think the tasks you outlined are mostly relating to persistence and nothing about permanence.

I stumbled on that page in the documentation when I wanted to understand the difference between Permanence and Persistence, because although the two words sound like synonyms, they refer to slightly different co

[2020-07-14 12:13] johnnymatthews commented on #365
Nice, thanks @olizilla. I've updated the tasks.

Regarding Go-IPFS: is it correct to assume that if you can _build_ the project and create an executable, it will run? Like, if someone managed to install Go on an Amega and built the repo, could it potentially work?

[2020-07-14 12:23] johnnymatthews commented on #364
That's excellent, thanks very much for your input here @dadepo! I've added your points into the above tasks. It's really helpful when we get in-depth feedback and suggestions from folks like yourself.

[2020-07-15 15:39] #264 closed

[2020-07-16 14:32] johnnymatthews opened #373 "IPFS Docs monthly, July 2020"
## Achieved in June

1. Released the [Immutability overview](https://github.com/ipfs/ipfs-docs/issues/264).
1. Cleaned up [issue backlog](https://github.com/ipfs/ipfs-docs/issues) and label everything.
1. Updated docs for [Go-IPFS 0.6 release](https://github.com/ipfs/ipfs-docs/issues/353).

## Goals for July

1. Write and release the [IPFS for Web Devs](https://github.com/ipfs/ipfs-docs/issues/291

[2020-07-16 14:32] johnnymatthews commented on #373
Sorry, was a bit late in posting this one.

[2020-07-16 14:33] #359 closed

[2020-07-16 14:42] johnnymatthews commented on #362
Thanks for checking in on that @marten-seemann. There likely needs to be a discussion around whether or not we should keep the 32-bit version. There's already an internal discussion on _how_ to drop support (seems very simple), we just need to decide whether or not we _should_. I'll update this issue with more information once it comes out.

[2020-07-16 15:05] #291 closed

[2020-07-16 15:15] johnnymatthews opened #374 "Walk web developers through creating an hosting a site on IPFS."
Walk web developers through creating an hosting a site on IPFS.

One of the groups of users IPFS wants to target are web developers. We should have a section where users can create a simple website, host it on IPFS, and attach a domain name to it. This hands on series will teach readers how files websites can be managed with IPFS, and how to integrate their work into the IPFS ecosystem.

## Tasks

[2020-07-16 15:16] johnnymatthews commented on #374
@leon-do.

[2020-07-16 19:25] johnnymatthews commented on #297
@hsanjuan do you still have the bandwidth to write this doc, or should I open it up for a bounty?

[2020-07-16 19:33] johnnymatthews commented on #296
I don't understand the purpose of the [doc you linked to](https://github.com/ipfs/specs/blob/bc6a32ecff76d4b6e5a19955138305598b1a65eb/overviews/implement-api-bindings.md) @hsanjuan. The doc itself is pretty old (2017). Is it still relevant? Is API binding something that users currently use, or is it something they'd like to see?

[2020-07-16 19:38] johnnymatthews commented on #364
Just a heads up @dadepo, I've assigned a bounty to this issue. If you're comfortable completing it yourself and have some spare time on your hands, feel free to give it a go!

[2020-07-17 05:34] bertrandfalguiere commented on #364
I would like to claim this if @dadepo won't

[2020-07-17 08:59] dadepo commented on #364
@bertrandfalguiere please go ahead!

[2020-07-17 12:06] johnnymatthews commented on #364
You read my mind @bertrandfalguiere! I was about to tag you in this issue to see if you'd like to tackle it. As always, leave questions and comments in this thread :)

[2020-07-20 20:25] johnnymatthews commented on #290
Found [the LanguageTool](https://github.com/languagetool-org/languagetool). Could be handy, although it looks like it requires that we set up our own language server. Could complicate things a little bit.

[2020-07-22 13:40] GraceRachmany commented on #302
I love documenting DHTs and addressing systems. Would love to claim this issue! ! Adin, would you be able to give me some of the inside scoop on how this works and I can do the writeup?

[2020-07-22 15:11] johnnymatthews commented on #302
Assigned! These two posts about the DHT might be of use to you @GraceRachmany:

- [The Road to the New DHT](https://blog.ipfs.io/2020-05-19-road-to-dht/)
- [IPFS 0.5 Content Routing Improvements: Deep Dive](https://blog.ipfs.io/2020-07-20-dht-deep-dive/)

[2020-07-27 16:14] #374 closed

[2020-07-28 14:18] johnnymatthews commented on #323
This issue has been address in the [NAT Configuration page](https://docs.ipfs.io/how-to/nat-configuration/).

[2020-07-28 14:18] #323 closed

[2020-07-29 16:47] johnnymatthews commented on #362
[I created an issue to discuss dropping 32-bit macOS support](https://github.com/ipfs/distributions/issues/311). The result of that discussion was to _keep_ supporting 32-bit macOS, and fix the signing process, [which spawned a new issue](https://github.com/ipfs/distributions/issues/273).

So, the second part of this issue, _IPFS has issues installing on macOS_, will be fixed by the [new ipfs/dist

[2020-08-03 14:06] johnnymatthews opened #385 "Explain how to reset an IPFS installation to the default profile."
## [This issue has a bounty of $400](https://github.com/ipfs/devgrants/projects/1)

The following question was asked during the 2020 HackFS hackathon event:

We don't have an explicitly named _default_ profile, just the implicit one in `ipfs init`. The defaults are all [listed in the docs here](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md). This can cause issues if the user wants to

[2020-08-03 14:16] johnnymatthews opened #386 "Explain how to start an IPFS node using a pre-generated private key."
## [This issue has a bounty of $500](https://docs.google.com/spreadsheets/d/1m7Uc0HONbuCDbw2qGzTg3rFzt7CWNm2rjKnnMIsseFg/edit#gid=0)

This question was asked during the 2020 HackFS hackathon event:

JS-IPFS has the [`options.init.privateKey` field](https://github.com/ipfs/js-ipfs/blob/master/packages/ipfs/docs/MODULE.md#optionsinit) you can pass to `IPFS.create`.

## Tasks

- [x] Find out if this

[2020-08-03 21:13] johnnymatthews commented on #302
It looks like I've misunderstood this issue. We just need to amend the **Managing data** section and replace the _Have_, _Want_, and _Don't Want_ bits with something like:

[2020-08-04 04:30] GraceRachmany commented on #302
Do you want an explanation of the Have, Want and Don't Have? That is not in the Bitswap document. It's explained in some of the videos but not in the documentation.

[2020-08-04 13:42] ianopolous commented on #298
If you want to reference a design for encrypted content on ipfs that has been audited by professional cryptographers (super important for anything in this space), then have a look at Peergos. It also includes access control (granting and revoking R, RW or making public), *trustless* servers and privacy focused sovereign identity.
https://book.peergos.org
https://github.com/peergos/peergos

[2020-08-04 17:40] aschmahmann opened #387 "Incorrect js-ipfs config location"
The js-ipfs config is located at https://github.com/ipfs/js-ipfs/blob/master/docs/CONFIG.md and not https://github.com/ipfs/js-ipfs/blob/master/docs/config.md.

Not sure whether we should change the location in the repo or in the documentaiton.

@achingbrain

[2020-08-05 09:12] #387 closed

[2020-08-05 15:40] johnnymatthews commented on #302
I've changed the title of this issue to reflect what actually needs to happen. Work has started on this piece in the `chore/replace-dht-mess-with-bitswap-link` branch. I created the branch before I realized we needed to rework this issue, so please excuse the weird branch name.

[2020-08-06 11:26] dependabot-preview[bot] opened #389 "Dependabot couldn't authenticate with registry.npmjs.org"
Dependabot couldn't authenticate with registry.npmjs.org.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/ipfs) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/ipfs/update-logs/42803482).

[2020-08-06 11:56] #389 closed

[2020-08-07 17:50] johnnymatthews opened #398 "IPFS Docs monthly, August 2020"
## Achieved in July

1. Write and release the [IPFS for Web Devs](https://github.com/ipfs/ipfs-docs/issues/291) project.
1. Assisted the Filecoin team with [Filecoin Docs](https://github.com/filecoin-project/filecoin-docs/).

## Goals for August

1. Further assistance to the Filecoin team (see notes)

## Quarterly objectives

[View the IPFS organization-wide quarterly objects for Q3 2020.](https:/

[2020-08-07 17:51] #373 closed

[2020-08-09 21:50] sergiobat opened #400 "IPFS Documentation"
---
name: Open an issue
about: Only for actionable issues relevant to this repository.
title: ''
labels: need/triage
assignees: ''
---

[2020-08-10 14:22] johnnymatthews commented on #400
It looks like this issue was created by accident. Closing.

[2020-08-10 14:22] #400 closed

[2020-08-10 23:00] autonome opened #403 "Create pages for implementations of IPFS in popular languages other than the official implementations."
Right now we official implementations and places where IPFS is distributed.

We should also have a page or section for language-specific helpers:

* Haskell - https://hackage.haskell.org/package/ipfs-1.1.2
* Python - https://github.com/ipfs-shipyard/py-ipfs-http-client
* ... surely there are more

[2020-08-11 19:24] johnnymatthews commented on #403
This is a good idea, and fits quite well into my plan of having an implementations section:

[code]

\* Surely someone out there is building Lisp IPFS.

[2020-08-12 08:53] vmx opened #404 "Explain how to do symlink-like things in the IPFS world"
I, as a user of IPFS (via the command line tools) have added a directory via `ipfs add --recursive` to IPFS. Now I'd like to have another directory I can link people to, which only contains a subset of those files. Me as a Linux user has symlinks in mind. I wonder how to do that.

Example on how to do it:

[code]

[2020-08-13 02:54] KattyMan06 opened #405 "HTTP API"
When I run `curl --output POST "https://ipfs.infura.io:5001/api/v0/get?arg=/ipfs/QmVH87Cs7e1eK4n5yRnstkbMghVCf3skp45ywitWESAvQL"` it return a text document named POST that shows the directory of the file instead of the jpg that I had added to ipfs

I run `curl -X POST -F file=$"/Test/LUNG\ CANCER\ CT\ TEST/tesst.jpg"  "https://ipfs.infura.io:5001/api/v0/add?quieter=true"` to add the jpg file to ip

[2020-08-16 14:09] johnnymatthews commented on #405
Hi @KattyMan06. Is this a request for support, or did you find some documentation that needs updating/fixing?

[2020-08-16 14:09] johnnymatthews opened #410 "This is a test issue to see if Welcome Bot is working."
This is a test issue to see if Welcome Bot is working.

[2020-08-16 14:16] realChainLife commented on #297
@hsanjuan does the update MFS document explain this issue better, the distinction between MFS & UnixFS?

[2020-08-16 14:27] #410 closed

[2020-08-16 15:30] realChainLife commented on #244
@bertrandfalguiere are you still working on this? I can give it a go if you're not

[2020-08-16 18:57] realChainLife opened #411 "Create a guide/section detailing how to map IPFS hashes to decentralized name systems"
Now that go-ipfs supports the resolution of DNSLink for `.eth` names through the EthDNS can we add a guide for users explaining:

- how EthDNS work with IPFS
- how to add a content hash to domain addresses.

We can also add guides for `.crypto` and `.zil` addresses. Perhaps we can add it to the `/concepts/dnslinks` docs section.

[2020-08-17 08:29] bertrandfalguiere commented on #244
Yes, still on it. I will ship end of next week, though.

[2020-08-17 14:11] hsanjuan commented on #296
I think the actionable here is to clearly stablish that there is a 1-to-1 link between the API and the CLI commands. We should mention this in both the API and the CLI docs I guess.

We can probably live without the rest. We have bindings in most languages and I think people can follow the path of crumbs from the other docs.

[2020-08-17 19:45] swedneck opened #789 "FAQ: How is IPFS and protocol labs funded?"

[2020-08-18 18:37] johnnymatthews commented on #411
I agree, this sounds like it would be a useful guide to have. It might also be useful to attach it to the [Websites on IPFS](https://docs.ipfs.io/how-to/websites-on-ipfs/single-page-website/) section.

Would you say ENSLink deserves it's own page, or can it be combined with the [DNSLink page](https://docs.ipfs.io/concepts/dnslink/)? I've not looked into ENSLink thoroughly yet, so I'm relying on yo

[2020-08-18 18:39] johnnymatthews commented on #281
[NAT configuration page is live](https://docs.ipfs.io/how-to/nat-configuration/#ipv6).

[2020-08-18 18:39] #281 closed

[2020-08-19 00:02] johnnymatthews commented on #296
@hsanjuan ah right! Didn't realize that before. You're saying we should have a call-out saying _hey, the HTTP API and CLI are functionally the same_? That makes sense.

---

Further on down the line (when we've got more time), since they both act pretty much the same we could potentially have a sidebar navigation something like:

[code]

And then in each of the pages (`ipfs`, `ipfs add`, `ipfs bit

[2020-08-19 06:53] hsanjuan commented on #296
Mostly the same.

Note js-ipfs and go-ipfs API are similar but disjoint in some cases.

Your proposed solution would work, at least for go-ipfs, but we'd need to update the doc generation a bit.

[2020-08-19 16:16] johnnymatthews commented on #296
@hsanjuan: How are they different? Are they different enough that we should write a paragraph or page details their differences?

[2020-08-20 15:08] johnnymatthews opened #413 "Explain what the browser extension is, what it's for, and how to install it."
As part of the effort to revamp the **Install** section, we need to create a page (or section in a page) that:

- [x] Explains what the IPFS browser extension is and what it's used for.
- [x] How to install it (through browser extension stores).
- [ ] Why it might not be necessary in the future (if browsers actually add IPFS support).

[2020-08-20 15:09] johnnymatthews opened #414 "Improve the Install section."
The **Install** section is currently very lacking. The only real instructions are how to install Go-IPFS through the command-line. We're currently completely ignoring other users and applications, like the Desktop app or the Companion browser extension. The [`feat/install-section` branch](https://github.com/ipfs/ipfs-docs/tree/feat/install-section) holds all the commits and PRs, just until we're r

[2020-08-20 15:20] johnnymatthews opened #415 "Improve the landing page for the Install section."
The **Install** section is getting a revamp with more sub-sections being added. Because of these new sub-sections, we'll need to direct users to where they need to get to.

## Tasks

- [x] Define the different user groups (developers, folks who want to store stuff, researchers, infrastructure engineers, lost Filecoiners)
- [x] Define what each user-group is trying to achieve.
- [x] Create a header

[2020-08-20 16:41] johnnymatthews opened #416 "Explain how to install IPFS desktop."
We actually already have install instructions for IPFS desktop, [hidden within the **Websites on IPFS** section.](https://docs.ipfs.io/how-to/websites-on-ipfs/single-page-website/#install-ipfs-desktop). Just need to bring that into the **IPFS Desktop** page in the new **Install** section.

## Tasks

- [x] Pull the install instructions from the [**Websites on IPFS** section](https://docs.ipfs.io/ho

[2020-08-24 04:19] autonome opened #419 "Update use-cases page"
Time to do a pass on https://docs.ipfs.io/concepts/usage-ideas-examples/

To remove:

* Radicle: not using IPFS anymore IIRC
* Decentraland: I think maybe isn't either?

To test/review:
* Orion: last updated ~year ago
* Arbore: last updated ~1.5 yrs ago
* Iota: did they ship on IPFS?
* Althea: are they actually using IPFS?
* Nomios: last updated ~1yr ago

To fix:
* "Fleek (previously known as Temp

[2020-08-25 11:19] eliskcage opened #426 "[CONTENT REQUEST] (add your title here!)"
Something in clear english

[2020-08-25 13:28] johnnymatthews commented on #426
Did you run into an issue with the docs @eliskcage? If so, please re-open this issue and explain your problem.

[2020-08-25 13:28] #426 closed

[2020-08-25 13:57] brainwave0 commented on #419
I would like to work on this issue.

[2020-08-25 17:26] hsanjuan commented on #297
@johnnymatthews there has been a big update to this file (c5ed3ecc1e4d46b0e59a9c0718b239d3d432cca4). It has added examples using javascript (which I'm not sure are helpful at all as I would expect go's CLI examples). It still fails to explain how anything works in regards to MFS, while it does a better job with UnixFS.

If I were to work on this, I'd throw most of the MFS subsection away, keeping

[2020-08-25 18:21] johnnymatthews commented on #419
Assigned! Let us know if you have any questions @brainwave0.

[2020-08-26 14:15] johnnymatthews commented on #297
Correct, c5ed3ec was a bounty project completed by @realChainLife (in this thread). Using Go-IPFS or JS-IPFS is a debate for another time, but having any examples at all is a good thing. I'm assuming you no longer have time to write the changes you'd prefer to see on the page. Would you be able give list a few bullet points for what you'd like to see though?

[2020-08-27 13:41] johnnymatthews opened #430 "Explain why hashes are different between systems."
# [This issue has a bounty of $200 USD](https://github.com/ipfs/devgrants/projects/1)

This issue cropped up from a discussion in IPFS IRC.

It somewhat frequently comes up that people ask or wonder why if they do `ipfs add ubuntu.iso` the resulting SHA256 _multihash_ has nothing to do with what they'd get running `sha256sum ubuntu.iso` (or with the hash posted on the Ubuntu website). Depending on

[2020-08-31 08:01] felizycontento opened #432 "Remove the section regarding the Catalonian independence movement."
The spanish governement did not close the sites related to the independence of Catalonia.

It just closed sites created to manage terrorism organizations and acts promoting it.

Thanks

[2020-09-03 14:17] johnnymatthews commented on #432
Hi @felizycontento. Sorry for the delay is responding to your issue. Just so we're all on the same page, I'm assuming [this is the sentence you have issue with](https://docs.ipfs.io/concepts/what-is-ipfs/#decentralization):

Correct?

[2020-09-03 17:45] felizycontento commented on #432
Right, that is.

Thanks for your answer.

Spain is one of the most democratic countries in Europe. Not only does it guarantee the right to claim the independence of any of its regions, but it also allows political parties that pursue it, to come to power both in these regions (as happened in Catalonia) and in the central state. You can check this is forbidden in many other European countries, like

[2020-09-06 14:40] johnnymatthews opened #439 "IPFS Docs monthly, September 2020"
## Achieved in August

1. Assisted the Filecoin team with [Filecoin Docs](https://github.com/filecoin-project/filecoin-docs/).

## Goals for September

1. Further assistance to the Filecoin team (see notes).
1. Complete the [_Revamp the Install section_ project](https://github.com/ipfs/ipfs-docs/projects/1)

## Quarterly objectives

[View the IPFS organization-wide quarterly objects for Q3 2020.](

[2020-09-06 14:40] #398 closed

[2020-09-08 12:57] johnnymatthews commented on #432
That's fair. It's important that the examples we have accurately reflect past events. That being said, the IPFS [gateway ended up being blocked](https://www.reddit.com/r/ipfs/comments/728tt4/note_ipfs_gateway_blocked_in_spain/), so any censorship-resistance IPFS provided was proved moot since folks couldn't access the gateway in the first place.

I'm inclined to **remove this as an example**, sinc

[2020-09-09 14:28] johnnymatthews opened #446 "Stop Prettier auto-formatting tables to be full width of content."
There's an issue-by-design in Prettier where it will automatically have the table widths in markdown extend to the length of the content. For example:

[code]

Becomes

[code]

Looks fine in GitHub when text-wrapping isn't enabled, but it becomes a mess when it is:

![image](https://user-images.githubusercontent.com/9611008/92611705-6eb7b600-f28f-11ea-9fbc-da3ce1dd6768.png)

I'm pretty sure there'

[2020-09-09 15:55] cwaring commented on #446
I think this behaviour has changed in the [recent version of prettier](https://github.com/prettier/prettier-vscode/issues/762), try reinstalling your deps with `npm ci` and lmk if that fixes it.

[2020-09-09 17:08] johnnymatthews commented on #446
Ah, so looks like we just need to add `"proseWrap": "never"` to `package.json`.

[2020-09-10 19:29] Aaaqqq4742 opened #449 "[CONTENT REQUEST] (add your title here!)"

[2020-09-10 19:29] #449 closed

[2020-09-11 14:34] johnnymatthews commented on #419
This was closed in #427.

[2020-09-14 16:49] #292 closed

[2020-09-14 16:49] #415 closed

[2020-09-14 16:49] #416 closed

[2020-09-14 16:50] #356 closed

[2020-09-14 17:07] #432 closed

[2020-09-15 08:34] hsanjuan commented on #296
I think some CLI commands have some flags which are specific to the CLI/client side of things. IIRC those are ignored during the API-docs generation, but could also not be ignored and be printed with a CLI-only warning.

[2020-09-19 15:57] jamiehewitt15 opened #456 "Host a Git-style repo"
When following the Git-style repo tutorial, I have successfully uploaded my repo to IFPS with `ipfs add -r .` However, when I try to download it with `git clone` I am getting the error message below.

Is anyone able to help me with this? I'm not sure what I have done wrong.

[code]

[2020-09-21 13:50] johnnymatthews commented on #456
Hmm, that's odd. Just to double check, can you make sure that you've got an IPFS daemon running? Either using Go-IPFS or IPFS Desktop.

This tutorial is fairly old (in IPFS terms), so it likely needs a revision. I'll run through today to make sure nothing's completely broken.

[2020-09-21 17:27] johnnymatthews commented on #456
Never mind! It's because the URL structure changed. So instead of

[code]

It should be

[code]

Give that a try. I'll change the tutorial :)

[2020-09-21 17:48] #456 closed

[2020-09-21 17:53] johnnymatthews commented on #413
Closes #458

[2020-09-21 17:53] #413 closed

[2020-09-22 09:54] alexmmueller commented on #362
I am wondering if this is a good issue for me to start contributing? I have a product background and surely have a learning curve in working with github, but would be happy to help here.

[2020-09-22 12:49] 3a2 opened #460 "[DOCS ISSUE] Typo - "You" should be "Your""
https://docs.ipfs.io/concepts/usage-ideas-examples/#backup-you-wolfram-data

Hi,

"Backup You Wolfram Data"

should this be

"Backup Your Wolfram Data" ?

Mark

[2020-09-22 14:58] johnnymatthews commented on #460
Nice catch @3a2. Fixed in #461.

[2020-09-22 15:00] #460 closed

[2020-09-22 15:11] johnnymatthews commented on #362
This issue has changed from when it was first created. The [Install](https://docs.ipfs.io/how-to/command-line-quick-start/#install-ipfs) section of the [Command-line quick start](https://docs.ipfs.io/how-to/command-line-quick-start) is a duplicate of the [/install/command-line/](https://docs.ipfs.io/install/command-line/) page, so it needs to be removed. However, the rest of the **Command-line qui

[2020-09-22 15:54] johnnymatthews commented on #405
Gonna close this one since we didn't get a response from @KattyMan06. Feel free to reopen this issue if you're still having problems.

[2020-09-22 15:54] #405 closed

[2020-09-22 18:03] alexmmueller commented on #362
Thank you @johnnymatthews, will do so.

[2020-09-23 00:22] johnnymatthews opened #463 "Update docs for Go-IPFS 0.7 release."
Go-IPFS 0.7 has been released! Time to update everything.

[2020-09-23 13:28] #463 closed

[2020-09-23 13:47] johnnymatthews commented on #322
Oh boy, this got fixed a while go. Missed closing this one somehow. https://docs.ipfs.io/how-to/websites-on-ipfs/single-page-website/

[2020-09-23 13:47] #322 closed

[2020-09-27 19:16] jamiehewitt15 commented on #456
Thank you for your help @johnnymatthews I really appreciate it. Although, unfortunately there is still an issue here.

If I run:
`git clone http://QmYgyahQoikJEbZEkiubwxm16xjCAZs2RUd1qfuus2Zyeq.ipfs.localhost:8080/`

I get the following error message:
`fatal: unable to access 'http://QmYgyahQoikJEbZEkiubwxm16xjCAZs2RUd1qfuus2Zyeq.ipfs.localhost:8080/': Could not resolve host: QmYgyahQoikJEbZEkiubw

[2020-09-28 06:38] alexmmueller commented on #362
Is there anything left to do for me here, or can the issue be closed?

[2020-09-28 06:40] alexmmueller commented on #364
@bertrandfalguiere are you still working on this issue? If not, I would like to give it a shot.

[2020-09-28 12:44] johnnymatthews commented on #456
It's unlikely this is a _Windows_ issue. Do you know which version of IPFS you're running? You can find out by running `ipfs --version` in a terminal:

[code]

[2020-09-28 19:19] #362 closed

[2020-09-28 19:19] johnnymatthews commented on #362
Nope, that's everything! Thanks for your contribution @alexmmueller!

[2020-09-28 21:04] johnnymatthews opened #480 "Evaluate the "Recent releases" section."
The [Recent releases](https://docs.ipfs.io/recent-releases/) section was created for the Go-IPFS 0.5 release to showcase the incredible amount of features, fixes, and optimizations that went into that release. Since then, every major release of Go-IPFS has been listed in that section. However, most of the information contained within the section is copied from blog posts, changelogs, and release n

[2020-09-28 21:06] johnnymatthews commented on #480
At the _very least_ we can change how things show up in the sidebar by collapsing **GO-IPFS 0.7**, **GO-IPFS 0.6**, etc:

![image](https://user-images.githubusercontent.com/9611008/94486061-413a9a00-01b5-11eb-8a1f-72d8c02cf308.png)

[2020-09-30 06:24] jamiehewitt15 commented on #456
I'm running ipfs version 0.6.0

I think the problem must be due to the redirect, as it worked fine when I requested from the IP address. I think it might be related to this issue: https://github.com/ipfs/go-ipfs/issues/7527

[2020-10-03 22:57] johnnymatthews commented on #456
Ah, I think you're right. I'm gonna leave this issue as closed for now then.

[2020-10-04 23:03] johnnymatthews opened #486 "Add package manager install options for IPFS Desktop."
## [This issue has a bounty of $100](https://github.com/ipfs/devgrants/projects/1)

Most IPFS users are familiar with how package managers work, and would likely benefit from having super-fast install instructions for Homebrew, Chocolatey, Snap, etc.

The [IPFS Desktop GitHub repo](https://github.com/ipfs-shipyard/ipfs-desktop) lists a few supported package managers, so copying them into this repo

[2020-10-05 17:19] jessicaschilling opened #487 "Case studies: Holding pen for new subjects"
This issue is a holding pen for future [case studies](https://docs.ipfs.io/concepts/#examples-and-case-studies) to include on the docs site. (Individual case studies will be worked in their own issues.) Please feel free to comment and nominate more!

Note: As of October 2020, this series is temporarily on hold until we get some time/space out from Filecoin mainnet launch; anticipating that we'll s

[2020-10-05 18:51] alexmmueller commented on #334
If the needed input is available @momack2 I would be happy to start with this issue.

[2020-10-06 13:08] johnnymatthews opened #489 "Explore adding a one-liner to the command-line install instructions."
# [This issue has a bounty of $50](https://github.com/ipfs/devgrants/projects/1)

@mburns brought up that they prefer to copy-and-paste the install instructions into a terminal. It might be handy to see if we can create _one-liners_ that download, unzip, install, and test the Go-IPFS install.

So the Linux install could look something like this:

[code]

Not sure if `wget` comes installed by defau

[2020-10-06 14:06] johnnymatthews opened #490 "IPFS Docs monthly, October 2020"
## Achieved in September

1. Assisted the Filecoin team with [Filecoin Docs](https://github.com/filecoin-project/filecoin-docs/).
1. _Mostly_ completed the [_Revamp the Install section_ project](https://github.com/ipfs/ipfs-docs/projects/1). Just the server installation section left.

## Goals for October

1. Further assistance to the Filecoin team (see notes).
1. Automate the docs planning.
1. Di

[2020-10-06 14:06] #439 closed

[2020-10-06 14:14] johnnymatthews commented on #253
The [Install section](https://docs.ipfs.io/install/) now clearly splits up each installation option, with IPFS Desktop right at the top. The only remaining task in this issue is to create an installation section for IPFS cluster / server set ups, which is duplicated in #355. Closing this issue.

[2020-10-06 14:14] #253 closed

[2020-10-06 15:47] bertrandfalguiere commented on #489
Yes, wget is installed by default on Ubuntu.
The above one-liner works on Ubuntu 20.04.

[2020-10-06 18:04] alexmmueller commented on #300
@johnnymatthews Is this issue still relevant? If so, I could give it a shot.

[2020-10-06 18:26] johnnymatthews commented on #300
It is! However, it should probably go in `/install/command-line/` under a `### IPFS Update` header.

[2020-10-06 18:51] lidel opened #491 "“best practices for busy builders” page"
We have some features which are disabled or are not defaults yet, but we encourage people to use them.
Having a single link with a list of such suggestions for busy builders could be handy

Topic ideas:

- use cidv1 for future-proof addressing, and use in case-insensitive contexts
- enable pubsub if you need fast IPNS
- enable GC if your data churn is expected to be high
- use subdomain gateways o

[2020-10-06 19:22] alexmmueller commented on #300
Alright. I will prepare the requested changes.

[2020-10-07 09:08] realChainLife commented on #411
Hey @johnnymatthews yes, we can add some pointers on the Websites on IPFS: Set up a domain section.

We could also have an EthDNS, EthLink specific page that's a deep dive on how EthDNS works with IPFS, but if it doesn't make the write-up too long we can add the giuideline to set contenthash to ENS to the Alternatives to IPNS section of the updated [IPNS concept doc](https://github.com/ipfs/ipfs-d

[2020-10-08 14:13] #282 closed

[2020-10-08 23:28] lizelive commented on #355
Im hyped about these docs. The current ones are a bit hard to follow.

[2020-10-12 15:13] atopal opened #495 "Explain how to share CIDs of files that are constantly updating."
This is a thought based on the conversation here: https://www.reddit.com/r/ipfs/comments/j84j15/ipfs_paradox_cant_find_the_answer_anywhere/

DNSLink doesn't come up in that conversation (which seems to be the preferred way?). The docs mention the issue in multiple places, eg. [concepts/p2psharing/ipns/](https://docs.ipfs.io/concepts/ipns/) and [How-tos/Websites on IPFS/Link a domain](https://docs.

[2020-10-13 17:27] johnnymatthews commented on #495
Here's the original question from Reddit (just in case it gets deleted over there):

Here's a vaulable reply from [DavidBurela](https://www.reddit.com/r/ipfs/comments/j84j15/ipfs_paradox_cant_find_the_answer_anywhere/g8995uq/):

[2020-10-14 13:41] alexmmueller commented on #300
@johnnymatthews  I made good progress already, but wonder where I can find information on how to uninstall ipfs-update. Can you give me a hint? Thank you!

[2020-10-14 14:36] johnnymatthews commented on #300
There are no docs for uninstalling IPFS-Update, that I know of. I'm assuming the process is something like:

1. Remove the `ipfs-update` binary from your system.
1. Remove `ipfs-update` from your `PATH`.
1. Reboot.

But I'll check into this for you.

[2020-10-14 15:37] johnnymatthews commented on #302
Closed in #412 .

[2020-10-14 15:37] #302 closed

[2020-10-15 03:21] johnnymatthews commented on #293
## Tasks

- [ ] Import IPFS-CSS into this repo to replace the current styles.
- [ ] Re-run the above accessibility tests. This site should pass all tests.

[2020-10-15 16:58] johnnymatthews commented on #298
How's progress @EricLScace?

[2020-10-15 17:04] johnnymatthews commented on #244
How's this issue going @bertrandfalguiere?

[2020-10-15 17:07] johnnymatthews commented on #364
Are you still working on this @bertrandfalguiere? If not, I'll unassigned you and open the floor to other contributors.

[2020-10-17 05:23] ChaituVR commented on #337
@johnnymatthews you have any other file url to replace this?

[2020-10-19 10:11] olizilla commented on #296
@johnnymatthews could you update the description on this issue to define exactly what changes are required in order to claim this bounty?

[2020-10-19 13:08] LudwikJaniuk opened #514 "Configure a node unclear formulation "around the country""
I would just like a clarification on the last paragraph.

Around which country? Or do you mean around the world?

[2020-10-19 13:52] kstuart commented on #293
@johnnymatthews as indicated `ipfs-css` styles will only pass the AA contrast tests, not the AAA tests, which would require a much darker link colour.  You're requirement should probably be updated to only require AA tests to pass.

[2020-10-19 15:08] autonome opened #517 "Explain how to set up IPFS behind a load balancer."
Should go in a section for production services or something like that, if we don't already have.

From @jacobheun in email:

That last bit also probably needs a whole section - the whole "what is my app vs what is my peer id" problem.

[2020-10-19 15:56] johnnymatthews commented on #337
[The contribution guidelines recommend space-themed content](https://docs.ipfs.io/community/contribute/code-persona/#the-theme). An image of a planet in our solar system would probably be a good idea. We'd need to make sure that we're allowed to freely use the image ([unsplash.com](https://unsplash.com/) is probably the best place to source royalty-free images).

[2020-10-19 16:10] jacobheun commented on #517
This isn't so much to do with load balancers as it is external vs internal addresses. A common example of this for something like AWS might involve announcing an Elastic IP from your node, or a DNS address that's mapped to your Elastic IP, which would allow you to more easily perform maintenance on the underlying node without having to deal with changing container IPs.

Actually load balancing to

[2020-10-19 22:14] johnnymatthews commented on #296
I've just created a new PR #518 that re-adds the `docs/reference/generate-cli-docs.sh` script. Once that's in there, @ChaituVR can you add the changes you made in #512 into `docs/reference/generate-cli-docs.sh`?

[2020-10-19 22:23] johnnymatthews commented on #514
Correct, looks like that's a long buried error. Thanks for bringing it up! #519 closes this issue.

[2020-10-19 22:23] #514 closed

[2020-10-20 06:19] ChaituVR commented on #296
@johnnymatthews ok will add once it is merged

[2020-10-20 09:10] LudwikJaniuk commented on #514
Thank you for fixing it and being responsive!

[2020-10-20 14:29] #486 closed

[2020-10-20 14:37] johnnymatthews commented on #293
Good point @kstuart, thanks for picking up on that. Updated the tasks.

[2020-10-20 14:42] johnnymatthews commented on #517
Slapped the `expert` tag on there because I wouldn't know where to start with this one. @jacobheun do we have anything hidden away that touches on this? Failing that, would you or anyone else on the IPFS team be able to share a few notes about this topic?

[2020-10-20 16:15] padmanabhak opened #521 "Explain how nodes interact over a private network."
I am not sure if the windows ipfs and linux ipfs versions have to be the same for private cloud to work. It seems like windows version and linux version numbers are different and not sure if they are compatible.

Documenting the private cloud setup and compatibility will help.
thx

[2020-10-21 02:16] lyjmry opened #522 "ipfs"
I found that when I unpacked the ipfs desktop (batch) for download, the individual files had no filenames

[2020-10-22 16:47] johnnymatthews commented on #522
Is this an issue you ran into within the docs? Can you link to a specific page?

[2020-10-22 17:15] denim2x commented on #293
I'm working on it

[2020-10-25 16:45] johnnymatthews commented on #521
Just out of curiosity, what are you trying to do with IPFS @padmanabhak?

[2020-10-25 20:33] padmanabhak commented on #521
Have setup a private ipfs linux bootstrap.Windows and Linux ipfs are nodes on the private network.

Sent via the Samsung Galaxy Note9, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Johnny <notifications@github.com>
Sent: Sunday, October 25, 2020 9:45:40 AM
To: ipfs/ipfs-docs <ipfs-docs@noreply.github.com>
Cc: Paddy Kan

[2020-10-26 09:41] nomaga opened #528 "[DOCS ISSUE] (add your title here!)I quit before beginning"
Hello,
I was very interested in IPFS till I discovered : 1) It uses GO (google) 2) It uses github (microsoft) 3) It uses Snap on linux.
Too bad :( I'm outta here.

[2020-10-26 15:06] johnnymatthews commented on #528
If you're looking for a discussion on these points, [the forum would be a better place](https://discuss.ipfs.io/).

[2020-10-26 15:06] #528 closed

[2020-10-27 12:37] AlexxNica commented on #295
I can work on this one. Could you please elaborate on which goals you're looking to complete with this bounty?

Also, what do you think of breaking these goals into separate bounties? That way I can work on them separately without spending too much time trying to complete the whole issue at once, and enables us to release them sooner.

[2020-10-27 13:12] AlexxNica commented on #386
I like this one! Is there a limit to how many issues with bounties I can take at the same time? 😅

[2020-10-27 13:45] jay-dee7 commented on #385
@johnnymatthews would it be okay for me to work on this?

[2020-10-27 16:37] johnnymatthews commented on #355
@lizelive I'm glad you're excited! PR #467 is currently in review that you could take a look at. Right now it's just a simple quick start for setting up a local IPFS Cluster environment using Docker. We'd really value your feedback!

[2020-10-27 18:19] ChaituVR commented on #301
I am thinking to work on this but still waiting for #518 to be merged

[2020-10-28 15:11] johnnymatthews commented on #386
@AlexxNica we haven't set a hard limit, but to keep everything fair and open it might be an idea to set a limit of two bounties at once. That way we can have multiple people working on different issues at once, and we're not bottlenecked too much.

I'll assign you to this issue. Are you happy with the tasks outlined above? If you've got any questions, just post them in here :)

[2020-10-28 15:12] johnnymatthews commented on #385
@jay-dee7 , you've been assigned! Are you happy with the tasks above? If you've got any questions, just post them in here.

[2020-10-28 15:18] johnnymatthews commented on #296
@ChaituVR, #518 has now been merged :)

[2020-10-28 15:20] johnnymatthews commented on #301
@ChaituVR I've assigned you to this issue. If you have any questions, just drop them in here :)

[2020-10-28 16:42] jay-dee7 commented on #385
Thanks @johnnymatthews and I've seen, by default flatfs is being used  as profile but let me go over this in detail over the weekend and I'll post any question here after that.

[2020-10-30 21:19] AlexxNica commented on #386
@johnnymatthews Perfect! I agree with that limit and think it's good to have such a limit so we can let more people collaborate.

I'm happy with the tasks! I'll let you know if any questions emerge!

Thank you, Johnny! 😃

[2020-11-01 16:10] jay-dee7 commented on #385
hey @johnnymatthews i did spend some time with this, i have a question though.
do we have cross-profile compatibility? So far what i could understand about profiles is that they're sort of underlying datastores for the ipfs nodes like `badgerds` uses Dgraph's badger KV and `flatfs` probably uses LevelDB. So if we have some data (bunch of files) inside our existing profile on our IPFS node, when we

[2020-11-02 16:45] #355 closed

[2020-11-03 16:09] johnnymatthews commented on #522
Closing after no response.

[2020-11-03 16:09] #522 closed

[2020-11-03 16:34] hsanjuan commented on #385
For the case where one profile uses badger and the other not (or viceversa), I think https://dist.ipfs.io/#ipfs-ds-convert must be used to migrate the data (unless that happens by default, try it out!). I don't remember the specific usage of this tool, but it may be that the flow is like:

1. Run ipfs-ds-convert with the right flags
2. Wait for migration to finish (I think it updates the configura

[2020-11-03 16:46] johnnymatthews opened #533 "Remove the icons from the IPFS Companion Install page."
There are a bunch of icon in the [IPFS Companion Install page](https://docs.ipfs.io/install/ipfs-companion/):

![image](https://user-images.githubusercontent.com/9611008/98014702-f9b5b800-1dc9-11eb-83a6-508b2c959573.png)

They're not very useful, and take a decent amount of time to load.

## Tasks

- [ ] Remove the icon images from the **Install** section of the [IPFS Companion Install page](https

[2020-11-04 07:34] jay-dee7 commented on #385
Thanks a ton @hsanjuan this is exactly what i was looking for. I'll give the above method a shot and prepare a draft from it :)

[2020-11-07 19:10] jay-dee7 commented on #385
hey guys, just a little update:
I tried converting datastore using the `ipfs-ds-convert` looks like the master is broken. The usual `go get` didn't work, i had to navigate to the cloned repository and run `make install` and it worked. Also i checked, data does not get migrated by default and we have to first apply a profile, then convert the underlying datastore and then we're sort-of ready with o

[2020-11-07 19:25] jay-dee7 commented on #489
@johnnymatthews AFAIK MacOS comes preinstalled with libcurl, this command works just fine on MacOS
`curl https://dist.ipfs.io/go-ipfs/v0.7.0/go-ipfs_v0.7.0_darwin-amd64.tar.gz -O && tar -xvzf go-ipfs_v0.7.0_darwin-amd64.tar.gz`

[2020-11-08 08:44] alexmmueller commented on #489
That's true @jay-dee7. I use MacOS Catalina: curl is preinstalled, wget is not. On windows PowerShell I can confirm that wget (with parameter -OutFile) works out of the box.

[2020-11-09 21:01] shaungt1 opened #537 "Create a tutorial on how to integrate IPFS as the file system for Angular applications."
I would like to know if there are more instructions as to set up a website (Angular, Vue, React..) and use IPFS to host images, files, and or user data. Allowing an SPA to be completely decentralized or semi-decentralized

[2020-11-09 21:01] johnnymatthews commented on #489
Commenting here before I forgot. Powershell users need to set their [script execution policy to `RemoteSigned`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_execution_policies?view=powershell-7):

[code]

The above line has to be ran as admin.

[2020-11-09 22:41] johnnymatthews commented on #537
Such tutorials do not yet exist, but we're looking to create more web-developer focused guides and docs in 2021. Do you have any specific topics you'd like to see discussed? This will help us decide what to build first.

[2020-11-10 00:12] #300 closed

[2020-11-10 15:36] shaungt1 commented on #537
Yes I would like to know how to integrate IPFS as the file system for Angular applications. More so the logistics such as if I would need to separately host  the web app or  if hosting an Angular SPA on IPFS a viable option? Maybe more novice understanding
 of how a web apps such as DTube are implemented on IPFS (Not Steam Chain Only IPFS).

 For instance I have a SPA chat/image application I want

[2020-11-10 18:07] johnnymatthews commented on #537
Thanks for your input @shaungt1, it's really appreciated. I've changed the title of this issue to reflect the main actionable to come out of your request. Next, we need to figure out how this integration would work, and then create a tutorial based on those findings. There might be a bounty placed on this issue in early 2021, once we have fleshed out exactly what we need to do. Feel free the post

[2020-11-11 14:39] eminence opened #539 "Re-check the "Link a domain" tutorial is still relevant."
Hello!

In the Website on IPFS  /  Link a Domain section of the docs, there is a reference to the `www.gateway.ipfs.io` domain.  But this domain doesn't exist.   Can the docs be updated to include the correct domain name to use for a CNAME?

Here's a link to the published docs that make this reference:
https://docs.ipfs.io/how-to/websites-on-ipfs/link-a-domain/#domain-name-service-dns
See step (2)

[2020-11-13 17:07] shaungt1 commented on #537
Awesome thank you!

[2020-11-13 17:58] johnnymatthews commented on #539
Hmm, something may have changed along the way. It's been a few months since that tutorial was created, so we'll have to run through it again to see if it needs updating. It could probably do with some screenshots to spice things up a little bit too.

## Tasks

- [ ] Run through the [Link a domain](https://docs.ipfs.io/how-to/websites-on-ipfs/link-a-domain/#domain-name-service-dns) tutorial.
- [ ]

[2020-11-15 16:24] #490 closed

[2020-11-16 17:37] #533 closed

[2020-11-16 18:49] Stebalien commented on #301
I'm a bit unclear on why we need to clarify that `ipfs ls` won't list files in MFS. Introducing `ipfs files ls` from the `ipfs ls` command seems like it may just confuse new users by introducing a new unfamiliar concept.

[2020-11-24 08:47] ChaituVR commented on #301
@dadepo @johnnymatthews

ipfs/go-ipfs#7755 Have all the tasks above, except `Explain that ipfs ls works on IPFS paths`
which is ignored because it may cause confusion to new users as mentioned by @Stebalien

if we add "it only works with IPFS paths" - new users may feel "what other paths are available than IPFS? "
if we add "It won't work with MFS paths" - new users may feel "what is MFS?"

For MF

[2020-11-24 18:40] #301 closed

[2020-11-25 15:59] #296 closed

[2020-11-26 05:18] #539 closed

[2020-12-01 23:40] johnnymatthews opened #553 "Create high-level map for the "Getting started" section."
# Getting Started

To create a simple flow for new readers coming to the IPFS docs, we need to have a really good Getting started section that covers the main points of IPFS:

- What is IPFS
- Why IPFS exists, and the current problems with Web 2.0
- How does IPFS solve these problems

## What: a simple definition of IPFS.

- Set of protocols that allow computers to share data.
- Based around peer-

[2020-12-10 00:13] teknomunk opened #888 "Document response formats for commands at /api/v0/"
As seen on [this page](https://docs.ipfs.io/reference/http/api/), the response sections of every API call have no explanation of the returned fields. In one instance in particular, [/api/v0/add](https://docs.ipfs.io/reference/http/api/#api-v0-add), there is enough confusion about the Name and Hash fields to spawn [a forum thread](https://discuss.ipfs.io/t/are-these-seriously-the-docs/9594/6) tryin

[2020-12-10 17:09] jessicaschilling opened #560 "Augment privacy concept guide with more detailed topics"
We've got https://docs.ipfs.io/concepts/privacy/ as a very high-level guide to IPFS and privacy aimed toward IPFS newcomers (this is linked to from Brave's node prefs). Let's augment it with a more detailed guide to IPFS, privacy, and suggestions/pointers for mitigating potential privacy concerns. Suggestions:
- Break out into additional page(s), so as not to make the high-level guide overwhelming

[2020-12-11 10:27] alexmmueller commented on #364
@johnnymatthews I have started to create a draft for this issue. Maybe you want to assign it to me as @bertrandfalguiere has not yet answered?

[2020-12-11 12:09] bertrandfalguiere commented on #364
Yes, sorry for letting you down. I won't be able to work on it anymore

[2020-12-11 16:20] johnnymatthews commented on #364
No problem @bertrandfalguiere, life get it's the way sometimes :)

@alexmmueller, you're now assigned to this issue. Let me know if you have any questions.

[2020-12-14 18:20] johnnymatthews opened #565 "Hide the "Make a service" guide."
PR #563 brought up the fact that the [Make a service page](https://docs.ipfs.io/how-to/make-service/#make-a-service) is very outdated. Having a guide on creating a service is useful, but we'll need to put some work into it. For now, we should remove the page from the sidebar so that folks don't try and follow through the guide. Let's also put a big warning at the top of the page saying that it's o

[2020-12-23 19:06] alexmmueller commented on #430
@johnnymatthews I can give this one a try if you like.

[2020-12-30 05:16] johnnymatthews commented on #430
It's all yours @alexmmueller! Drop your questions in here if you have any.

[2021-01-04 23:15] johnnymatthews commented on #386
Thanks for your initial PR @AlexxNica! I've merged it into the `pre-production` branch. But, I just noticed that the last two tasks above still need to be completed. There's no rush, but when you get the time can you please complete the two remaining tasks:

You're best the make your branch based off the `pre-production` branch so that things get merged in a bit easier. Thanks!

[2021-01-06 23:08] #414 closed

[2021-01-07 16:10] johnnymatthews opened #586 "Import "run Go-IPFS in Docker" instructions."
The [Go-IPFS repo readme](https://github.com/ipfs/go-ipfs#running-ipfs-inside-docker) has [instructions for running the a Go-IPFS node with Docker](https://github.com/ipfs/go-ipfs#running-ipfs-inside-docker). We should bring these instructions into this repo.

## Tasks

- [x] Create branch for this issue.
- [x] Create a new page for Docker.
- [x] Copy the content over from [github.com/ipfs/go-ipfs

[2021-01-07 19:42] swedneck opened #589 "Remove the package manager section from the "Command-line install" page."
I feel that snap just causes more strangeness than is worth, and can really confuse people when they don't find stuff where they expect it (e.g. ~/.ipfs), and it can make helping the people using it more difficult.
I would suggest acknowleding that the snap package exists but not recommend it as THE way to install it on ubuntu.

It's also somewhat strange to only list chocolatey, homebrew, and sna

[2021-01-07 23:13] #386 closed

[2021-01-09 11:53] craigallan opened #590 "[DOCS ISSUE] Personal storage basics"
Hi. Here are some questions I cannot find answers for. No doubt others will be interested too. Perhaps add to the docs answers to these questions...

1. Donate to the Cause - As in BitTorrent, does ipfs use local storage on my machine for random files (or pieces) placed by random strangers?
2. Pay for Play - Can I limit the use of my rather expensive storage space?
3. Pay for Play - I only have me

[2021-01-11 19:33] johnnymatthews commented on #589
The purpose of including the package manager install options is to reduce the time and effort it takes to install IPFS. A lot of readers use these one-liners to quickly install IPFS, without much configuration.

Snap is included because it comes pre-installed with Ubuntu, and it's a pretty simple way to install IPFS. While Chocolatey and Homebrew don't come pre-installed on their respective operat

[2021-01-12 04:48] johnnymatthews commented on #590
[No](https://docs.ipfs.io/concepts/privacy/#controlling-what-you-share)

[Yes](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#datastorestoragemax).

There is no _built-in_ way to do this with any of the IPFS releases. However, it's a good idea! Why not raise an issue in the [Go-IPFS repo](https://github.com/ipfs/go-ipfs/issues)?

I think you misunderstand how IPFS works. Like your firs

[2021-01-12 04:48] #590 closed

[2021-01-14 10:37] lidel commented on #589
@swedneck which docs you suggest changing/adjusting?
https://docs.ipfs.io/install/ipfs-desktop/#ubuntu suggests using `.deb` for Ubuntu (not `.snap`).

On top of what @johnnymatthews  said, the downside is that `.deb` installed manually  won't get autoupdates and people will be stuck at old versions.  Snap users get updates for free, so perhaps we should suggest that instead, as long we solve `~/.

[2021-01-14 16:18] johnnymatthews commented on #364
Closed in #572.

[2021-01-14 16:18] #364 closed

[2021-01-14 17:54] johnnymatthews commented on #385
Closed in #545.

[2021-01-14 17:54] #385 closed

[2021-01-18 17:39] cwaring commented on #260
Stale issue, closing for now.

[2021-01-18 17:39] #260 closed

[2021-01-21 17:42] zaman10d opened #603 "[DOCS ISSUE] (add your titlese here!)secret title"
The greatest moment. Amazing Intersted. Done.

[2021-01-21 22:01] Kaezon opened #604 "Add an explanation of what each profile does in the "Available profiles" section."
Currently, the "Available profiles" section of default-profile.md simply enumerates valid IPFS profiles.
Could it perhaps be expanded to include some explanation of what each profile is, or else link to a document which does?

[2021-01-23 11:14] tjayrush opened #606 "Mention the Brave browser and Filecoin's long-term storage in the Installation section."
You should update this page in at least one, possibly two ways:

1) You should mention that the brave browser now supports IPFS natively,
2) You should mention Filecoin for its 'pinning service' aspects of long-term storage.

[2021-01-24 16:27] kvutien opened #608 "Supplement IPFS concepts with diagrams."
I'm reading the explanations on [https://docs.ipfs.io/concepts/how-ipfs-works/#distributed-hash-tables-dhts](https://docs.ipfs.io/concepts/how-ipfs-works/#distributed-hash-tables-dhts) and I find it a bit hard to follow. Maybe it's not quite a "IPFS 101" because you assume the reader is not a beginner? [https://en.wikipedia.org/wiki/101_(topic)](https://en.wikipedia.org/wiki/101_(topic))

Until th

[2021-01-24 22:05] duc811997 opened #609 "Node types"

[2021-01-25 15:22] johnnymatthews commented on #289
This issue doesn't have a closing-scope. Gonna close this in favour of an actionable issue.

[2021-01-25 15:22] #289 closed

[2021-01-25 15:37] johnnymatthews commented on #365
This issue was closed in #584.

[2021-01-25 15:37] #365 closed

[2021-01-25 15:52] johnnymatthews opened #610 "List Go-IPFS documentation that isn't in this repo."
The Go-IPFS project has documentation all over the place. To close this issue, list the publicly available docs. The majority of docs will likely come from the Go-IPFS team. But, if there are any important and relevant docs created by third-parties (blog posts, forums, StackOverflow, etc) then they should be listed here to.

[2021-01-25 15:54] johnnymatthews opened #611 "Find and list JS-IPFS docs that aren't already in this repo."
The JS-IPFS project has docs all over the place. To close this issue, list the publicly available docs. The majority of docs will likely come from the JS-IPFS team. But, if there are any important and relevant docs created by third-parties (blog posts, forums, StackOverflow, etc) then they should be listed here to.

[2021-01-25 15:59] johnnymatthews opened #612 "Find and list IPFS Cluster docs and bring them into this repo."
The IPFS Cluster project has the majority of their docs in their own [docs website](https://cluster.ipfs.io/documentation). To keep everything _IPFS related_ together, we need to create a list of all the relevant docs IPFS Cluster has both in their docs site, and other publicly available docs.

This issue is to list the docs, not to actually bring them into this repo. Not yet.

[2021-01-25 16:04] johnnymatthews opened #613 "Find any docs related to IPFS Desktop that aren't in this repo already."
IPFS Desktop is a key project that, while not explicitly within the Protocol Labs org, is heavily relied on within the IPFS Docs. With this in mind, we should explore bringing any IPFS Desktop docs into this repo.

## Tasks

- [ ] Find out if there is enough relevant info/docs to bring into this repo.
    - [ ] If yes: list those docs, including any relevant blog posts/forum posts/external tutoria

[2021-01-25 16:06] johnnymatthews opened #614 "Explore including IPFS updater docs in this repo."
[The IPFS updater](https://github.com/ipfs/ipfs-update#from-source) is a key project that, while not explicitly within the Protocol Labs org, is heavily relied on within the IPFS Docs. With this in mind, we should explore bringing any IPFS updater docs into this repo.

## Tasks

- [ ] Find out if there is enough relevant info/docs to bring into this repo.
    - [ ] If yes: list those docs, includi

[2021-01-25 18:11] duc811997 commented on #609
Duplicate of #

[2021-01-25 18:11] #609 closed

[2021-01-25 23:23] #603 closed

[2021-01-26 00:03] johnnymatthews commented on #606
That's a fair point. Thanks for the suggestions @tjayrush!

[2021-01-26 00:06] johnnymatthews commented on #604
Just to check we're on the same page, [are you referring to this section](https://docs.ipfs.io/how-to/default-profile/#available-profiles) @Kaezon ?

[2021-01-26 00:14] johnnymatthews commented on #608
This is a fair point. There currently aren't any designers/illustrators on the IPFS docs team, and as such, we've relied pretty heavily on words to explain and educate. However, adding a few diagrams through the docs will hugely improve things, especially within the concepts section. What we should do here is define exactly which concepts need diagrams and what those diagrams should illustrate.

@

[2021-01-26 08:13] Kaezon commented on #604
Correct. That's the one.

[2021-01-26 09:17] kvutien commented on #608
...

Thank you for the indulgent reply. I'm just starting to get acquainted with IPFS for a **#tech4good** project named _Machu Picchu_ so this page is my first contact. This is why I contributed this remark because it's a reaction from someone really fresh in the domain, and eager to learn.

If you want, I could try and share a set of Google slides with you, containing some tentative diagrams how

[2021-01-26 16:23] johnnymatthews commented on #608
That would be incredibly useful, thanks!

_Machu Picchu_ sounds like an interesting project! No doubt we'll hear more about it in the future.

[2021-01-26 17:29] kvutien commented on #608
Something like this? https://docs.google.com/presentation/d/1BwmFejXzTJ0O3PscuXdKk44ldyOUlGXV0rTuIddCgKE/edit?usp=sharing

[2021-01-27 10:17] AlexxNica commented on #386
Hey, @johnnymatthews! I've taken some time off and am coming back now. Sorry for any delays!

On the tasks you mentioned, I don't see a direct benefit or specific security concern for using pre-generated private keys. I believe that both depend solely on the problem the developer is trying to solve. So what I did instead was to [present use cases instead of benefits](https://github.com/ipfs/ipfs-d

[2021-01-28 15:16] johnnymatthews commented on #386
Ah! Thanks for the reminder! Not sure why I marked it as unnecessary if I created an issue for it. I must've ran out of tea that day.

I've just created #618 to re-add it. And your other point is fair, the use-cases work to explain the benefit of using private keys.

[2021-01-28 16:49] adrapper opened #619 "Include IPNS within the "Websites on IPFS" section."
This page is just fantastic.

I miss-typed index.html which gave me some trouble, but I am not at the moment back in the habit of having to be VERY precise.

One thing that is not mentioned. It is probably very obvious to anyone who is experienced in IPFS, but if I change the content of the folder, will the CID for that folder change. I think it would and therefore pointing a domain at it really i

[2021-01-28 17:47] adrapper opened #620 "Encourage readers to customize their version of the multi-page website."
Sorry brain having trouble here...

If each person going through this tutorial creates exactly the same files. will not the CID generated be exactly the same and therefore the page being display will not be my page but one that the very first person created?

Or am I misunderstanding the way that IPFS deals with duplicates/

When I ran through this tutorial I added a name to the page as in <p>alte

[2021-01-28 18:20] dbclinton opened #621 "Pin files - ipfs pin doesn't behave as predicted on the page"
Hi,
I'm playing with `ipfs pin` and read [this page](https://docs.ipfs.io/how-to/pin-files). Adding a file using `ipfs add` does create a recursive pin as suggested but, on my v. 0.7.0 system at least (running in an Ubuntu 20.04 LXD container), `ipfs pin rm` will successfully unpin it, even without adding `-r`.
Has IPFS functionality changed since this page was last updated?
Thanks,

[2021-01-28 21:17] bertrandfalguiere commented on #620
Or add a random number in the page?

[2021-01-28 23:10] johnnymatthews commented on #620
Nope, you're completely correct @adrapper. If I create a `.txt` file with the contents `hello world`, then IPFS gives me the CID `QmT78zSuBmuS4z925WZfrqQ1qHaJ56DQaTfyMUF7F8ff5o`. But if I edit that file and add an exclamation point `!` to the end of `hello world`, I get the CID `QmeV1kwh3333bsnT6YRfdCRrSgUPngKmAhhTa4RrqYPbKT`.

So in that sense, if everyone following the tutorial just copies and p

[2021-01-28 23:17] johnnymatthews commented on #619
So, you've touched on a fairly important point here @adrapper; how to change content without having the change the CID a domain is looking at. The best way to get around this is to use [IPNS](https://docs.ipfs.io/concepts/ipns/#interplanetary-name-system-ipns). I won't go into too much detail here, but the main idea is that users can give other users a CID that itself do not change, but the conten

[2021-01-28 23:29] johnnymatthews commented on #621
Hi @dbclinton, yeah it looks like this functionality has changed but these specific docs weren't updated. I've changed the title and tags to reflect what needs to be done here. Thanks for bringing this up!

[2021-01-29 08:28] adrapper commented on #619
I am not sure if we should reply to these updates or if that just give you more work…

But Thanks.

It would be nice if in the how to "give other users a CID that itself do not change, but the content that the CID points to can change.” You could also talk about weather this is a final solution or just a workaround until a better implementation is reached.

Thanks again.

Andrew

[2021-01-29 09:05] adrapper commented on #620
And if they have exactly the same CID, does that mean that it is not really their page that they are viewing, but an earlier creation of that page?

[2021-01-29 09:20] adrapper opened #622 "IPNS"
I think I understood the principle of using IPNS, but have a few questions this page has not answered.

My biggest issue is that this is all back in the Terminal and for now I am trying to be an ordinary person and work with GUI products. I know I may end up having to get back into command line work, but if it ends up there, IPFS will only be for the few, never for the world.

Can I "Publish your

[2021-02-02 15:17] johnnymatthews commented on #620
In a sense, yes. As @bertrandfalguiere suggested, if you want to ensure you are retrieving _your_ file, you should customize it in some way.

[2021-02-03 18:24] Faheem955 opened #627 "Add Wordpress to the "Static-site generators" section of "Websites on IPFS"."
Please add about how to integrate WordPress with IPFS on this page in the documentation.
http://docs.ipfs.io.ipns.localhost:8080/how-to/websites-on-ipfs/static-site-generators/#jekyll

Thanks a lot.

[2021-02-07 18:25] ChrisHagglundWS commented on #242
not like its too hard to just pull cids out of javascript data structure and then go fetch the content of those as needed all the way down. this seems like more of a concept than a spec

[2021-02-08 15:29] johnnymatthews commented on #622
Right now, there are no GUI implementation to help folks deal with IPNS, unfortunately.

Yes! In the [Link a domain](https://docs.ipfs.io/how-to/websites-on-ipfs/link-a-domain/#domain-name-service-dns) section of the **Website on IPFS tutorials**, just swap out `SITE_CID` with the address you get from running `ipfs name publish /ipfs/QmaM...`

Some people find [DNS link](https://docs.ipfs.io/conce

[2021-02-08 15:29] #622 closed

[2021-02-08 15:52] johnnymatthews commented on #627
Since Wordpress isn't techincally a static-site generator, I don't want to add a full guide into this section. However, we could absolutely link to [Fleek's How to Deploy a Wordpress Website onto IPFS guide](https://blog.fleek.co/posts/wordpress+fleek).

## Tasks

- [ ] Create a new subsection in `how-to/websites-on-ipfs/static-site-generators` called **Wordpress**.
- [ ] Explain that, while Wordp

[2021-02-11 16:49] #241 closed

[2021-02-11 19:54] johnnymatthews commented on #273
_Finally_ closed this one in 0d5a8e732d02d6ec1ddfda8655da8258c146a9e6

[2021-02-11 19:54] #273 closed

[2021-02-11 19:54] mitar commented on #273
Thanks!

[2021-02-11 22:45] #337 closed

[2021-02-11 23:14] johnnymatthews commented on #489
This issue isn't necessary anymore since we've got package manager installs towards the top of the CLI install page.

[2021-02-11 23:14] #489 closed

[2021-02-11 23:15] #565 closed

[2021-02-11 23:18] johnnymatthews commented on #361
Gonna throw a link to the YouTube channel in the sidebar.

[2021-02-11 23:23] #361 closed

[2021-02-14 22:05] autonome opened #642 "Clarify how the IPFS gateways managed by Protocol Labs deal with legal takedown requests."
See this thread: https://www.reddit.com/r/ipfs/comments/ljosj1/does_all_content_published_to_public_ipfs/

There's some confusion about what we mean in that section of docs. Should clarify the OP's question and also address other comments in thread if needed.

[2021-02-15 14:56] johnnymatthews commented on #642
Content copy and pasted from the [Reddit post](https://www.reddit.com/r/ipfs/comments/ljosj1/does_all_content_published_to_public_ipfs/), just in case the thread goes missing:

Answers

[2021-02-16 15:55] #627 closed

[2021-02-19 15:29] Tcll opened #652 "Evalute removing Google Analytics for an open-source, privacy respecting reader-metrics solution."
I'm not sure how long this has been here, but browsing through this page:
https://docs.ipfs.io/how-to/host-git-style-repo/
uBlock blocks the domain google-analytics.com
meaning anyone browsing this page is at risk to having their traffic traced and sold by google

luckily I block all google domains via iptables, so I'm not at risk here (without uBlock)
but this is a huge security risk for anyone e

[2021-02-19 16:55] johnnymatthews commented on #652
I'm not sure about Google Analytics (GA) being a _security threat_, however it is a big privacy issue. There have been informal conversations in the IPFS team about removing GA from IPFS, but they haven't really gotten anywhere. An [issue was raised in the ipfs/blog repo](https://github.com/ipfs/blog/issues/448), but the discussion has gone stale.

I'd personally like to rip GA out of this repo, b

[2021-02-20 16:48] Tcll commented on #652
I was literally about to write a response saying exactly this before I continued reading XD

tbh though, rolling your own would ensure privacy is respected even against alternatives being bad players, despite the action being out of scope...
I'm only encouraging it because it's reassuring to know it won't have to be re-written later if/when this happens.

P.S.: while yes, it's not really a "securi

[2021-02-20 23:05] ardunster opened #654 "Clarify Protocol Labs project specific styling guidelines."
As I've been going through the IPFS docs, I've been preparing a commit with a number of typo corrections, formatting corrections, etc. I have, for example, been converting all non-code-block cases of ipfs to IPFS, since that seems to be the overall trend in the documentation.

However, I'm unsure of the preferred style for Go-IPFS and JS-IPFS.  Are they preferred capitalized like that, or lower ca

[2021-02-21 00:54] ardunster commented on #589
I am not familiar with how IPFS is packaged, but as a Ubuntu user I'd try to install it through `apt` if at all possible rather than snap. Had too many weird issues with how snap handles things and don't want to deal with it. `apt` is at least as common, if not more so than snap, especially if people are running older LTSs.

[2021-02-22 20:43] johnnymatthews commented on #654
It's a bit of a _hot topic_. Both Go-IPFS and JS-IPFS are the preferred style within this repo. The reasoning for this is that they are both the _names_ of something, similar to how the _Windows 10_ and _Big Sur_ operating systems are capitalized. Currently, their respective repos use the lower-case versions however.

[2021-02-22 20:52] johnnymatthews commented on #589
As far as I know, the `apt` repository isn't as frequently maintained when compared to the `snap` package. Is this true @lidel, or am I making this up?

[2021-02-24 00:27] lidel commented on #589
@johnnymatthews you are most likely right: apt is just a tool, it uses repo set up by distribution. Debian and Ubuntu use apt, but point at different repositories.

Given that snap is published by our CI (https://github.com/ipfs/go-ipfs/pull/7529), and it is up to distribution maintainers/community to update the `.deb` package in apt repo to the latest version, snap will always be updated sooner t

[2021-02-24 02:36] ardunster commented on #654
That definitely makes sense to me why the discrepancy would exist. I'm sure it's easy for people writing quickly to not bother with capitalizations, even if capitalization has a more professional and official look more appropriate for documentation.

[2021-02-24 14:24] johnnymatthews commented on #589
Ok cool, thanks for clearing that up @lidel. It seems like the general sentiment is to get rid of Snap since it causes more problems than it fixes, and the alternative `apt` isn't too far out of date to be a major issue. I'll take Snap out :)

Perfect! Thanks for that.

[2021-02-24 15:46] johnnymatthews commented on #589
Hmm, we've got a tiny problem. IPFS isn't listed in any of the `apt` repos. With that in mind, I'm inclined to take the Package Manager section out of here. Chocolately and Homebrew aren't installed by default, Snap causes problems, and Apt doesn't contain IPFS packages. So all-in-all, none of these solutions are on-liners, which was the intention for this section. There are installation instructi

[2021-02-24 20:48] #654 closed

[2021-02-24 21:02] johnnymatthews opened #665 "Update docs to reflect Go-IPFS 0.8.0 release."
We're a bit late to the game on this one, but we're here now. The latest version of IPFS, 0.8.0 has been released! The docs need to be updated where 0.7 is mentioned.

## Tasks

- [x] Update installation instructions for:
    - [x] Command-line
    - [x] Desktop
    - [x] Cluster
  ~- [x] Go-IPFS~
- [x] Search project for `0.7.0` to catch any other references.

Moving to another issue to get this

[2021-02-24 21:41] johnnymatthews opened #666 "Update API and CLI docs for Go-IPFS 0.8 release."
The HTTP and CLI docs needs updating for the Go-IPFS 0.8 release. However, the script that updates those docs seems to be borked:

[code]

## Tasks

- [x] Fix the CLI script.
- [ ] Update APIs:
    - [ ] HTTP API
    - [x] CLI

This was originally brought up in #665.

[2021-02-24 21:44] #665 closed

[2021-02-26 00:15] jessicaschilling opened #669 "Add IPFS repo guide"
As part of the larger ipfs.io rework tracked in https://github.com/orgs/ipfs/projects/11, we'd like to create a page on the docs that lists the "most important" or most frequently relevant IPFS project repos, including information on when they might be relevant. This would be linked to from the main ipfs.io nav menu in response to frequent requests for such in internal and external user testing.

[2021-02-26 03:11] autonome commented on #669
Le draft: https://hackmd.io/CAVErTC2TvWvYw2dcZigYg

Needs a fill-in-the-gaps and correct-stuff-i-made-up pass by the artists formerly known as Core Implementations.

[2021-02-26 17:36] johnnymatthews commented on #669
This is a good idea. I've created the `feat/ipfs-repo-guide` branch, #670 is the draft PR.d

[2021-02-26 17:45] jessicaschilling commented on #669
@johnnymatthews I'm ill-equipped to know which repos will fill in the holes in @autonome's outline, but I'm happy to proofread, check links, etc if you or John are able to fit this into your task lists. Let me know what I can do.

[2021-02-26 17:51] johnnymatthews commented on #669
Might be able to squeeze this into next weeks milestone. How urgent is this? I threw the `P1` tag on there just arbitrarily.

[2021-02-26 18:17] jessicaschilling commented on #669
Sometime before the end of March, if that works?

[2021-03-02 04:15] johnnymatthews opened #672 "Add "AppImage" option for IPFS Desktop install."
The IPFS Desktop repo is now using AppImage as a preferred install option. Due to the issues that Snap can cause with IPFS, we should point readers towards installing the app using the provided `AppImage` file instead. This issue was created because of https://github.com/ipfs-shipyard/ipfs-desktop/pull/1776

## Files

- [/install/ipfs-desktop/](https://github.com/ipfs/ipfs-docs/blob/main/docs/inst

[2021-03-02 16:25] lidel commented on #672
Sgtm.  Main value provided by AppImage is autoupdates independent from package manager provided by OS.

[2021-03-02 18:29] #666 closed

[2021-03-03 16:41] autonome opened #677 "Hints, tips, and tricks for debugging IPFS."
Developers run into problems with IPFS, and we should have resources to help them.

Whether it's a one-page debugging cheat sheet or a series of pages covering specific topics, I'm filing this as a scratchpad to drop instances of valuable debugging information.

Ideally there'd be a sequential checklist for common scenarios like content availability and node connectivity.

[2021-03-03 16:42] autonome commented on #677
Why is IPFS running slowly?

https://stackoverflow.com/questions/66450619/how-do-i-find-out-why-ipfs-is-running-slowly

@aschmahmann answers:

[2021-03-03 16:47] autonome commented on #677
Steps @aschmahmann used in debugging session with a collab, to figure out why a CID was not fetchable, walking through seeing if peer was dialable, etc.

[2021-03-03 16:49] autonome commented on #677
Some tips here: https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md

[2021-03-04 00:32] BigLep opened #678 "Key terminology guide and which functionality is supported in which contexts"
## Observed problem
When having conversations internal and external to PL about IPFS, we sometimes spend ~15 minutes getting everyone on the same page about terminology and what functionality is supported in which context.

## Cause 1: Unfamiliarity with what is supported where
IPFS as a protocol brings together varying developer audiences (e.g., systems/go developers using go-ipfs, web/js develop

[2021-03-04 00:39] BigLep commented on #678
@lidel : it would be good to get you take on what is missing in https://docs.ipfs.io/project/implementation-status/ that would have helped your discussions.  I assume one is that "JS" isn't specific enough to the context where the JS is running (browser vs. NodeJS).

[2021-03-04 15:30] johnnymatthews commented on #678
Thanks for the issue @BigLep; there are a few things to unpack and discuss here before making an actionable task-list.

This is a fair point, especially when it comes to the difference between Go-IPFS and JS-IPFS. One assumption folks often make is that Go-IPFS and JS-IPFS have feature parity, but that is sadly not the case. This makes things tricky for things like reference docs where features ex

[2021-03-04 16:48] #589 closed

[2021-03-04 16:48] #606 closed

[2021-03-04 16:48] #620 closed

[2021-03-04 16:51] johnnymatthews commented on #553
[Map here](https://github.com/ipfs/ipfs-docs/blob/feat/getting-started/docs/getting-started/.section-map.md)

[2021-03-04 16:51] #553 closed

[2021-03-04 20:25] lidel commented on #678
I think the main issue with https://docs.ipfs.io/project/implementation-status/ is that is..  way too detailed without any onramp/context :) (smaller issue is that it was not updated and tables are partially invalid)
We need something that makes it obviously clear what the feature set diff is (transports, dht, etc).

Perhaps we could preface the page with an infographic or at least a table with hi

[2021-03-05 01:27] BigLep commented on #678
@lidel : thanks for filling in.

@johnnymatthews : I think responses to your questions have been provided.  I feel like this issue hasn't come in cleanly packaged so it can be easily actioned on.  If you'd like us to come back with a distilled list of specifics (e.g., update page X with the content from Y) or submit some starter PR's let us know.  Thanks a lot - much appreciated.

[2021-03-05 16:30] johnnymatthews opened #680 "How to build an NFT minting platform that uses IPFS"
This is a placeholder _epic_ issue for how to build an NFT minting platform that uses IPFS.

[2021-03-05 17:34] yusefnapora opened #681 "[NFT tutorial] implement IPFS pinning functionality"
For the [NFT tutorial epic](https://github.com/ipfs/ipfs-docs/issues/680).

We want our example minting app to add a local image file to IPFS and pin it using the [Pinning Services API](https://ipfs.github.io/pinning-services-api-spec/).

### Scope

Anything to do with tokens / blockchains is out of scope for this issue - this just covers metadata prep and getting things persisted to IPFS. The end

[2021-03-08 14:42] autonome opened #682 "Explain what the Prometheus API is, and add some examples."
Implemented originally here: https://github.com/ipfs/go-ipfs/pull/1422

Also something newer here: https://github.com/ipfs/go-metrics-prometheus

[2021-03-08 14:48] autonome commented on #682
Some cluster + Prometheus docs, maybe relevant:

https://cluster.ipfs.io/documentation/guides/opencensus/

https://simpleaswater.com/tracing-and-monitoring-ipfs-cluster/

[2021-03-08 15:14] johnnymatthews opened #683 "List the multiple definitions of "node"."
The word _node_ means different things in different contexts. Let's list those definitions to the Glossary.

[The following was taken from a HackMD post](https://hackmd.io/j1PQOmB3ReKEoMoQuN-tEg?edit) put together by @Gozala, and referenced in #678:

---

## go-ipfs node
* runs on servers and user machines with the full set of capabilities
    * tcp and quic transports enabled by default
    * /ws

[2021-03-08 15:22] johnnymatthews commented on #678
That's a fair point. I guess that web-3 devs are gonna have to re-learn some stuff about the internet.

This is already on my radar in the [Single-source documentation project](https://github.com/ipfs/ipfs-docs/projects/3)

This is super useful. I hadn't considered all those uses of _node_. We could definitely put those terms into the Glossary at the very least. I've created #683 to tackle this. I

[2021-03-08 20:11] atopal opened #684 "Link people to the Matrix channel"
We are currently linking to the IRC channel for chat, but many people would benefit from being directed to the Matrix channel instead or at least in addition to IRC: https://docs.ipfs.io/community/irc/

[2021-03-08 21:31] Gozala commented on #678
Thanks for starting this discussion. It is not only the issue with go / js devs seeing what works where, but I'd argue that even PL devs across language boundaries don't always have an accurate picture of what works where. I think it would be amazing if we had a place that gives high level overview and a way to zoom in to understand the details.

E.g. we have IPFS pubsub implemented across all sup

[2021-03-08 21:51] Gozala commented on #683
Thanks @johnnymatthews for consolidating these here, I have couple of suggestion

1. I think it would be really helpful to have a table mapping IPFS node types to transports. So it is easy to see what is available, what is enabled/disabled etc...
2. I think classifying nodejs and web IPFS nodes into single js-ipfs group is a mistake. While we share codebase across them platform constraints are so

[2021-03-08 22:59] Gozala commented on #683
I think I would differentiate between capabilities and supported transports where tcp, quick, ws, webrtc are transports while DHT, pubsub are capabilities.

HTTP Gateway, IPFS HTTP API seem like a services that node may provide just like relay or delegated routing are.

This is generally true, but little more nuanced. Host nodes (nodes it's connecting to) be open to web connections from that speci

[2021-03-09 17:37] lidel opened #685 "Build router/traversal explainer by leveraging well-known terms"
I believe using generic names to introduce new concepts usually improves onboarding and reduces fatigue due to cognitive overhead.

Peer and content routing in browser context is a fairly nuanced issue, but if we use well-known terms like STUN, ICE, TURN in the context of transports available in web browsers and/or go-ipfs running behind some types of NAT, that could help devs building on our stac

[2021-03-09 17:39] lidel commented on #678
@johnnymatthews sgtm, we can close this one and continue in  https://github.com/ipfs/ipfs-docs/issues/685 and #683.

+100 to @Gozala's point about boolean not being enough when describing interop asymmetry in browser context.

[2021-03-09 17:40] yusefnapora commented on #681
This is all implemented in https://github.com/yusefnapora/minty, but not yet documented. I'll open new issues to track that and map out the remaining work in the next hour or so.

[2021-03-09 17:40] #681 closed

[2021-03-10 02:03] AlexxNica commented on #682
I think I can get this one. Do you have more info for the bounty (numbers, tasks)?

[2021-03-10 18:29] ribasushi opened #687 "Create some basic deployment-behind-a-http-front-end configuration examples."
Both novices and experienced administrators would benefit from short samples describing typical deployment of go-ipfs fronted by an authenticating nginx or apache http server.

Novices would benefit from a dramatic reduction of the cognitive overload needed to deploy an IPFS node with a let-sencrypt wss-enabled listener and an exposed 5001 API with the proper basic http access controls.

Experts w

[2021-03-10 19:56] autonome commented on #687
This is a really common use-case, and gets asked all the time. Yes, please to a detailed step-by-step guide.

[2021-03-10 20:00] autonome opened #688 "IPFS has a cornucopia of node types/roles across a plethora of environments, we need a guide!"
I had a running list, and then asked the team to fill in the details of what these things were, it's here: https://hackmd.io/j1PQOmB3ReKEoMoQuN-tEg

<details>
<summary>Copying content here for sakekeeping</summary>

# IPFS nodes

## go-ipfs node
* runs on servers and user machines with the full set of capabilities
    * tcp and quic transports enabled by default
    * /ws/ transport disabled by de

[2021-03-10 20:07] johnnymatthews commented on #688
This is pretty similar to #683. I'm gonna close this one in favour of that.

[2021-03-10 20:07] #688 closed

[2021-03-10 20:21] autonome opened #689 "Close me Johnny."
Good to notch a win each and every day, don't break the chain.

[2021-03-11 05:13] #689 closed

[2021-03-11 05:13] johnnymatthews commented on #689
Gotta get those GitHub stats up.

[2021-03-12 06:40] Bruna17 opened #691 "Node types"
`

[2021-03-12 15:49] yusefnapora opened #692 "[nft tutorial] Finish example app"
The example app [minty](https://github.com/yusefnapora/minty) is "mostly working", but there's some polishing left to do:

- [ ] [finalize CLI interface](https://github.com/yusefnapora/minty/issues/1)
- [ ] [implement web ui for viewing tokens](https://github.com/yusefnapora/minty/issues/2)
- [ ] [use js-ipfs remote pinning api](https://github.com/yusefnapora/minty/issues/3)

[2021-03-13 00:54] #691 closed

[2021-03-15 19:28] mitchallen opened #695 "Remove broken image link."
The link to the **moon-logo.png** file in this doc is broken:

https://docs.ipfs.io/how-to/websites-on-ipfs/multipage-website/#add-files-to-ipfs

This link:

https://docs.ipfs.io/how-to/websites-on-ipfs/multipage-website/images/multipage-website/moon-logo.png

Returns this in the browser (tested on Chrome on MacOS):

`ipfs resolve -r /ipns/docs.ipfs.io/how-to/websites-on-ipfs/multipage-website/ima

[2021-03-16 13:53] johnnymatthews opened #697 "Refactor the "Implementation status" page."
As mentioned by @lidel and @gozala in #678, the [Implementation status page](https://docs.ipfs.io/project/implementation-status/) could do with a revamp.

First off, it's out of date. We need to go through and check if each feature is available/implemented yet in each product.

Secondly, as [@gozola pointed out in a different thread](https://github.com/ipfs/ipfs-docs/issues/678#issuecomment-793094

[2021-03-16 13:53] johnnymatthews commented on #678
Nice. I've just made #697. Closing this one.

[2021-03-16 13:53] #678 closed

[2021-03-16 14:06] johnnymatthews commented on #682
I'm not really sure why I threw the `bounty` tag on here, I usually have the tasks fleshed out before I do that. Ah well, here we are. I'm gonna take the bounty tag off for now while I find out _what_ exactly we need to document. I'm assuming it's along the lines of:

1. What Prometheus is/does.
2. How to use it.

Once I've got a task list ready to go I'll tag you again @AlexxNica and you can see

[2021-03-16 14:15] johnnymatthews commented on #687
This sounds very handy. Would you be interested in creating a draft for this @ribasushi, or tagging someone else that would?

[2021-03-16 14:20] johnnymatthews commented on #695
Ah, I see what's happened. That image link is a relative link from an old CID of the docs site. It's probably easier if we just have the user download the image by right-clicking on the image itself, rather than linking off it on another tab.

## Tasks

- [ ] Remove link from `Finally, download this image and save it in the folder as moon-logo.png:`
- [ ] Instruct the user to just download the ima

[2021-03-16 14:20] AlexxNica commented on #682
@johnnymatthews Perfect! Thank you! 🙌

[2021-03-16 14:34] #695 closed

[2021-03-16 20:13] johnnymatthews opened #699 "Review first draft of "NFTs on IPFS" guide."
Once a first draft of the NFT project is complete, let's review it so make sure the flow and narrative both work. This is also time to test out the application and make sure that there's no glaring bugs or invalid assumptions we're making.

Edit: forgot to link to the project: https://github.com/yusefnapora/minty

[2021-03-16 20:18] #621 closed

[2021-03-17 11:20] dependabot-preview[bot] opened #701 "Dependabot can't parse your package-lock.json"
Dependabot couldn't parse the package-lock.json found at `/package-lock.json`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/ipfs/update-logs/72492928).

[2021-03-17 16:56] BillyGeoThink2020 opened #702 "Using x-ipfs-path"

[2021-03-18 02:44] autonome opened #703 "Explain how to use IPFS in a private setting (internal network, intranet, etc)."
Someone asked about this at a hackathon and while there are loads of stuff *not* from us (if you DDG it), there's only a go-ipfs CLI parameter documentation from official project sources AFAICT.

[2021-03-18 16:01] #699 closed

[2021-03-18 16:02] johnnymatthews commented on #699
This was addressed in 350ecec2ddeb25636278daeb98f5784c6587aba7

[2021-03-18 16:10] johnnymatthews commented on #702
Looks like this issue was created by mistake. Closing.

[2021-03-18 16:10] #702 closed

[2021-03-18 16:11] johnnymatthews commented on #703
Just so we're on the same page; you'd like to see a guide on how to set up a private/internal IPFS network for use inside an office, or a home media cluster, something like that. Right? Or am I missing the point?

[2021-03-18 19:27] autonome commented on #703
There are loads of use-cases. Eg, if you do not want to risk your connection, identity, transfer metadata or communication patterns being tracked on the public DHT, you might set up your nodes to directly connect to each other *only*.

So basically a guide/tutorial for using and deploying this: https://github.com/ipfs/go-ipfs/blob/v0.8.0/docs/experimental-features.md#private-networks

[2021-03-19 13:38] autonome opened #704 "Clarify how to use the `x-directory` header in Curl requests."
From a hackathon participant:

curl -F "test.json=@/2021/03/18/weather.json" 127.0.0.1:5001/api/v0/add?wrap-with-directory=true
the above does not seem to create a "weather.json" file inside a directory structure "/2021/03/18" but instead it creates a file called "/2021/03/18/weather.json"

One answer I got when asking around:

If we don't know how to use it, nobody else will either 😅

[2021-03-19 13:58] autonome commented on #704
Updated answer for future use in examples:

{"Name":"a/b/c.gif","Bytes":33534}
{"Name":"a/b/c.gif","Hash":"QmVCTMQrvAj1Czk4beNxD5LKP4sHYFwTwPDvc5UDTaGzPB","Size":"33548"}
{"Name":"a/b","Hash":"Qmb8UKKhhqRUpgyhBK1HfdzNZKydRo5EwDj334BuUSLjPy","Size":"33601"}
{"Name":"a","Hash":"Qma4t85aY6LoGYbasRidumoMZizkhRbVHkk8EV2u7DLGYg","Size":"33650"}

And docs link for the API:

https://docs.ipfs.io/reference

[2021-03-19 14:19] autonome commented on #704
So, there are two things at play here, `x-directory` and `filename`:

[2021-03-19 16:46] autonome opened #705 "Filesystem CRUD guide with tabbed examples for curl, CLI and API"
Need a one-stop-shop guide which covers typical filesytem operations: import, add, delete, move, rename, etc which has examples for each of curl, IPFS CLI and our programmatic API via js-ipfs-http-client / js-ipfs.

After #704 I talked with the person about what would've got them unblocked quickly.

[2021-03-19 18:21] lidel opened #707 "Use CIDv1 in Minty example, not CIDv0."
https://docs.ipfs.io/how-to/mint-nfts-with-ipfs uses CIDv0 in URIs which [does not work everywhere](https://github.com/ipfs-shipyard/ipfs-companion/pull/824) (only Brave supports it).

@yusefnapora mind re-generating example after  https://github.com/yusefnapora/minty/pull/13 is merged, and updating the docs to CIDv1? It will save everyone headache in the long run :pray:

[2021-03-20 18:42] autonome opened #708 "Document the HTTP Gateway features and functionality for developer users"
There's a few features here:

https://github.com/ipfs/go-ipfs/blob/master/docs/gateway.md

We also get questions often like "how can i get a directory listing?" or "can i publish through the gateway?".

[2021-03-20 18:44] autonome commented on #708
Should also have a section that clearly disambiguates the HTTP Gateway and features with the HTTP API

[2021-03-22 14:21] johnnymatthews commented on #704
Just to make sure I'm understanding correctly:

1. The current example just creates a file called `/2021/03/18/weather.json`:

[code]

2. The actual command should be:

[code]

I'm confused about the `x-directory` bit. Is it required, or optional? I can't see it in any of the examples.

[2021-03-22 14:24] johnnymatthews commented on #705
I agree; this would be super useful to have. This could be bountyable, but we need to flesh out this issue a bit more. Are these all the operations we'd need to document?

1. import
2. add
3. delete
4. move
5. rename

[2021-03-22 14:48] johnnymatthews commented on #708
This could just be a case of copying that Gateway doc over into this repo. I've slapped the `need/analysis` tag on here; someone from the docs team should find out exactly what we need here.

[2021-03-22 15:24] autonome commented on #708
That'd be a start, but it's quite sparse right now. I want comprehensive
documentation and a guide to usage, with examples.

On Mon, Mar 22, 2021 at 10:48 AM Johnny ***@***.***> wrote:

[2021-03-22 15:25] autonome commented on #704
Exactly. The documentation should say what each header is for, and why,
with examples.

On Mon, Mar 22, 2021 at 10:22 AM Johnny ***@***.***> wrote:

[2021-03-22 23:19] Gozala commented on #697
I'd love to, with a caveat that my bandwidth is also limited. Let me know what would be a best way to contribute.

[2021-03-27 19:56] RubenKelevra opened #716 "go-ipfs 0.8.0 isn't documented"
https://docs.ipfs.io/recent-releases/

[2021-03-29 14:11] autonome commented on #677
@aschmahmann answering a "why is my ipfs slow" question w/ some practical tips: https://stackoverflow.com/questions/66450619/how-do-i-find-out-why-ipfs-is-running-slowly

[2021-03-29 14:13] autonome opened #712 "Discover and explain how IPFS + IPNS deal with making changes to a pinned file."
get variations on this question, sometimes ipns but also regular ipfs too

https://www.reddit.com/r/ipfs/comments/m94t1j/does_an_ipns_pin_update_itself_automatically_on/

[2021-03-31 02:13] johnnymatthews commented on #716
Issue #480 was created to discuss the relevancy of the Recent Releases section. The main motivation for creating this section was to showcase the release of Go-IPFS 0.5. Since the rest of the releases have pretty much just copied the `readme.md` from the [Release page](https://github.com/ipfs/go-ipfs/releases), it makes sense to just delete this section and add redirects to the relevant readme fil

[2021-03-31 18:11] cwaring opened #720 "Fix broken links from broken-link-checker report."
Report attached:

Finished! 18919 links found. 17970 excluded. 40 broken.
Elapsed time: 14 minutes, 55 seconds

[blc-31-03-21.txt](https://github.com/ipfs/ipfs-docs/files/6238586/blc-31-03-21.txt)

Some of these will be false positives but they should be reviewed to double check.

[2021-03-31 18:11] cwaring commented on #720
lols, thanks welcome bot

[2021-04-01 19:16] jessicaschilling opened #726 "Create landing page from Builders Series videos"
We're planning to set up build.ipfs.io as a subdomain redirecting to "next steps" guidance for folks inspired by the "Building Web3: Meet the Builders" video series. Sending them (via redirect) to a customized landing page on docs.ipfs.io makes the most sense; this way we can keep iterating and improving the content over time.

I'll set up some introductory text that makes sense in relation to the

[2021-04-02 11:19] #701 closed

[2021-04-02 16:39] dineshshenoy opened #727 "Advertise Truffle as an alternative to using Minty in the NFT tutorial."
I wanted to add Truffle as another development option for folks who are new to the NFT space.  Can we add this alongside the Minty recommendation?  Many web3 developers from the Ethereum space are famliar with this tool kit.

Truffle (https://www.trufflesuite.com) has developed a set of tools for blockchain applications that can also be used to create an NFT on the Ethereum network backed by IPFS

[2021-04-03 11:58] fugo opened #730 "Explain the variable costs associated with buying a domain."
You should update the prices - ETH domain cost 0,002/year that's about 5$ but the gas fee is 0,04.... right now over 90$!
Ether is not longer useful for me.
Hope for Cardano or Algo.

[2021-04-03 15:49] renzhengwei opened #731 "Document language selection"
Document distinguishing language will make users better read and recognize IPFS, such as Chinese, Russian and so on.

[2021-04-03 16:03] renzhengwei commented on #731
Maybe we can use Google Web translation ？But it's not particularly accurate.

[2021-04-03 21:56] andoneN4 opened #732 "Example in "what is ipfs" is broken"
Hi,

you try to exemplify how ipfs works with

https://docs.ipfs.io/concepts/what-is-ipfs/#decentralization
vs
/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/Aardvark.html

the former works fine, but the latter doesnt.

I am convinced, I am doing it wrong, but I cant figure how. Please help

[2021-04-08 17:34] johnnymatthews commented on #712
Here's the main question from that thread:

It's a pretty solid question, and I'm not actually sure of the answer.

[2021-04-13 12:18] yyd106 opened #740 "Add "Decentralized pinning service" section into "WEBSITES ON IPFS -> host a single-page website on IPFS""
# Add "Decentralized pinning service" section into "WEBSITES ON IPFS -> host a single-page website on IPFS"

## Background

The existing DApps mostly pins files via IPFS pinning services such as, [Pinata](https://pinata.cloud/pinmanager).

And recently, one of the most widely used DEX (Decentralized Exchange), [**Uniswap**](https://app.uniswap.org), has enabled decentralized deployment of websites

[2021-04-14 05:56] feelie75 opened #742 "Linux link (step 1) to Command-line IPFS is broken"
The linux distributation page:
https://docs.ipfs.io/install/command-line/#official-distributions

on step 1:
wget https://dist.ipfs.io/go-ipfs/v0.8.0/go-ipfs_v0.8.0_linux-amd64.tar.gz

That gives a 502 Bad Gateway. I tried reducing the path all the up. Bad gateway all the way. Is the site broken? Thanks!

[2021-04-14 05:57] feelie75 commented on #742
The issue resolved itself about 5 minutes later. Closing.

[2021-04-14 05:57] #742 closed

[2021-04-15 02:33] yyd106 commented on #740
[PR 743](https://github.com/ipfs/ipfs-docs/pull/743) is submitted for this issue

[2021-04-16 15:29] johnnymatthews commented on #727
Sorry for the delay in getting to this one @dineshshenoy. What would you like to see here? As far as I know, Truffle helps developers make Ethereum smart contracts and test them locally.

I guess we could. One of the benefits of using Minty is that it's pretty simple and easy to follow. Truffle has a lot of stuff happening behind-the-scenes that could confuse folks new to blockchain stuff. Saying

[2021-04-16 15:35] johnnymatthews commented on #730
That's a good point. ETH prices are constantly changing, and gas fees fluctuate a lot too. Instead of pointing out how much the domain will likely cost, we should say something like:

## Tasks

- [ ] Add the above call out, or something similar, to the [**Before we get started** section of **Link a domain**](https://docs.ipfs.io/how-to/websites-on-ipfs/link-a-domain/#ethereum-naming-service-ens).

[2021-04-16 15:38] johnnymatthews commented on #731
Issue #268 is a discussion on possible localization strategies. The TLDR is that it's tricky, and requires a lot of effort. Given the resources this docs project has right now, it's low priority.

[2021-04-16 15:38] #731 closed

[2021-04-16 15:47] johnnymatthews commented on #732
If you are entering `/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/Aardvark.html` directly into your browser then you won't actually see anything. You need to use a gateway to view that link:

[ipfs.io/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/Aardvark.html](ipfs.io/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/Aardvark.html)

But you make a good point. We sho

[2021-04-16 16:16] dineshshenoy commented on #727
So there are two benefits two truffle:
1) Existing Ethereum developers who are already familiar with the Truffle product line.  Many of them are new to the Filecoin network and this is a great jump start for that audience.

2) Truffle's simulator is a cool getting-started nerpanet experience.  It's super visual and shows a network creating blocks, sending messages, gas fees, wallets, etc. in a ver

[2021-04-16 20:12] #720 closed

[2021-04-17 05:58] rshmhrj commented on #730
Hi @johnnymatthews, I'm looking to help out!  Please assign this issue to me.

[2021-04-18 09:05] nlko opened #746 "Revisit how IPFS imports pre-made keys."
Hello,

I tried to follow the example provided in the documentation to import a key from a pem file and here is the result.

[code]

I'm using ipfs version is 0.8.0

The HTTP error message looks like a protobuf error. Maybe my key is not formatted correctly.

The command I used to generate the key was `ssh-keygen -t rsa` which end up as a text file (and not a protobuf).

What is the required forma

[2021-04-19 16:09] davidviziteu opened #750 "Minor bug on the website"
At https://docs.ipfs.io/how-to/mint-nfts-with-ipfs/#mint-the-file the mint command is under the black box, instead of being in the black box.

[2021-04-19 22:35] johnnymatthews commented on #727
Cool beans, sounds like it'd be useful to point out how to use Truffle alongside Minty. @yusefnapora, did you happen to play around with Truffle during your NFT adventures? If so, how would you recommend we include it in this guide?

[2021-04-19 22:37] johnnymatthews commented on #730
@rshmhrj I've assigned it to you! Thanks for jumping on this one :)

[2021-04-20 03:17] johnnymatthews commented on #750
Nice find. The fix for this formatting bug is in the `staging` branch. This issue will close when that branch gets merged into `main` - likely tomorrow (Tuesday).

[2021-04-20 03:41] johnnymatthews commented on #716
The recent releases section was moved. https://docs.ipfs.io/install/recent-releases/

Closing this issue.

[2021-04-20 03:41] #716 closed

[2021-04-20 12:53] yyd106 commented on #487
I want to nominate [Crust Network](https://crust.network), a blockchain based decentralized IPFS pinning service powered by Polkadot technologies.

## Use Cases:
1. [**Uniswap**](https://app.uniswap.org), has enabled decentralized deployment of websites by integrating [Crust Network](https://crust.network) into [Uniswap's release workflow](https://github.com/Uniswap/uniswap-interface/blob/main/.gi

[2021-04-20 14:50] jessicaschilling commented on #487
@yyd106 - are you a representative of Crust? If so, would you mind filling in the quick survey [here](https://airtable.com/shrjwvk9pAeAk0Ci7) — it would be good to get Crust included in a new IPFS ecosystem directory that we're currently building. Thanks!

[2021-04-21 14:49] yusefnapora commented on #727
That's a great idea - I played a bit with Truffle while following along with Pinata's tutorials before I started on Minty. It's great, and the Filecoin box thing is pretty cool as well.

I'll work in a reference in the docs here, and maybe mention it in the Minty readme as well as an alternative to HardHat.

[2021-04-21 15:32] yusefnapora opened #754 "Create a public registry of peers that should be connected to public gateways"
### What

This is a tracking issue for the creation of a list of peers that public IPFS gateway operators should try to maintain long-lived connections to.

### Why

As the IPFS ecosystem grows, there are naturally some platforms and services that take on a lot of the "write burden" in the network (e.g, pinning services like Pinata, NFT platforms, etc). By keeping long-lived connections to large c

[2021-04-21 21:46] mikeal commented on #754
This is the “seed list” to start with. https://github.com/protocol/bifrost-infra/blob/master/ansible/roles/go-ipfs-conf/defaults/main.yml#L1-L21

[2021-04-21 21:50] mikeal commented on #754
Seed list posted above. Any gateway or large data provider (more than 10M CID’s) should be able to request to be added.

Yup

Yup

[2021-04-22 07:40] #740 closed

[2021-04-22 07:40] yyd106 commented on #740
Need to update the content, will submit later

[2021-04-22 08:38] yyd106 commented on #487
Sure, Thanks @jessicaschilling. I submitted the survey, waiting for the follow up contact.

[2021-04-22 14:14] #750 closed

[2021-04-22 14:18] johnnymatthews commented on #746
Sorry for the delay in getting to this issue. I just tried to import keys myself using the info in the docs, and it seems that they're not playing ball. I got a similar `wireType` error. I'll pull in an engineer from the Go-IPFS team to see if they can weigh in on what's going on here.

[2021-04-22 14:22] johnnymatthews commented on #754
This can likely go under the **Working with peers** section.

[2021-04-22 14:30] aschmahmann commented on #746
IPNS keys are libp2p keys which are defined in this spec (https://github.com/libp2p/specs/blob/master/peer-ids/peer-ids.md#keys). The short version is that the key is wrapped in a protobuf that says what type it is.

If you construct the same protobuf format you'll be good to go (it's also a file, not an argument).

If you were going to construct the key file in Go you could use the tools in https

[2021-04-22 15:12] johnnymatthews commented on #732
Merged into staging.

[2021-04-22 15:12] #732 closed

[2021-04-22 15:20] johnnymatthews commented on #684
Merged into staging.

[2021-04-22 15:20] #684 closed

[2021-04-22 15:21] jessicaschilling commented on #487
Thanks, @yyd106! Confirming it was received and will be added to the ecosystem directory for release later this quarter. Keep an eye on IPFS social media and blog.ipfs.io for word when it's launched 😊

[2021-04-22 15:30] johnnymatthews commented on #672
Merged into staging.

[2021-04-22 15:30] #672 closed

[2021-04-22 15:37] johnnymatthews commented on #642
This content is actually already listed in the [IPFS Gateway FAQs](https://docs.ipfs.io/concepts/ipfs-gateway/#frequently-asked-questions-faqs). Closing :)

[2021-04-22 15:37] #642 closed

[2021-04-22 15:40] johnnymatthews commented on #249
[There's a libp2p issue that covers this.](https://github.com/libp2p/docs/issues/33). Closing :)

[2021-04-22 15:40] #249 closed

[2021-04-22 15:44] johnnymatthews commented on #446
This isn't really an issue anymore. Closing :)

[2021-04-22 15:44] #446 closed

[2021-04-22 15:45] johnnymatthews commented on #257
All the relevant examples in this issue already exist in docs.ipfs.io. Word on the street is that ipfs.io might be getting a revamp in the near future, so this website repo will likely get seen to. I'm gonna close this issue. :)

[2021-04-22 15:45] #257 closed

[2021-04-22 16:03] johnnymatthews commented on #304
Hey @jayschwa, it looks like we've accidentally fixed this somehow. This is what I see in Firefox Android:

![Screenshot_20210422-120156](https://user-images.githubusercontent.com/9611008/115746863-b395e600-a362-11eb-872f-ccee522244b3.png)

Can you confirm if things are working on your end now?

[2021-04-22 16:06] jayschwa commented on #304
Looks good on my end as well.

[2021-04-22 16:06] #304 closed

[2021-04-22 22:16] mikeal commented on #754
Also:

[code]

[2021-04-25 06:06] yyd106 commented on #487
Cool, thanks for you support! On the other hand, we are more concerned about contributing to the "case study" mentioned earlier. We would like to contribute two articles, one on how Uniswap uses IPFS to deploy DApp Interface from a third-party perspective, and the other on how Crust provides decentralized Pinning Service based on IPFS.

[2021-04-25 06:51] yyd106 commented on #487
Cool, Thanks a lot!
We are also interested in contributing to "case study" section as we have previous mentioned. Specifically, we would like to contribute two articles. One from a third-party perspective is on how Uniswap deploys DApp Interface using IPFS, and the other is on how Crust provides decentralized pinning services based on IPFS.
We will compose both articles in the “case study” format

[2021-04-26 06:46] yyd106 opened #764 "[CONTENT REQUEST] Add Crust into IPFS docs as a decentralized pinning service"
## Proposal

As a response to PR #471 , which is calling for adding more pinning services and making the pinning more decentralized, I made the PR #763  to push this a little forward.

The changes are made **to add Crust (a decentralized IPFS based project) into some pinning services related sections**

## Background

The existing DApps mostly pin files via IPFS pinning services such as [Pinata](h

[2021-04-26 06:47] yyd106 opened #765 "[CONTENT REQUEST] Add Crust into IPFS docs as a decentralized pinning service"
## Proposal

As a response to PR #471 , which is calling for adding more pinning services and making the pinning more decentralized, I made the PR #763  to push this a little forward.

The changes are made **to add Crust (a decentralized IPFS based project) into some pinning services related sections**

## Background

The existing DApps mostly pin files via IPFS pinning services such as [Pinata](h

[2021-04-26 06:48] #765 closed

[2021-04-26 17:03] #430 closed

[2021-04-30 00:00] lidel opened #770 "ipfs:// URIs on NFT tutorial do not resolve"
A friend  noted that copying and pasting "permanent" URIs from https://docs.ipfs.io/how-to/mint-nfts-with-ipfs/ to Brave returns error for most of them:

- `ipfs://bafybeihhii26gwp4w7b7w7d57nuuqeexau4pnnhrmckikaukjuei2dl3fq/my-nft.jpeg`
- `ipfs://bafybeihhii26gwp4w7b7w7d57nuuqeexau4pnnhrmckikaukjuei2dl3fq/nft-image.png`

I believe it is extremely important that every CID and  `ipfs://` URI we use

[2021-04-30 00:03] lidel commented on #764
@yyd106 is there an vendor-agnostic endpoint compatible with https://ipfs.github.io/pinning-services-api-spec/ ?

[2021-04-30 06:45] yyd106 commented on #764
@lidel There is a compatible Crust-based endpoint being developed, we can keep this proposal and wait the development to be completed.

[2021-04-30 07:06] alexmmueller commented on #297
@johnnymatthews I could try to complete this issue if this makes sense?

[2021-04-30 08:38] kbroflovski21 opened #771 "A Decentralized IPFS Pinning Solution for IPFS Docs"
## 1. Background

As we have noticed that IPFS Docs is hosted on IPFS (as a matter of course it is IPFS Docs), and learnt that Fleek.co has provided IPFS hosting service for IPFS Docs.

In addition to that, we would like to propose and contribute a fully decentralized IPFS Pinning solution for IPFS Docs, to provide more replicas and further improve availability for IPFS docs, and as well matches t

[2021-04-30 19:55] johnnymatthews commented on #730
Merged into `staging`. Thanks for tackling this one @rshmhrj!

[2021-04-30 19:55] #730 closed

[2021-05-05 18:32] johnnymatthews commented on #297
Assigned to you @alexmmueller! Drop any questions you've got in here.

[2021-05-05 18:45] johnnymatthews commented on #771
Anyone is free to host a copy of IPFS Docs, so be all means, go ahead! However, we're not looking to change deployment infrastructure that docs.ipfs.io relies up. I'm gonna close this issue, feel free to expand on your issue if you think I've missed the point.

[2021-05-05 18:45] #771 closed

[2021-05-06 06:06] JessicaMulein opened #773 "Collaboration / BrightChain"
Hi there! I think I have the secret sauce that will get the buy-in that interplanetary needs.
I have started over a number of times over a number of years and am disabled and working full time as well as being a caregiver. I don't have as much time as I want but I think you guys have all the right pieces, and if you can kind of see how to bridge us from here to there, I think IPFS could be the cor

[2021-05-06 16:28] mmdalref opened #774 "Potentially broken _standards_ link."
Hello everyone..
the link to Standards is not working
i will baste the link below
the error massage is "410 Gone"
if the link has changed please help me with the new link..
thanks in advance..
the link https://ipfs.io/ipfs/bafykbzacedpku3duvucdb3nfbfrlirxqjeas4sld4phi2qti6tfrwxadnr4fa/standards/IEC

[2021-05-07 15:47] johnnymatthews commented on #774
Which page did you find this link on @mmdalref?

[2021-05-07 21:39] johnnymatthews commented on #774
If the link came from YouTube then there isn't much we can do to fix it. We can only control links from within IPFS Docs. Do you have a link to the YouTube video? We might be able to reach out to the creator and get them to update their link. Otherwise, there's not much we can do. I'm gonna close this issue for now.

[2021-05-07 21:39] #774 closed

[2021-05-10 07:12] nlko commented on #746
Hello,

Sorry for the late reply. Thanks to your explanation I was able to format the protobuf message. Unfortunately the import fails because the key has the wrong format (I tried to generate the key from several js librairies) I don't have time these days to search. I will try again later.

I find it sad that this process is not more straightforward (for the js/ts ecosystem). I think this is key

[2021-05-10 14:04] johnnymatthews commented on #773
There doesn't seem to be an issue or question here. Closing. Feel free to continue the thread in this issue if there's more to discuss.

[2021-05-10 14:04] #773 closed

[2021-05-10 16:08] lidel opened #777 "Add CI job that checks if CIDs, URIs and content-paths resolve"
Rough idea: add a CI job that finds CIDs and URIs in text files and checks if they resolve.

Things we could check:
- CIDs (check every word that starts with `Qm` or  [a multibase prefix ](https://github.com/multiformats/multibase/blob/master/multibase.csv)
- content-paths `/ipfs/{valid-cid}` `/ipns/{valid-libp2p-key-or-dnslink}`
  - DNSLink presence should be validated, unless the name ends with

[2021-05-11 11:07] acul71 opened #778 "Pin files"
Hello.
In this page: https://docs.ipfs.io/how-to/pin-files/#local-versus-remote-pinning
following this example:
[code]
#Three kinds of pins
As you may have noticed in the example above, the first ipfs pin rm command didn't work — it should have warned you that the given hash was pinned recursively.

But the first ipfs pin rm command seems to work it didn't warn me that the file was pinned recursiv

[2021-05-12 18:09] yusefnapora commented on #777
This sounds like a job for [Filecorgi](https://github.com/filecorgi) 😄

We should be able to rewrite IPFS cids & URIs as gateway links and use the existing external link checker that @johndmulhausen wired up.

Plan so far: @johndmulhausen is going to wire up Filecorgi to this repo, and I'll work on the CID checker script.

[2021-05-12 18:21] #680 closed

[2021-05-12 18:21] #692 closed

[2021-05-12 18:22] #707 closed

[2021-05-18 13:41] autonome opened #779 "Page of "How is IPFS different from...""
* bittorrent
* storj
* arweave
* sia
* filecoin
* dat
* ???

[2021-05-19 15:00] atopal commented on #779
Some use case ideas, please feel free to add
1. Very new to space, needs to understand concepts (p2p data transfer, distributed storage, content addressability, etc)
2. Somewhat familiar with concepts, needs to do p2p data transfer, distributed storage, etc.
3. Experienced with concepts, unhappy with current choice, needs to change tech
4.

[2021-05-19 15:28] lksbrssr commented on #779
Some ideas for categories along which to differentiate: Total storage capacity, Cost / GB / year, Geographic focus, in operation since YYYY, [feel free to expand]

[2021-05-20 15:11] olizilla opened #782 "concepts/content-addressing/ fails to load in the UK due to weird region specific redirect issue"
When i hit https://docs.ipfs.io/concepts/content-addressing/ directly, i get a 301 redirect to `/concepts/content-addressing/%23content-addressing-and-cids/` which then leaves me on a 404 page. If i start from the root of the site and use the navigation, I can load the page.

Curl shows that this broken redirect is being sent to users from some regions but not others

**From the UK**
[code]

[2021-05-20 15:12] vasco-santos commented on #782
From Germany

[code]

[2021-05-20 15:15] olizilla commented on #782
Using VPN, I don't see the weird redirect happening in Germany, France, Hong Kong, or USA. Just the UK. Idenpendently verified by @andrew that the issue affects other UK based users.

[2021-05-20 15:24] cwaring commented on #782
wow this one is super strange and looks like it's an issue with BunnyCDN as we don't have any server-side redirect rules on this site anymore. I'll pass this over to our friends at fleek.

[2021-05-20 22:28] cwaring commented on #782
@olizilla I checked in with fleek and they have reset the cloudflare config which may have caused this, lmk if you still hit this error tomorrow.

[2021-05-21 08:10] olizilla commented on #782
It fixed!

[code]

[2021-05-21 08:10] #782 closed

[2021-05-21 09:00] yyd106 commented on #487
@jessicaschilling I created a PR #783 to put Crust into the case studies as previous mentioned.

[2021-05-21 17:46] jessicaschilling commented on #487
Thanks, @yyd106 — going to refer that PR to @johnnymatthews since he's the owner of the docs site!

[2021-05-25 05:33] anthraxblast opened #784 "[DOCS ISSUE] I cannot open IPFS Desktop on Mac"
I opened a prior version of IPFS desktop on Mac about 4 months ago, and it worked fine, but I couldn't reopen that.

I downloaded the DMG again and followed all the instructions (put it in my applications folder), and I'm getting this error (whether I try to open it directly or with Ctrl+Open):
You do not have permission to open the application “IPFS Desktop”.  Contact your computer or network adm

[2021-05-25 18:14] johnnymatthews commented on #778
I'm not sure what the issue is here.

The page you linked to reads:

Can you expand on your issue a bit further?

[2021-05-25 19:48] johnnymatthews commented on #784
Oh no! That's not great. Sorry you're having issues, but the [IPFS Discuss Forums](https://discuss.ipfs.io/c/help/13) are a better place to raise support issues. This repository deals with documentation issues.

[2021-05-25 19:48] #784 closed

[2021-05-26 08:27] kbroflovski21 commented on #771
Hey Johnny, you've made your point very clear. Still we are happy to contribute an alternative pinning solution as we have suggested before. Decoo, a close partner of Crust Network, provides a current solution in which we keep monitoring updates from IPFS Docs and pin the latest version using IPFS/Crust. We can have more than 170 replicas on IPFS as a result of our pinning action. We think this wi

[2021-05-26 17:38] johnnymatthews commented on #614
This issue's gone stale. The docs team is focused on NFT and Filecoin docs at the moment, so the single-source-documentation project is on hold for a while. We'll revisit these issues in the future.

[2021-05-26 17:38] johnnymatthews commented on #613
This issue's gone stale. The docs team is focused on NFT and Filecoin docs at the moment, so the single-source-documentation project is on hold for a while. We'll revisit these issues in the future.

[2021-05-26 17:38] #613 closed

[2021-05-26 17:38] johnnymatthews commented on #612
This issue's gone stale. The docs team is focused on NFT and Filecoin docs at the moment, so the single-source-documentation project is on hold for a while. We'll revisit these issues in the future.

[2021-05-26 17:38] #612 closed

[2021-05-26 17:38] johnnymatthews commented on #611
This issue's gone stale. The docs team is focused on NFT and Filecoin docs at the moment, so the single-source-documentation project is on hold for a while. We'll revisit these issues in the future.

[2021-05-26 17:38] #611 closed

[2021-05-26 17:38] johnnymatthews commented on #610
This issue's gone stale. The docs team is focused on NFT and Filecoin docs at the moment, so the single-source-documentation project is on hold for a while. We'll revisit these issues in the future.

[2021-05-26 17:38] #610 closed

[2021-05-28 11:44] jhonalino opened #785 "Add Nextjs as a static-site-generator example into the IPFS + Webdev tutorial."
can we add nextjs docs please????

[2021-05-29 00:00] unbeatable-101 opened #786 "Update IRC and Matrix Links"
The IRC channels have recently closed and the Matrix channels have been moved from the `matrix.org` homeserver to `ipfs.io`.

[2021-05-29 16:19] lidel commented on #786
:+1:

We need to update https://docs.ipfs.io/community/ and most likely update +rename https://docs.ipfs.io/community/irc to https://docs.ipfs.io/community/chat, as IRC is no longer a reliable.

[2021-05-29 18:16] johnnymatthews commented on #785
That's be a cool static-site generator to add, but we don't have the capacity to build that part of the tutorial right now. Any help from the community would be greatly appreciated!

[2021-05-31 16:39] #786 closed

[2021-06-01 23:45] TheDiscordian opened #788 "How to turn an IPFS node into a gateway node."
I was thinking it might be a good idea to clarify how a user might host their own gateway. It might be clear to some that they can use their go-ipfs node as a public gateway with some configuration, but the concepts/ipfs-gateway write-up doesn't make this explicitly clear. I think it'd be useful to at least make it explicitly clear what software might be used to setup a gateway (or maybe an exampl

[2021-06-02 14:27] johnnymatthews commented on #788
Good call. Having this doc would be very handy, especially for folks running local hackathons that want an in-house gateway to run things from! I've put the `p2` tag on here for now, but can up the priority if more we find that more folks are requesting it.

[2021-06-03 16:34] jessicaschilling commented on #789
@johnnymatthews @johndmulhausen - migrating this issue into docs as we're tidying the old website repo issues in preparation for replatforming. Might be a good inclusion for the FAQ section of docs.

[2021-06-08 03:25] johnnymatthews commented on #789
This content isn't really suitable for the docs; developers and builders have very little need for this kind of stuff. Financial and regulatory information is better suited on somewhere like protocol.ai

[2021-06-08 03:25] #789 closed

[2021-06-08 17:18] autonome commented on #677
From @aschmahmann, who will someday write the best-selling ebook on this topic:

Essentially the resiliency of the system and how data can flow through any number of avenues makes these thing hard to debug from a UX layer (e.g. "hey how come sometimes my file shows up and sometimes it doesn't") and instead you have to be a bit more precise about what "working means" for you. For most people that's

[2021-06-08 17:56] Sayooj5 opened #791 "[CONTENT REQUEST] (django ipfs file upload)"
I am doing my project on a web app by using Django.  I want to upload the files from the project and use ipfs as a database for that. I was not able to find a tutorial for the same. It will be very useful for beginners like me if you add a page for that too.

[2021-06-08 19:23] johnnymatthews commented on #791
There's already a decent amount of content relating to IPFS and Django. Found these after a quick search:

1. [StackOverflow](https://stackoverflow.com/questions/39840896/how-can-i-upload-form-field-contents-to-an-ipfs-node-using-django)
2. [Medium](https://python.plainenglish.io/how-i-made-my-django-app-faster-and-safer-with-infura-ipfs-94ee149277be)
3. [Synk.io](https://snyk.io/advisor/python/dj

[2021-06-08 19:23] #791 closed

[2021-06-09 12:49] johncoffee opened #792 "Dead link on: Introducing Fleek"
steps:
1. visit https://docs.ipfs.io/how-to/websites-on-ipfs/introducing-fleek/#host-a-site
2. click the link "Check out the Fleek documentation for more information on how to get your domain linked up → "
3. See that the destination url https://docs.fleek.co/hosting/domain-management/ shows an error message "ipfs resolve -r /ipfs/QmWYCZ37PPALRjw3QRw5GSASPTkPmmhqDGiqRSZ4r4pRZQ/hosting/domain-manag

[2021-06-09 15:22] Sayooj5 commented on #791
But sir these all are from 4 years ago . So it is not working. I am a
beginner in Django and I need help for my engineering project

On Wed, 9 Jun 2021, 12:54 am Johnny, ***@***.***> wrote:

[2021-06-09 16:03] johnnymatthews commented on #791
If you're looking for support, the best place to start is the [IPFS forums](https://discuss.ipfs.io/c/help/13). Unfortunately, [I can't find any other posts relating to Django](https://discuss.ipfs.io/search?q=django%20category%3A13), so you might be the first to ask.

[2021-06-09 16:09] johnnymatthews commented on #792
Thanks for the catch! Fixed in #793.

[2021-06-09 16:09] #792 closed

[2021-06-09 17:07] #586 closed

[2021-06-09 18:14] yusefnapora commented on #298
Here's a link to the dag-jose explainer we talked about in the sync meeting: https://www.memoryandthought.me/golang,/ipfs/2020/09/04/dag-jose-project.html

Also the js implementation repo: https://github.com/ceramicnetwork/js-dag-jose#jwe-encryption-usage

[2021-06-09 18:18] johnnymatthews commented on #290
Let's try to implement the [Filecorgi bot](https://github.com/filecorgi) into this repo. That covers everything we need to automate.

[2021-06-14 03:26] TheDiscordian commented on #677
This comes up fairly often:

**A**:
By default go-ipfs utilises mDNS which results in it trying to talk to a lot of internal network IPs. You can resolve the issue by using a server profile by executing `ipfs config profile apply server` on the node.

[2021-06-14 14:02] johnnymatthews opened #798 "Review "Simple chat app" tutorial."
PR #797 merged in a new _simple chat app_ tutorial. While the tutorial structure is sound, I haven't yet ran through the tutorial end-to-end to test that everything works fine.

## Tasks

- [ ] Read through _Create a simple chat app_ tutorial.
- [ ] Follow all the steps to eventually create the app.
- [ ] Note any inconsistencies here.

If there's anything glaringly wrong with the tutorial, let's

[2021-06-14 17:15] johnnymatthews opened #799 "Inline code-blocks are not wrapping."
There's a minor bug with the CSS that causes inline-code blocks to _not_ wrap.

1. Go to the [IPNS page](https://docs.ipfs.io/concepts/ipns/#example-ipns-setup-with-cli).
2. Scroll down to step 8.
3. Shrink the browser window to about half of your monitor.
4. The code block extends far across the view of the screen:
![Screenshot from 2021-06-14 13-11-15](https://user-images.githubusercontent.com/9

[2021-06-14 18:45] #619 closed

[2021-06-14 18:58] kvutien opened #801 "IPNS, explanation needed what is a "k51" key"
In [step 5](https://docs.ipfs.io/concepts/ipns/#example-ipns-setup-with-cli) a comment says "_`k51`... is the key of your IPFS installation_" then later there were several times a mention of `k5` and "key" but a Google on "k51" and on "key of IPFS installation" doesn't give anything.

What is this exactly please? and where in the docs is it explained?

[2021-06-14 19:46] #290 closed

[2021-06-16 18:27] yusefnapora commented on #799
@johnnymatthews I think this is the PR that fixed this problem on nft school: https://github.com/protocol/nft-website/pull/84

[2021-06-16 23:16] lidel commented on #788
Topics we should cover:
- [path gateway](https://docs.ipfs.io/how-to/address-ipfs-on-web/#path-gateway) vs [subdomain gateway](https://docs.ipfs.io/how-to/address-ipfs-on-web/#path-gateway) vs dnslink hosting
- in-depth explainers for common recipes  (https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#gateway-recipes)
- exposing data over HTTP vs running a  gateway for hosting of web apps

[2021-06-17 19:03] jessicaschilling commented on #669
Update: I took a pass at this in https://github.com/ipfs/ipfs-docs/pull/806. @autonome @johnnymatthews can you please have a look?

[2021-06-17 19:48] johnnymatthews commented on #799
Nice. Thanks @yusefnapora!

[2021-06-17 19:50] #799 closed

[2021-06-18 11:23] Win32netsky opened #809 "[DOCS ISSUE] (add your title here!)"
Hello
I have Files Error 404 ?
Instruction MSF not works on Hirsute Hippo amd46
This is the new exp. Version

``
marko@marko-desktop:~$ await ipfs.files.mkdir('/example')
bash: Syntaxfehler beim unerwarteten Wort »(«
marko@marko-desktop:~$
``
Best Regards

[2021-06-18 12:12] robertlerry opened #810 "Computer Aided Diagnosis Market Demand, Segments and Forecast to 2027"
The investigative approach applied for the extensive analysis of the sale, gross margin and profit generated by the industry are presented through resources including tables, charts, and graphic images. Importantly, these resources can be easily integrated or used for preparing business or corporate presentations.

Read more@ https://www.emergenresearch.com/industry-report/computer-aided-diagnosis

[2021-06-18 12:21] bertrandfalguiere commented on #810
Are you spaming? What is the connection with ipfs'docs?

[2021-06-21 16:27] johnnymatthews commented on #809
If you're looking for support, you're better off posting your issues on the [IPFS forum](https://discuss.ipfs.io/).

[2021-06-21 16:27] #809 closed

[2021-06-21 16:42] johnnymatthews commented on #801
I believe what's happening here is that we're not explains where we're getting `k51...` from:

The `k51...` bit refers to the key pushed out by `ipfs name publish ...`:

## Tasks

- [ ] Update the IPNS tutorial to make it clearer where the `k51...` key is coming from.

[2021-06-21 17:43] kvutien commented on #801
Yes. Thanks a lot.

Allow me a wish from a true beginner. Maybe someone of your team may take some time to go through the docs, specially the ones for beginner, and make sure that the technical terms are consistent and unambiguous. I totally understand that for you guys who are involved since the beginning, using different words for the same concept is OK, or using the same words for different con

[2021-06-21 18:24] kvutien commented on #608
In the meantime, I'm starting the ProtoSchool tutorials. They are incredibly helpful to understand IPFS and the underlying concepts.

1. Maybe a quick fix for this [IPFS 101 page](https://docs.ipfs.io/concepts/how-ipfs-works/#distributed-hash-tables-dhts) is to add a section on IPLD before going in down into Merkle trees and DHT? If the author cares to maintain the page?

2. IMHO what confuses me

[2021-06-21 18:40] kvutien commented on #669
I've followed the link and the branch. Beautiful work. IMHO we still need a guide for beginners. Such a guide would be incredibly helpful for people like me who are still learning.

Currently the repo is more or less flat and all topics are at the same level. A beginner has no clue what concepts have to be learned first. If we take [this one](https://github.com/ipfs/ipfs-docs/tree/main/docs), woul

[2021-06-22 14:49] jessicaschilling commented on #669
Hi @kvutien - thanks for the feedback! We can definitely explore some way of adding a more sequential path through the docs overall, or perhaps an indicator of complexity level of a particular article.

In the meantime, you might find useful the concept guides marked "IPFS 101" in the navigation on https://docs.ipfs.io/concepts/ - or the content at https://dweb-primer.ipfs.io/.

[2021-06-22 16:23] kvutien commented on #669
Thanks a lot Jessica. Yes, I appreciated a lot the videos and the Primer. However, the 101 is too short and too cryptic for a beginner. Actually I filed an issue for that. But never mind, the Primer, the tutorials of ProtoSchools and the explanation of IPLD made my day.

BTW, allow me some reading comments:
* [README.md#history-of-ipfs](https://github.com/ipfs/ipfs-docs/blob/main/docs/project/READ

[2021-06-22 23:50] jessicaschilling commented on #669
@kvutien - you uncovered a larger issue with relative paths not working correctly for folks viewing directly in GitHub (as opposed to on docs.ipfs.io). This will be fixed in https://github.com/ipfs/ipfs-docs/pull/812!

[2021-06-23 03:31] ardunster opened #813 "npm security fixes"
Hey,
I was just getting ready to mess around in the docs some to get myself refamiliarized with IPFS before looking for things I might be able to tackle in the js-IPFS repo, and running npm install gives me 39 security vulnerabilities in this repository.

Are any of these under review for updating, etc? 19 of them npm considers high risk.

[code]

[2021-06-23 03:36] ardunster commented on #652
I think it would be more accurate the other way around: No security without privacy.

@johnnymatthews , what would be the appropriate forum to weigh in on this issue? I also am anti-google as a general rule.

[2021-06-23 10:22] kvutien commented on #669
Cool. Yes `docs.ipfs.io` is awesome, starting from the videos in "Concepts". Also the ProtoSchool.

What would be the probability that a beginner like me would start reading from the Github repo, as compared to `docs.ipfs.io`? Do you have an idea? As far as I'm concerned, I started with Github because it's THE reflex of all coders.

My humble opinion, now that I've explored the Github repo, the Pr

[2021-06-23 17:06] jessicaschilling commented on #669
Thanks for the feedback @kvutien! We don't have access to GitHub traffic data, but you raise a good point. Thanks for the nudge to update all those relative paths — will make the experience significantly better for folks reading directly on GitHub.

[2021-06-23 17:57] #669 closed

[2021-06-23 23:26] lidel opened #820 "Update screenshots to match webui from go-ipfs 0.9.0"
(filling so we dont forget)

https://github.com/ipfs/go-ipfs/releases/tag/v0.9.0 shipped and includes webui with support for remote pinning services.

Guide at https://docs.ipfs.io/how-to/work-with-pinning-services/#use-an-existing-pinning-service needs screenshot update:

- some labels and interfaces changed since then
   (eg. `Secret API key` got renamed to `Secret access token`)
- we only have

[2021-06-24 13:47] #360 closed

[2021-06-24 13:52] johnnymatthews commented on #652
@ardunster, I think for now this issue is a good place to discuss your thoughts on de-googlifying IPFS Docs.

[2021-06-24 13:53] #480 closed

[2021-06-25 08:45] yyd106 commented on #764
Hi @lidel , the Crust-based pinning service endpoint is released: https://wiki.decoo.io/pinningServicesApi.

[2021-06-26 15:09] johnnymatthews commented on #801
You're absolutely right. These docs are long in needed of a review and overhaul. Unfortunately, the docs team is spread pretty thin across multiple Protocol Labs projects. Any help we can get from the community would be hugely apprecaited.

[2021-06-26 15:10] #810 closed

[2021-06-26 15:12] johnnymatthews commented on #813
@cwaring , any chance you can take a look at this?

[2021-06-27 01:17] meaningofmeaning opened #822 "Command-line quick start"

[2021-06-28 16:07] #822 closed

[2021-06-28 20:49] rleddy commented on #295
Sometimes I write articles for cash. Need to make some now.

Is this still something that can be addressed? Noting this is about one year old.

Is this bounty per article? Can one discuss with staff about the choices of what to write next? Where do the article get published? Is someone actively managing this? Is there an editorial process for this? Hoping that parameters can be clear. Articles (or

[2021-06-29 13:39] johnnymatthews commented on #295
This issue is quite old, and no longer reflects the priorities that IPFS, and Protocol Labs as a whole, now has. Closing.

[2021-06-29 13:39] #295 closed

[2021-06-29 22:32] #820 closed

[2021-06-30 03:39] traumschule opened #824 "IPFS updater does not install fs-repo-migrations"
After upgrading ipfs-go from 0.6 to 0.9 the service fails to start:

[code]

Remedy: make sure that `fs-repo-migrations` is installed, or warn the administrator with instructions or offer to install it.

[2021-07-04 12:08] sas32020 opened #827 "Incorrect instruction - https://docs.ipfs.io/community/contribute/contribution-tutorial/#creating-a-fix"
The code snippet following the third instruction on how a contributor can clone the ipfs-docs project to their local machine seems incorrect (contribution-tutorial.md).

The 'YOUR-USERNAME' should be removed from git clone command, as ipfs-docs project does not sit under the users' username.

`git clone https://github.com/YOUR_USERNAME/ipfs-docs.git`
should actually read
`git clone https://github.

[2021-07-04 12:23] sas32020 commented on #827
I am sorry. I misread. I believe, the precursor to the section I have highlighted does talk about forking.

[2021-07-04 12:23] #827 closed

[2021-07-05 15:33] johnnymatthews commented on #824
Thanks for raising this issue @traumschule. I've forwarded this to the IPFS team to figure out what's going on.

[2021-07-07 09:03] ItsYoutacRRS opened #831 "Resubmit token"
__Originally posted by @gcolvin in https://github.com/ethereum/EIPs/pull/3319__

[2021-07-07 20:24] #831 closed

[2021-07-17 07:09] Elmit2015 opened #841 "Lack of `ipfs` command with `.AppImage` releases causes issues with tutorial and guides that rely on native `ipfs` commands."
I use ipfs-desktop-0.16.1-linux-x86_64.AppImage on Ubuntu 20.10

It works fine, but I need:

1. I want to use IPNS, so that I can update files. However, the instructions (http://docs.ipfs.io.ipns.localhost:8080/concepts/ipns/#example-ipns-setup-with-cli) Example IPNS setup does not work:
Command 'ipfs'  not found
I tried to find the path for it but failed.

2. I need to move the files to another d

[2021-07-18 14:37] johnnymatthews commented on #677
## Tasks

- [ ] Create a **Troubleshooting** section under **How-tos**.
- [ ] Create a page called for each of the topics discussed in this issue under **Troubleshooting**.
    - [ ] Grammar and spellcheck the content, and flesh-out where necessary.
- [ ] Add sidebar nav items for each page.