[2021-07-18 14:54] johnnymatthews commented on #298
## Tasks

### Page set up

- [ ] Create a new section header in `concepts/privacy` called **Encryption**.
- [ ] Rename `concepts/privacy` to `concepts/privacy-and-encryption`.
    - [ ] Edit the title of the page to _Privacy and encryption_.
- [ ] Add a redirect for `/concepts/privacy` to `/concepts/privacy-and-encryption`.
- [ ] Update sidebar link to reflect the name and title change.

### Encry

[2021-07-18 15:18] johnnymatthews commented on #841
The problem here is that the IPFS Desktop `.AppImage` doesn't install an IPFS daemon, or even add `ipfs` to your system's `$PATH`. Everything to do with IPFS runs, self-contained, within the `.AppImage` itself.

To get around this, I'm pretty sure you can replace every `ipfs ...` command with `./ipfs-desktop-0.16.1-linux-x86_64.AppImage ...`. So something like:

[code]

However, I'm not sure if th

[2021-07-19 08:29] Elmit2015 commented on #841
Thanks that worked!

[2021-07-19 08:29] #841 closed

[2021-07-21 01:04] michaelkarlcoleman opened #844 "What keeps the last copy of a doc from disappearing?"
Would love to see everyone's first question answered at the top.  Which is, **what's to keep the last copy of any given document from disappearing?**

Apologies if this is in the docs somewhere...

[2021-07-21 10:49] bertrandfalguiere commented on #844
Nothing does. Someone, somewhere, has to have it either because they pinned it or have it in their cache. Either because they are interessed in the data or because they were paid for pinning it.

General questions should be asked on discuss.ipfs.io . Please ask the question there if you need more details.

[2021-07-21 14:20] johnnymatthews commented on #844
[This might help out a bit](https://docs.ipfs.io/concepts/persistence/#persistence-versus-permanence). Gonna close this issue for now. Feel free to continue to comment in here if you still have questions though.

[2021-07-21 14:20] #844 closed

[2021-07-21 16:46] michaelkarlcoleman commented on #844
Got it.  Thanks--I thought I was missing something.

[2021-07-22 13:23] johnnymatthews commented on #844
No problem. It may be that we need to add in more _key words_ into that page, so that it shows up more prominently in the search results.

[2021-07-30 06:45] alexmmueller commented on #677
Hey @johnnymatthews! I will take care of this issue, please assign it to me. Thank you!

[2021-07-30 13:49] johnnymatthews commented on #677
Perfect, thanks for jumping on this one @alexmmueller. If you've got any questions drop them in here - you know the drill.

[2021-08-01 19:10] rleddy opened #850 "Review how CIDs are explained, and cover common pitfalls."
So, last night as it got later and later I was playing around with creating CIDs and using the cool CID tool, which really only parses a CID if it fits the IPFS CID formats.

I had two concerns. (That is aside from not knowing where my next meal will come from and I am guessing nobody hires experienced programmers.)

1) I could use a tool that helps me create a CID. Thoughts: Why don't I do this?

[2021-08-02 19:06] adamlaska opened #851 "[DOCS ISSUE] (add your title here!)"

[2021-08-03 14:31] #851 closed

[2021-08-03 18:19] adamlaska commented on #851
****

[2021-08-04 01:11] adamlaska opened #852 "IPNS"

[2021-08-04 01:15] adamlaska opened #853 "[CONTENT REQUEST] (add your title here!)"

[2021-08-04 12:15] #853 closed

[2021-08-04 12:15] #852 closed

[2021-08-04 12:19] johnnymatthews commented on #851
@adamlaska you've opened several blank issues over the past 11 hours:

- https://github.com/ipfs/ipfs-docs/issues/851
- https://github.com/ipfs/ipfs-docs/issues/852
- https://github.com/ipfs/ipfs-docs/issues/853

I you have an automation script running, it's likely gone wrong.

[2021-08-04 13:35] needhelpjal opened #854 "[DOCS ISSUE] your install instructions for Linux - Why do they go to ms windows ?"

[2021-08-04 14:08] johnnymatthews commented on #854
Not enough information was supplied with this issue. Closing.

[2021-08-04 14:08] #854 closed

[2021-08-05 15:11] #298 closed

[2021-08-05 15:13] johnnymatthews commented on #677
Hey @alexmmueller, how's your progress on this?

[2021-08-05 17:18] rishabhkeshan commented on #293
Hey @johnnymatthews it's been long there hasn't been an update, can I be assigned the issue?

[2021-08-05 17:53] johnnymatthews commented on #293
Absolutely! Thanks for picking this up @rishabhkeshan.

[2021-08-11 13:47] greg-raven opened #859 "Fix typos in "Hosting a single-page website" page."
The word "temperature" is misspelled. Also FWIW, the code example uses single quotes instead of double quotes, and is missing two semi-colons toward the end of the code.

[2021-08-11 13:49] greg-raven opened #860 "Fix broken link to Pinata's Pin Explorer."
This document contains a link to https://www.pinata.cloud/pinexplorer, which seems no longer to be available. Ironic, certainly, but what are you going to do?

[2021-08-11 17:59] rishabhkeshan commented on #293
Hey @johnnymatthews just a question, should I make a new branch and submit a PR or submit a PR to main?

[2021-08-11 19:14] rishabhkeshan commented on #293
Hey @johnnymatthews, please have a look.

[2021-08-16 11:48] rishabhkeshan commented on #293
@johnnymatthews any update?

[2021-08-18 16:39] johnnymatthews commented on #293
Hey @rishabhkeshan, sorry for the delay in getting back to you here. Thanks for the PR! One of our front-end devs will give it a review before it gets merged.

[2021-08-19 10:53] ROBERT-MCDOWELL commented on #242
is there any updated roadmap on IPLD?

[2021-08-20 12:07] ROBERT-MCDOWELL opened #862 "Link a domain"
Hi,
this page shows dnslink to ipfs/<hash>, but nothing about mutable root with ipns/<hash>
is it intentional?

[2021-08-20 16:23] johnnymatthews commented on #862
At the time of writing this tutorial series, DNSLink was the most reliable service, and was also pretty simple to use.

[2021-08-20 16:23] #862 closed

[2021-08-20 20:34] ROBERT-MCDOWELL commented on #862
Yes indeed, I learned a lot since 3 days and need to understand and learn more about the logic, especially how to manage permissions and old blocks

[2021-08-23 06:23] yyd106 commented on #487
Hi @jessicaschilling ,
Recently we have published another IPFS-based open source project named "Encrypted IPFS" (https://github.com/crustio/encrypted-ipfs). It is a pure technical project without any cryptocurrency. It is to provide an encrypted storage layer of IPFS that supports a customized encryptor so that underlying IPFS objects can be stored in an encrypted way.
We wish to contribute it to

[2021-08-23 09:50] kmunk1975 opened #865 "Make a new roadmap 2021-2022?"
Make a new roadmap 2021-2022?
There is nowhere to find a roadmap 2021-2022 for ipfs

Missing a new roadmap 2021-2022
![2021-08-23](https://user-images.githubusercontent.com/3010850/130427412-5ceeda38-4d49-48cd-93d4-3caa85f03340.png)

I can't find docs, readme, or links, to a roadmap 2021-2022, either work to do or publish
kmunk1975

[2021-08-23 10:26] alexmmueller commented on #865
Hey @kmunk1975! This issue was [raised in the discussion forum](https://discuss.ipfs.io/t/2021-roadmap-for-ipfs-is-this-still-a-thing/10534/5) back in march. Maybe you can add your request / support there?

[2021-08-23 14:56] johnnymatthews opened #866 "Explore how to link and CID and a Handshake domain."
The [Websites on IPFS](https://docs.ipfs.io/how-to/websites-on-ipfs/single-page-website/#install-ipfs-desktop) tutorial talks about linking up an [ENS domain to a CID](https://docs.ipfs.io/how-to/websites-on-ipfs/link-a-domain/#ethereum-naming-service-ens), but doesn't mention Handshake domains. A few hackathon participants have requested that it'd be nice to see a similar explanation for Handshak

[2021-08-23 14:58] johnnymatthews commented on #865
This isn't _strictly_ a documentation issue. I'm gonna close this one for now, but please keep up the conversation in the [Discussion Forum](https://discuss.ipfs.io/t/2021-roadmap-for-ipfs-is-this-still-a-thing/10534/5). Thanks for linking to that @alexmmueller!

[2021-08-23 14:58] #865 closed

[2021-08-23 22:15] OhArthits opened #867 "[CONTENT REQUEST] (add your title here!)"

[2021-08-24 01:36] #867 closed

[2021-08-24 15:52] #677 closed

[2021-08-24 15:58] johnnymatthews commented on #860
Looks like Pinata no longer have a pin explorer available. I'll take the link out.

[2021-08-24 16:14] #860 closed

[2021-08-29 10:04] krishraghuram opened #871 "Explain how the authenticity and integrity of a response is verified by IPFS."
IPNS docs do not mention one thing that is not obvious to people who are relatively new to IPFS world.

#### TL;DR - document the details found on these discuss.ipfs.io posts into the IPNS docs page,

* https://discuss.ipfs.io/t/why-does-ipns-hash-the-public-key/8716
* https://discuss.ipfs.io/t/solved-how-to-verify-that-cid-is-signed-by-peerid/9140/24

#### Detailed

How the response of a `ipfs na

[2021-08-29 10:20] krishraghuram commented on #871
Hmm, I see that there is a general issue regarding improving IPNS docs page - https://github.com/ipfs/ipfs-docs/issues/244

But I also see that that issue has been created in 2018, and the last comment is from 2020. Even adding a bounty has not given it the attention it needs.

I feel that it would better if we can get incremental improvements to the IPNS docs page, from community contributors (li

[2021-08-31 10:19] rishabhkeshan commented on #293
Hey @johnnymatthews @hsanjuan I have done the final changes, could you review the same.

[2021-09-01 05:28] rishabhkeshan commented on #293
Hey @johnnymatthews my PR has been approved.

[2021-09-02 15:11] #284 closed

[2021-09-02 15:11] #285 closed

[2021-09-02 17:56] lidel commented on #267
I've marked low hanging fruits with :anger:  – believe those things could be automated fairly easy in a fashion similar to what we do in https://github.com/ipfs/npm-go-ipfs:
1. run every hour or day and detect when new go-ipfs release appears at https://github.com/ipfs/go-ipfs/releases
2. run tool that generates updated docs
3. check if open/closed  PR against docs.ipfs.io for specific docs and re

[2021-09-07 16:02] gsaslis opened #874 "Add output of `pin` commands to `how-to/pin-files`."
Hi folks,

I think it would be useful to have the output from the commands on this page: https://docs.ipfs.io/how-to/pin-files/#three-kinds-of-pins

I find that just seeing the commands, without their output, feels a little counter-intuitive.

[2021-09-08 01:40] johnnymatthews commented on #764
We won't be actioning this. Closing.

[2021-09-08 01:40] #764 closed

[2021-09-08 01:52] johnnymatthews commented on #874
Marked as `trivial`, but might be slightly more complex if we need to import the fancy code `input/output` block from Filecoin and Web3.Storage docs.

[2021-09-08 16:56] rishabhkeshan commented on #293
Hey @johnnymatthews when will my PR be merged and how will I receive the bounty?

[2021-09-14 00:37] cj-l opened #879 "Mint an NFT with IPFS"
Hi,

Is it possible to pin a directory of files, so they all have the same "base CID", and then add new files to that "base CID"?

This is so that the URIs of all my files are consistent.

For example If I had files `1.json`, `2.json` and `3.json`, I'd want them to go to `ipfs://<myCID>/1.json`, `ipfs://<myCID>/2.json` etc. Once these are pinned, I'd then want to be able to pin `4.json` which goes

[2021-09-14 13:03] BlocksOnAChain commented on #242
https://ipld.io/docs/intro/primer/ - closing since we have this website which is explaining everything in detail.

[2021-09-14 13:03] #242 closed

[2021-09-14 13:04] BlocksOnAChain commented on #243
https://docs.ipfs.io/concepts/file-systems/#mutable-file-system-mfs - done by this page, we should close

[2021-09-14 13:06] #243 closed

[2021-09-14 13:08] BlocksOnAChain commented on #244
we can close since we have: https://docs.ipfs.io/concepts/ipns/#example-ipns-setup-with-cli

[2021-09-14 13:08] #244 closed

[2021-09-14 13:15] BlocksOnAChain commented on #248
this should be revisited if IPFS **collections** happen - @lidel

[2021-09-14 13:15] #778 closed

[2021-09-14 13:17] #859 closed

[2021-09-14 13:20] BlocksOnAChain commented on #251
Probably explained here: https://proto.school/merkle-dags/01

[2021-09-14 13:21] BlocksOnAChain commented on #251
and here: https://proto.school/mutable-file-system; https://proto.school/regular-files-api

[2021-09-14 13:21] #251 closed

[2021-09-14 13:24] BlocksOnAChain commented on #252
@lidel  - https://docs.ipfs.io/how-to/websites-on-ipfs/link-a-domain/#domain-name-service-dns this should explain it.

[2021-09-14 13:24] #252 closed

[2021-09-14 13:26] johnnymatthews commented on #255
This is overly ambitious. Instead, when we're showing the reader a code example, we copy it directly from https://github.com/ipfs-examples. Closing.

[2021-09-14 13:26] #255 closed

[2021-09-14 13:33] johnnymatthews commented on #824
This error is likely due to MacOS not allowing IPFS to download and run unsigned executables. This has been fixed in [v0.10.0-rc1](https://github.com/ipfs/go-ipfs/releases/tag/v0.10.0-rc1)

[2021-09-14 13:33] #824 closed

[2021-09-14 13:34] BlocksOnAChain commented on #262
Outdated issues, we will close it - @lidel

[2021-09-14 13:34] #262 closed

[2021-09-14 13:35] BlocksOnAChain commented on #265
we shouldn’t do this, since we changed the approach after the reorg we did - @johnnymatthews

[2021-09-14 13:35] #265 closed

[2021-09-14 13:40] #283 closed

[2021-09-14 13:40] #286 closed

[2021-09-14 13:42] BlocksOnAChain commented on #287
Examples are low level for average IPFS users - @lidel

[2021-09-14 13:44] BlocksOnAChain commented on #294
I think we did this, to some extent here: https://docs.ipfs.io/concepts/glossary/

[2021-09-14 13:47] johnnymatthews commented on #297
Are you still working on this one @alexmmueller?

[2021-09-14 13:52] BlocksOnAChain commented on #223
this is blocked until Go-IPFS RC with dedicated commands goes out: https://github.com/ipfs/go-ipfs/pull/8291

[2021-09-14 13:53] BlocksOnAChain commented on #495
I believe we have the info listed here: https://docs.ipfs.io/concepts/ipns/#example-ipns-setup-with-cli

[2021-09-14 13:53] #495 closed

[2021-09-14 13:59] johnnymatthews commented on #403
There's a big list of [implementations in ipfs/ipfs](https://github.com/ipfs/ipfs#http-client-libraries), but many of them are out-of-date/inactive. Adding those implementation into this repo won't be particularly useful.

[2021-09-14 13:59] #403 closed

[2021-09-14 14:00] BlocksOnAChain commented on #411
Documentation for https://dnslink.io/ and https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#dns

[2021-09-14 14:04] BlocksOnAChain commented on #560
https://docs.ipfs.io/concepts/privacy-and-encryption/#enhancing-your-privacy - this should be closed by using the provided link

[2021-09-14 14:04] #560 closed

[2021-09-14 14:05] #263 closed

[2021-09-14 14:07] johnnymatthews commented on #268
Speaking to users, the vast majority of non-English speakers use their own browser tools to manage translations. Without committing significant, this will do for now.

[2021-09-14 14:07] #268 closed

[2021-09-14 14:07] lidel commented on #879
The CID of parent directory is based on the content of your files, so the short answer is no.
When you add 4.json that will change the CID of your root dir.

For more info see https://docs.ipfs.io/how-to/mint-nfts-with-ipfs/ and reach out at  https://discuss.ipfs.io/ where more people look and will be able to answer your support questions :pray:

[2021-09-14 14:07] #879 closed

[2021-09-14 14:09] johnnymatthews commented on #270
I'm gonna close this as out-of-scope for now. While it'd be nice to have, it's not the best use of resources right now.

[2021-09-14 14:09] #270 closed

[2021-09-14 14:11] johnnymatthews commented on #334
This is tricky. Updating a list of public and live bootstrap nodes could be costly in terms of time. What would be better is if we had an automated service that observes the DHT and returns a set of stable peers that have been online for ~1 day or more.

[2021-09-16 10:05] momack2 commented on #334
I don't think that was quite the intended approach, @johnnymatthews. This issue came from sourcing/identifying additional mechanisms to heal from hypothetical DOS attacks against the pre-configured IPFS bootstrap node list that ships in go-ipfs. With a community list here in the docs, nodes could re-configure to new bootstrap nodes if those default nodes are ever DOSed in an attack (unable to boot

[2021-09-16 10:06] momack2 commented on #334
Maybe we can just start with this list here? https://docs.ipfs.io/how-to/peering-with-content-providers/#content-provider-list

[2021-09-20 06:19] rishabhkeshan commented on #293
Hey @johnnymatthews what's the procedure for receiving the bounty

[2021-09-20 14:32] johnnymatthews commented on #293
Ah sorry, there's meant to be an automated thing that runs. But looks like it didn't. Drop me an email at johnny@protocol.ai and we'll start the bounty process!

[2021-09-21 13:23] jilleJr opened #885 "How initial dial-up/peer discovery works"
Hello! How does IPFS nodes get their initial list of peers on startup?

As long as your node has at least one other node connected, it can provide your node with locations to find other nodes. But when you start up your IPFS node, or start your Brave browser, how does it find any node to begin with? Only solution I can imagine is if the IPFS node comes shipped with some hard-coded nodes to discove

[2021-09-21 16:26] piorot opened #886 "Remove dead example link."
This link leads to none existing GH page:
![image](https://user-images.githubusercontent.com/18365032/134209534-d1e079ea-dd05-4e59-bb2c-33eafb15d852.png)

In other words  [https://github.com/ipfs/js-ipfs/tree/master/examples/explore-ethereum-blockchain](https://github.com/ipfs/js-ipfs/tree/master/examples/explore-ethereum-blockchain) returns 404

[2021-09-21 20:52] #267 closed

[2021-09-23 14:20] johnnymatthews commented on #334
Oh I see! So this list of nodes will act as a backup in case the default bootstrap nodes go down for whatever reason. Makes sense.

We could pretty easily make a workflow for users to create a PR to add new nodes. But:

- Should we allow any PR that adds a new node into the list, or only accept PRs from recognised IPFS community members?
- Do regular IPFS users have to trust that these bootstrap n

[2021-09-23 14:22] johnnymatthews commented on #885
The search term you're looking for is a _bootstrap node_. These are nodes that are designed to be on all the time, and to help new nodes get set up and find their initial peers. You can find out more about bootstrap nodes and how to modify the nodes your IPFS node talks to in the [Modify the bootstrap list section](https://docs.ipfs.io/how-to/modify-bootstrap-list/)

[2021-09-23 14:22] #885 closed

[2021-09-23 14:26] johnnymatthews commented on #886
Oh no! Looks like that example doesn't exist anymore :( I'll take out that line.

[2021-09-23 14:29] #886 closed

[2021-09-23 14:58] johnnymatthews commented on #888
So here's the deal: adding the details of each return value into the current automation processes we have is possible, but requires a very large PR and a bunch of effort. First, the returns fields have to be [documented in the code](https://github.com/ipfs/go-ipfs/blob/master/core/commands/add.go#L24). Then, the HTTP-DOCS-API (that now lives in ipfs-docs/tools) has to be updated to use `Go reflect

[2021-09-23 15:00] lidel commented on #888
I agree, what is missing is providing the  `./tools/http-docs-api` generator  with information about returned structures.

My 2 cents are that to ensure we have meaningful docs, this should be:
- fully automated (no plaintext edited by humans – it always gets out fo date)
- mandatory (required by the go-ipfs-cmds library)

Perhaps we could extend `cmds.Command`  ([go-ipfs-cmds](https://github.com/

[2021-09-23 18:20] lidel opened #893 "Incorporate ResNetLab on Tour videos"
We have a more up-to-date Course at https://research.protocol.ai/tutorials/resnetlab-on-tour/
Feels like a good resource that could augument existing docs + identify gaps (things which we dont have docs for)

Some ideas here we could use those videos:
- [ ]  put all in the Videos section at https://docs.ipfs.io/concepts/ ?
- [ ] [content addressing](https://research.protocol.ai/tutorials/resnetlab

[2021-09-23 22:00] momack2 commented on #334
I think it can be fairly permissive - but some good standing in the ecosystem required (a malicious node could ex be annoying by bootstrapping new nodes into an isolated network and refuse to resolve content / peer them with other nodes).

[2021-09-25 16:49] nazariyv commented on #704
would really appreciate help on this. My use case is uploading the 10k metadata files for an NFT collection. I cannot construct a valid request in Python since that requires opening 10k individual files. Can't find any information on the web on how to do this.

[2021-09-29 16:37] johnnymatthews commented on #893
Oh we should absolutely add these videos into the docs! Or at the very least, link to them. PRs welcome!

[2021-10-08 18:32] BigLep opened #905 "CLI install directions automatically reference the latest version"
**Done criteria:** URLs like https://docs.ipfs.io/install/command-line/#official-distributions automatically reference the latest go-ipfs release.

**Why important:** saves time for go-ipfs Steward doing a release and ensure users know/use the latest version.

**Customer:** dev team and end users

**Notes:**
- The 0.10 case where we did this manually: https://github.com/ipfs/ipfs-docs/pull/904

[2021-10-11 18:20] mishmosh opened #908 "Explain common pitfalls surrounding CIDs and how to "update" them."
The IPFS discord has been seeing multiple questions about updating CIDs and IPNS, and @Jorropo has written an outline addressing these Qs.

https://hackmd.io/SuF_fe82Qeamj2nSXmMWiw?both

Can we figure out the best place to incorporate this content? These 2 articles seem like the closest I can find:
- https://docs.ipfs.io/concepts/immutability/ (expand last paragraph, and link to...)
- https://docs

[2021-10-14 19:30] SuaYoo opened #911 "Replace wget with curl in mac CLI install instructions"
Mac instructions should use `curl` instead of `wget` on the install page: https://docs.ipfs.io/install/command-line/#official-distributions. The updater installation docs correctly uses curl: https://docs.ipfs.io/install/ipfs-updater/#install-updater although I would suggest using `curl -O` instead of repeating the filename with `--output`.

[2021-10-15 02:05] johnnymatthews commented on #911
This is a fair point. I agree that we should be consistent across all pages in terms of which tools we use to download content. But what's the reason for macOS using cURL specifically? Why not change the Updater page to use wget?

I'm not trying to start an argument. I'm curious as to why we should encourage macOS users to use cURL, but not Linux users.

[2021-10-17 08:19] SuaYoo commented on #911
Macs come with curl installed, but not wget :)

[2021-10-19 16:33] lidel opened #914 "Add "Circuit / Circuit Relays to the Glossary"
https://docs.ipfs.io/concepts/glossary should have those terms.
1 sentence + link to https://docs.libp2p.io/concepts/circuit-relay/  should be enough

[2021-10-21 04:16] davidylee commented on #914
Hi, I can perform this. Can you assign it to me?

[2021-10-21 22:32] #914 closed

[2021-10-25 19:35] stan-pl opened #921 "Replace `miner` with `storage provider`."
"Miner", "mining" and all related terminology needs to be replaced to "storage provider", "storage providing", etc.
https://www.notion.so/protocollabs/Content-Style-Guidelines-8c80d6fb5e90465a87e8ce2035f12657

[2021-10-26 15:36] #921 closed, assigned to nobody

[2021-10-27 21:30] soenkeba opened #925 "The TokenID of newly minted ERC 1155 could be the IPFS CID RE: Best Practices for Storing NFT Data using IPFS"
The problem with current IPFS is that each newly minted ERC 1155 token is that one would have to change the root CID defined at deployment of the ERC 1155 contract... so why not make the TokenID of ERC 1155 the CID?
Here is a description:

https://soenkeba.medium.com/truly-decentralized-nfts-by-erc-1155-b9be28db2aae

[2021-10-29 10:09] otox-creator opened #927 "Incorrect text input under step #7 ?"
Make a change to your file, add it to IPFS, and update your IPNS:

echo "Hello IPFS!" > hello.txt
ipfs add hello.txt

Shouldn't it be "Hello IPFS!" the second time?

[2021-11-03 14:44] johnnymatthews commented on #925
Maybe I'm misunderstanding what you're asking here, but this doesn't sound like an IPFS-DOCS issue. If it is, please expand further on what you're expecting to see in the docs.

[2021-11-03 14:44] #925 closed

[2021-11-03 15:02] johnnymatthews commented on #927
Ah good find! Fixed in #930.

[2021-11-03 15:05] #927 closed

[2021-11-05 19:24] dogada opened #931 "Publish IPNS names using a signature instead of private key"
To use `/api/v0/name/publish` I need to import private key to node first. For scenarios like in https://github.com/ipfs-shipyard/js-did-ipid I will prefer to keep my private key in wallet and sent to HTTP API an signature as proof of ownership of this key. So the IPFS node will not have access to private key but will be able to publish IPNS names still.

[2021-11-08 17:47] johnnymatthews commented on #931
Hi @dogada. Thanks for this comment. This sounds like a feature request for Go-IPFS, rather that a docs task. Or am I misunderstanding your comment?

[2021-11-08 20:57] dogada commented on #931
Hi, I added it here because IMO this feature should be added to the API
first  and then to all implementations (go-ipfs and js-ipfs). Not sure what
is the best place for it.

-Dima.

On Mon, Nov 8, 2021 at 7:47 PM Johnny ***@***.***> wrote:

[2021-11-09 15:34] johnnymatthews commented on #874
Closed in #896.

[2021-11-09 15:34] #874 closed

[2021-11-13 19:46] traumschule commented on #824
This issue

Not in my case (Debian), however glad you fixed it.

[2021-11-15 06:59] JasonTable opened #934 "Consider disabling the email protection in your cloudflare control panel."
I use noscript and when i browse the ipfs docs, i will see [email protected] in place of any emails on the page. For example the "Ways to contribute" page says

In my opinion this protection is unnecessary because the emails are still available in the [IPFS version](http://docs.ipfs.io.ipns.localhost:8080/community/contribute/ways-to-contribute/#research) of the page.

[2021-11-16 12:52] javabeanz opened #937 "[CONTENT REQUEST] add file - insert critical warning"
if you add content to ipfs, is not possible to delete it. this is the strength of the system and also its weakiness. If users are not warned about this, important imformation might be stored that was not neamt to be. With a clear warning the risks of this can be reduced..

[2021-11-17 04:16] johnnymatthews commented on #937
This issue you're referring to is discussed on the [Privacy and encryption](https://docs.ipfs.io/concepts/privacy-and-encryption/#what-s-public-on-ipfs) and the [Persistence](https://docs.ipfs.io/concepts/persistence/) pages. I'm gonna close this issue for now.

[2021-11-17 04:16] #937 closed

[2021-11-17 04:18] johnnymatthews commented on #934
That's fair, but it seems like your use-case is pretty niche. I'm gonna close this issue for now as a `no-fix`. But, if more users come forward with the same issue, then we can take another look at disabling email protection through Cloudflare.

[2021-11-17 04:18] #934 closed

[2021-11-17 05:27] wforney opened #938 "Directions to place CNAME with @ (root) of domain could break stuff"
See https://www.freecodecamp.org/news/why-cant-a-domain-s-root-be-a-cname-8cbab38e5f5c/

You could break email and/or other things if you put a CNAME as the @ record of your domain. You should look for an alternative setup to this as it will cause people problems.

[2021-11-17 11:42] javabeanz commented on #937
very disappointed with closing this issue; referring to a documenation file is not a solid and user friendly way to pretect users. this risk for novel users can be easily overlooked when you are fully accustomed to the ipfs-blockchain-pradigm already know how persistent changes are.

[2021-11-17 20:51] thedarkknight197 opened #939 "NAT configuration"
Hello I have an ec2 on AWS, I have created an IPFS server private because I need a private ipfs node.
If I connect to my aws shell and use curl to add a new file with
`curl -X POST 127.0.0.1:5001/api/v0/add -F "file=@text.txt"`

it work, but if I do the same from my client don't.
I recive this message: curl: (7) Failed to connect to XX.XXX.XXX.XXX port 5001: Connection refused
I have open the 5001

[2021-11-17 21:04] aschmahmann commented on #939
@thedarkknight197 questions like this are best asked on discuss.ipfs.io so that they can be more easily discovered (closed GitHub issues aren't great for that).

Here's a brief explanation, but if you have more questions feel free to ask there:

Your API port is exposed in your config file as `/ip4/127.0.0.1/tcp/5001` (https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#addressesapi) which

[2021-11-17 21:04] #939 closed

[2021-11-17 21:51] thedarkknight197 commented on #939
Thank you or your answer, I will try with 0.0.0.0, it's not a problem because I will have a nodejs middleware that allow access and write data for only user authorized

[2021-11-17 21:56] thedarkknight197 commented on #939
I open here: https://discuss.ipfs.io/t/help-aws-ipfs-connection-refused/12693
This could be closed

[2021-11-18 02:13] GiGiCat101 opened #940 "Clean up the PowerShell IPFS install steps."
Trying to get ipfs.exeto run on command prompt and or PowerShell on my Win 10 system and followed these instructions to the "T" if you will, only changing what was true to my computer.

I have included a screen show of PowerShell with the errors so I can get some hel
![PSErrors](https://user-images.githubusercontent.com/94582911/142338753-779030ad-50c2-46be-8d5d-5014c34f89d9.jpg)
p.

[2021-11-18 04:56] johnnymatthews commented on #940
Which step did you get to when you encountered that error?

[2021-11-18 13:11] GiGiCat101 commented on #940
after adding this

Add-Content C:\Users\Johnny\Documents\WindowsPowerShell\profile.ps1
"[System.Environment]::SetEnvironmentVariable('PATH',`$Env:PATH+';;C:\Users\Johnny\Apps\go-ipfs_v0.10.0\go-ipfs')"

and restarting the PowerShell

On Wed, Nov 17, 2021 at 11:56 PM Johnny ***@***.***> wrote:

[2021-11-18 13:12] GiGiCat101 commented on #940
I changed the paths to navigate in my computer

On Thu, Nov 18, 2021 at 8:10 AM Raymond Claus ***@***.***>
wrote:

[2021-11-19 16:51] tippi-fifestarr opened #942 "Command-line"
When you are using Windows 11 and trying to follow along with the Window's installation instructions, you get stuck at step 5.  This step would benefit by breaking it down into sub-steps, since part 1 is "Add-Content" and then you need to paste or type "C:\users\my_username\documents\windowspowershellp\profile.ps" followed by a bit of mystical code and then finally you can paste the directory you

[2021-11-19 17:32] johnnymatthews commented on #942
There _shouldn't_ be any difference in Powershell usage between Windows 10 and Windows 11, but I might be wrong. The inner workings of Microsoft are a mystery.

Regardless, I think this might be a duplicate of #940. I'm guessing the problem comes from not having a `profile.ps1` file. I'm booting up my Windows machine now to take a look.

[2021-11-21 04:05] acenteno opened #943 "[CONTENT REQUEST] (got 404 error)"
under https://docs.ipfs.io/how-to/ I Tried to get more detailed information about customize an ipfs repo but instead got this 404 page:
https://github.com/ipfs/js-ipfs/tree/master/examples/custom-ipfs-repo

[2021-11-23 15:42] lidel opened #946 "How to enable Secure Websockets transport"
We are missing a standalone tutorial with two chapters:
- how to enable WebSockets (`/ws`) in go-ipfs / js-ipfs
- how to add TLS cert and announce it to other peers as Secure WebSockets (`/wss`) so it can be used by js-ipfs running in browser.

We have some prior art in https://docs.ipfs.io/how-to/create-simple-chat-app/#ssl-nginx, what remains to be done is to extract relevant info to standalone

[2021-11-23 20:18] #943 closed

[2021-11-23 20:18] johnnymatthews commented on #943
Thanks for raising. Fixed in #947.

[2021-11-24 13:48] scottbourne opened #948 "dweb-primer Site Unreachable"
When trying to go to dweb-primer.ipfs.io, I received the following error:

dweb-primer.ipfs.io uses an unsupported protocol.
ERR_SSL_VERSION_OR_CIPHER_MISMATCH

this happened form two different PCs (one Windows, one Ubuntu)

[2021-11-24 21:09] johnnymatthews commented on #948
I'm getting the same error. I'll look into what's happened. Thanks for raising @scottbourne

[2021-11-30 00:38] sorenwagner opened #951 "Simplify the `concepts/nodes/` page to make it easier to understand for new IPFS users."
Could use more context on the details of nodes, if possible. For a semi-technical person, this content is much less accessible than all previous chapters.

[2021-11-30 15:07] johnnymatthews commented on #951
Have you taken a look at the [nodes page](https://docs.ipfs.io/concepts/nodes/#implementations)? If you have, and you still found it confusing, what kind of content would you like to see in there? This'll help us define a clear task list for this issue.

[2021-11-30 19:31] tippi-fifestarr commented on #940
I agree, this problem is connected to the point I was making about how to improve the Documentation for clarity and ease of use for those of us with Lots of Technical Debt. However, I think @GiGiCat101 is asking for help at this step and saying that they also renamed the Johnny to their own system (as Step x) and that they don't know about profile.ps1

My point in the other thread was that this "s

[2021-12-02 00:54] sorenwagner commented on #951
Hi, thanks for responding!

Yeah the nodes page was what i was referring to. Everything up to that point in the tutorial seemed to build a comprehensive understanding of the concepts from the ground up, but this chapter references a ton of technical terms, which seem like a foreign language at first glance.... QUIC, /ws/, WSS, TLS, etc. And each subsection of Types was quite complicated as well.

[2021-12-02 18:39] johnnymatthews commented on #940
Something that I realized recently is that the package you download from dist.ipfs.io contains a script to help install IPFS on MacOS and Linux, but there isn't one for Windows users. To make this whole process easier we could create a PowerShell script that install IPFS properly for Windows users. That script would itself be an amalgamation of everything contained within the Command-line steps yo

[2021-12-02 18:41] johnnymatthews commented on #951
Agreed. This page was actually taken from a HackMD post created by some of the core IPFS engineers to help explains things during hackathons and similar events. But you're absolutely right that this page should be easier to understand.

[2021-12-03 04:47] ze-badrabbit opened #956 "JS-IPFS examples moved, fix links."
All example links are broken

[2021-12-03 18:09] johnnymatthews commented on #956
Hmm. Looks like the js-ipfs repo moved all their examples. Searching for them now.

[2021-12-03 18:22] #956 closed

[2021-12-03 18:22] johnnymatthews commented on #956
Links have been updated. Thanks for raising @ze-badrabbit!

[2021-12-03 18:34] johnnymatthews commented on #942
I'm gonna close this issue in favor of #940.

[2021-12-03 18:34] #942 closed

[2021-12-03 18:37] johnnymatthews commented on #940
I've created a PR that should address some of this issue. @GiGiCat101 @tippi-fifestarr, can you two both run through these steps to double-check that they work: https://bafybeiclvp5fvyzb2rwxdimjslremr7h5u3hqmmo2eb4f6fwzafc4dtteq.on.fleek.co/install/command-line/#official-distributions

In the meantime, I'll work on creating a PowerShell script for installing IPFS.

[2021-12-03 19:49] tippi-fifestarr commented on #940
Thanks, will do and am officially volunteering to help however I can.

Windows Step 1:
Completed no problem

Step 2: Expand-Archive (pasted into command line)
This step failed to create file because it already exists I guess
ExpandArchiveHelper
: Failed to create file
'C:\Users\tippi\Apps\go-ipfs_v0.10.0\go-ipfs\LICENSE'   while expanding the
archive file                        'C:\Users\tippi\go-

[2021-12-03 19:54] johnnymatthews commented on #940
Excellent! Thanks for your help in testing @tippi-fifestarr!

[2021-12-03 21:10] adamlaska opened #960 "4"
https://play.google.com/store/apps/details?id=com.ninestudio.weiqu.endlessj

[2021-12-03 22:14] #960 closed

[2021-12-04 15:53] tippi-fifestarr commented on #940
Keep me posted! My honor 😍 and open-source duty 💪

On Fri, Dec 3, 2021 at 1:54 PM Johnny ***@***.***> wrote:

[2021-12-04 20:06] #940 closed

[2021-12-04 20:07] johnnymatthews commented on #940
I've tasted this process on two Windows machines now, @tippi-fifestarr's efforts makes three. So I'm happy to merge this in.

[2021-12-05 06:04] Xyncgas opened #961 "[Question] :Add Delete Pin, through http-api, how?"
I tried posting something in my dotnet program :
[code]
I am trying to add a file, but I couldn't do it after reading many documentations including http://docs.ipfs.io.ipns.localhost:50002/reference/http/api/#getting-started

While this program logs
[code]
![image](https://user-images.githubusercontent.com/35312807/144735646-4b6d8c94-4b6d-417b-9387-1aa63a24c6d9.png)
seems be saying you don't need

[2021-12-05 14:11] itpreneur opened #962 "The `about` page my not be working correctly for some users in the random-planet-facts example."
there's an issue on the following example.
https://docs.ipfs.io/how-to/websites-on-ipfs/multipage-website/#publish-to-ipns

When you click About the issue, it says invalid ipfs path: invalid path "/ipfs/about.html": invalid CID: selected encoding not supported

It's because it was hardcoded as about.html instead of the actual ipfs/${cid}  address

[2021-12-06 12:51] gmelodie commented on #798
I'll give this one a shot! Since I'm a newcomer to IPFS, I hope my insight will be somewhat useful :)

[2021-12-08 20:57] nejdevyslovit opened #966 "[DOCS ISSUE] (add your title here!)"

[2021-12-08 22:56] johnnymatthews commented on #966
Looks like this was created by mistake. Closing.

[2021-12-08 22:56] #966 closed

[2021-12-10 20:10] johnnymatthews commented on #962
I'm assuming you're talking about the `about` page in the example. I just recreated the site using the steps in that tutorial and threw it on Pinata, and it seems to work fine:

- https://gateway.pinata.cloud/ipfs/QmebzKGUg3VZcup6jVCuMiRPVPFaqV9KEcoWrXtXDrcZk4/
- https://gateway.pinata.cloud/ipfs/QmebzKGUg3VZcup6jVCuMiRPVPFaqV9KEcoWrXtXDrcZk4/about.html

Could you try again? If it still doesn't wo

[2021-12-21 13:26] Nortberg opened #974 "File systems mv endpoint"
Hi.

I'm testing IPFS and now reviewing MFS files endpoints and for eg.
curl -X POST  http://0.0.0.0:5001/api/v0/files/mv?arg=/ipfs/QmPKouHudk3sAtYeU7sxDwa54beWWg9p3UDHUWhzSREuaL&arg=/store

I see that there are two parameters with the same name "arg" in documentation.
In some other/external docs i saw arg and arg2.
anyway whatever I'm trying to do i get
- argument "dest" is required
that suggests

[2021-12-22 05:38] tippi-fifestarr commented on #940
Let me know if there are other Windows machines testing or efforts I could make.  One area I am noticing problems on my machine is with loading ipfs links in Brave.  Sometimes it never loads, sometimes it takes ages.  However, if I paste the same link into Firefox (which as far as I can tell, does not have IPFS companion installed into it), it loads via ipfs.io gateway automatically.

[2022-01-06 07:52] da2x opened #988 "Remove unsupported URLs from `:::tip` section."
https://github.com/ipfs/ipfs-docs/blob/5523597636e895d7868b0e84a9c90a753339502a/docs/how-to/address-ipfs-on-web.md#L47-L57

Brave doesn’t support this, and it’s the only web browser with built-in support for IPFS. Brave only supports the `ipfs://` and `ipns://` schemes, and the `x-ipfs-path` HTTP response headers. The IPFS Companion supports this, but it should probably be removed. This “tip“ sect

[2022-01-07 03:13] genus1 opened #989 "Move an IPFS installation"
I installed IPF desktop but it did not give me a way to have the .ipfs database stored on another drive.  Stupid to  have large changing files on small ssd c drives.

Then tried to update the go-ipfs from 11 and it would not do it.  There needs to be a way to remove the go from the drive then reinstall.

Tried to change the path in the .ipfs-desktop folder.  Still did not work.

[2022-01-13 05:47] genus1 commented on #989
I have tried to add the path for .ipfs into both user and system variables.
If I run daemon first, then desktop it will locate to the correct drive and directory.
As soon as I run companion it starts a new ipfs back under users and ignors the env variables.
The installer for go, desktop, and companion need to allow placing the install in a user selected folder and drive so that C drive SSDs are no

[2022-01-20 09:31] vmx opened #996 "Adding a faq: my hash doesn't match the CID"
This came up twice recently (https://github.com/ipld/java-cid/issues/21 and on Slack): "Why does the `sha256sum` hash of the file not match the CID". Both folks were pointed to https://docs.ipfs.io/concepts/hashing/#content-identifiers-are-not-file-hashes.

That page explains in detail what checksums are and how to create them. Though users with this question know this already. Only the last parag

[2022-01-21 16:44] lidel commented on #705
I believe this could be picked up when we have `ipfs files add` (https://github.com/ipfs/go-ipfs/pull/8637) in both go and js – having that porcelain and working with MFS directly from the start will be a game changer.

[2022-01-24 18:06] johnnymatthews commented on #988
This issue is fair. I believe at some point the above example _did_ work, but looks like it doesn't anymore. @da2x your point about Brave not supporting this being a _big thing_ is valid. The fix is pretty trivial here, just rip out that example.

[2022-01-24 19:17] johnnymatthews commented on #974
The best place to post support questions is the [Discuss IPFS forums](https://discuss.ipfs.io/). This repo is for IPFS Docs content management.

[2022-01-24 19:17] #974 closed

[2022-01-24 19:21] johnnymatthews commented on #962
Closing due to inactivity.

[2022-01-24 19:21] #962 closed

[2022-01-24 19:26] #948 closed

[2022-01-24 19:26] johnnymatthews commented on #948
It sounds like this website is gone for good :(

[2022-01-24 19:36] johnnymatthews commented on #996
This is a fair issue, and a good suggestion. Would you be able to make a PR @vmx? I marked this as a P2, but we don't have any writers to deal with this right now.

[2022-01-24 21:23] lidel commented on #988
Brave is not the reference user agent, it is a user agent that makes their own decisions based on external factors :)
- They do have experimental opt-in redirect support, but it needs more work, including fixing bugs like https://github.com/brave/brave-browser/issues/20567
  - IPFS Stewards&Ecosystem are working with Brave team to get their native support for redirects and DNSLink detection closer

[2022-01-25 12:43] scottbourne commented on #948
Well, thanks for following up!

[2022-01-26 23:19] TheDiscordian opened #1007 "Document PubSub changes from go-ipfs v0.11"
This describes the issue very well: https://github.com/ipfs/go-ipfs/issues/8612

Caused by: https://github.com/ipfs/go-ipfs/issues/8343

Relevant areas: https://docs.ipfs.io/reference/http/api/#api-v0-pubsub-pub && https://docs.ipfs.io/reference/http/api/#api-v0-pubsub-sub (Edit: This actually doesn't effect `sub`, details below!)

Basically, we used to accept regular strings for pubsub topics ove

[2022-01-28 11:42] hiaux0 commented on #297
Re: Current docs about ["File systems and IPFS"](https://docs.ipfs.io/concepts/ipfs-gateway/#overview): MFS and UnixFS

My profile: Someone new to web3 and IPFs

#### Path to understanding
The docs are doing a good job of explaining MFS and UnixFS respectively.
I got a vague understanding, that MFS is the "file sytem", that uses the "format" UnixFS.     _[U1]_

However, there was still this uncert

[2022-01-31 15:45] johnnymatthews commented on #604
## Tasks

- [ ] Write a single sentence defining what each of the [profiles listed in /how-to/default-profile](https://docs.ipfs.io/how-to/default-profile/#available-profiles) does.

[2022-01-31 15:46] #308 closed

[2022-01-31 15:59] johnnymatthews commented on #245
Yes. Except, each node isn't running a _copy_ of IPFS. IPFS isn't a blockchain, or something with a specific state. We could both be running IPFS on our machines, and what our nodes contain could be completely different.

Correct!

A daemon is a [program that runs in the background](https://en.wikipedia.org/wiki/Daemon_(computing)).

No. As soon as the `ipfs` daemon starts, your computer becomes a

[2022-01-31 16:50] Annamarie2019 commented on #604
I'll take this one.

[2022-01-31 21:17] #988 closed

[2022-01-31 21:51] johnnymatthews commented on #604
Assigned!

[2022-01-31 22:40] Annamarie2019 commented on #604
I created a pull request, but I don't think I'm doing it right, bc it isn't showing on the Pull Requests tab. I'm researching and if we meet on this again (or on anything), I shall record.
<img width="1008" alt="#604_Adds explanation of each profile" src="https://user-images.githubusercontent.com/46230706/151884952-21ec52f9-bee8-4b81-95a6-5270a1bbc5b6.png">

[2022-02-01 10:34] OrcVole opened #1012 "Run IPFS inside Docker - using ipfs-desktop"

[2022-02-01 10:49] Martinligabue commented on #242
the page still links here, should it be updated?
https://docs.ipfs.io/concepts/ipld/

[2022-02-01 14:41] johnnymatthews commented on #1012
Looks like this was created by mistake. Closing.

[2022-02-01 14:41] #1012 closed

[2022-02-02 16:27] Annamarie2019 commented on #996
I'll take this one.

[2022-02-02 16:28] vmx commented on #996
@Annamarie2019 thank you! I haven't found the time yet, so it's great if you are picking it up.

[2022-02-03 19:03] Annamarie2019 commented on #996
Answered in PR #1017

[2022-02-03 19:59] Annamarie2019 commented on #604
submitted as PR #1018

[2022-02-03 20:39] Annamarie2019 commented on #245
I'll take this one. (I'll also take 683 and 334....to really get into nodes.)

[2022-02-03 20:41] Annamarie2019 commented on #683
I'll take this one (and also [245](https://github.com/ipfs/ipfs-docs/issues/245) and [334,](https://github.com/ipfs/ipfs-docs/issues/334) to really get into nodes)

[2022-02-03 20:46] Annamarie2019 commented on #334
I'll take this one (and also [683](https://github.com/ipfs/ipfs-docs/issues/683) and [245](https://github.com/ipfs/ipfs-docs/issues/245), to really get into nodes).

[2022-02-06 21:59] genus1 commented on #989
Same issue happens when running jsipfs daemon.  When Starting IPFS desktop, the desktop will not start because it  says the ports 5001 are already in use.  This means the Desktop is not reading the environment variable for the path to the .ipfs and database.

[2022-02-07 16:37] Annamarie2019 commented on #996
Hi Volker, I'm addressing this issue by updating the [hashing article](https://docs.ipfs.io/concepts/hashing/#content-identifiers-are-not-file-hashes) and wanted your option. I don't want to be too hasty, since I'm new, but it seems to me that in the section [Content Identifiers are not Hash Files](https://docs.ipfs.io/concepts/hashing/#content-identifiers-are-not-file-hashes) is not useful until

[2022-02-07 16:52] vmx commented on #996
@Annamarie2019: To answer your question: I would keep it as it currently is. The current hashing article describes that "Content identifiers are not file hashes" well.

To not answer your question: It doesn't answer the question "Why doesn't the SHA match the CID", but it also doesn't try to. I still think that questions belongs to the FAQ section, as it really is frequently asked, especially by n

[2022-02-08 16:34] Jorropo commented on #989
@genus1 I find that weird that your companion is starting an IPFS node.
I don't use that feature, I just let the compnion hail my `systemd` manage deamon.

Else, can't you just use a symlink ?
That maybe a very nixian way of thinking and you seem to be on windows, but if something doesn't cooperate and really want data to be in a place I don't like, I just symlink it.
(and windows supports symlink

[2022-02-11 19:16] Annamarie2019 commented on #604
This issue is taken up in https://github.com/ipfs/ipfs-docs/pull/1024 now.
Sorry, we were learning the PR workflow and I did this first directly in the editor, then forked, but #1024 represents the full Branch workflow with both articles involved.

[2022-02-15 04:14] rayswchiu opened #1029 "Couldn't run IPFS commands in Command Prompt"
Worked before but broken after a IPFS data migration from c:\ to d:\
running on Windows 10

[2022-02-15 04:18] rayswchiu opened #1030 "File Entries Gone After Data Migration"
Brute force migration from c:\ to d:\ , now all file entries gone.
Total "Block" size on new location is intact, but it doesn't show on the IPFS files page (i'm using IPFS Desktop v2.15)
Any chance to get the file entries back?

[2022-02-15 04:57] Annamarie2019 commented on #245
In progress....

[2022-02-15 21:56] Annamarie2019 commented on #604
It seems to me that this issue for [default-profiles.md](https://docs.ipfs.io/how-to/default-profile/url) should not be closed yet. [Issue #1024](https://github.com/ipfs/ipfs-docs/pull/1024) addresses it and is still outstanding.

Sorry for the confusion. It's due to my learning curve for git best practices and the current organization of the ipfs doc.

[2022-02-15 23:26] Annamarie2019 commented on #951
See [PR #1031](https://github.com/ipfs/ipfs-docs/pull/1031), where a few changes were submitted for usability.

[2022-02-16 01:40] Annamarie2019 commented on #683
In progress....

[2022-02-16 02:01] genus1 commented on #989
This appears to be a long standing issue with ipfs storing under the USER for windows instead of installing in according to the ENV variables.  Windows USER is always the C drive and that is NOT a good place to run an application like IPFS on an SSD.

[2022-02-16 12:01] lidel commented on #788
Not to self: this should also include some protips / FAQ with things like using separate domain name to avoid issues described in https://www.notion.so/pl-strflt/Notes-on-Gateway-e811b958674a41bfb52fe46943123fd2

[2022-02-16 20:12] johnnymatthews commented on #1029
If you're looking for support, checkout with the [Discord](https://discord.com/invite/KKucsCpZmY) server, or the [Discuss Forums](https://discuss.ipfs.io/). Folks in those channels are better suited to help with support issues.

[2022-02-16 20:12] #1029 closed

[2022-02-16 20:13] johnnymatthews commented on #1030
If you're looking for support, checkout with the [Discord](https://discord.com/invite/KKucsCpZmY) server, or the [Discuss Forums](https://discuss.ipfs.io/). Folks in those channels are better suited to help with support issues.

[2022-02-16 20:13] #1030 closed

[2022-02-18 00:43] lidel opened #1033 "Distinguish between Desktop vs CLI move install workflow"
Ref. https://docs.ipfs.io/how-to/move-ipfs-installation/

## Problem

CLI commands and IPFS Desktop use case mixed together.

What works in CLI and standalone daemon is confusing Desktop users into breaking their setups via manual copy and paste:
https://discuss.ipfs.io/t/ipfs-files-directory-couldnt-load/13505/4?u=lidel

Manual  copy is not enough for IPFS Desktop:
- :anger: It has additional con

[2022-02-18 09:33] DarkSynx opened #1034 "[CONTENT REQUEST] (add your title here!)"
Windows 11
"C:\Program Files\IPFS Desktop\resources\app.asar.unpacked\node_modules\go-ipfs\go-ipfs\ipfs.exe" daemon

[2022-02-20 03:47] stanchiang opened #1039 "Linking to domain - followed tutorial, ENS content record issue, fails to load site"
I'm going through the IPFS "websites on ipfs" tutorials to set up a website via IPFS and ENS.
a repo of the files is here (the files copy pasta and a terminal command log file with my IPFS and IPNS ids): https://github.com/stanchiang/Random-Planet-Facts

so far I followed the tutorials and on the brave browser (v1.35.103) I can reach the html content at:
`ipfs://QmZNmGfwHY25cotW51cMechh7UQoHLP3Uf7

[2022-02-20 21:59] mrossesf opened #1040 "Home page needs IPFS description and UX tweaks"
**tl;dr**  The docs landing page is great, but as a new user I felt it needs some tweaks. It's too hard to quickly discover what IPFS is. For example, compare IPFS docs home with the landing page for [Google Ads API](https://developers.google.com/google-ads/api/docs/start). Also there's too much fluffy text up top. Scannability wins. Please see my detailed usability impressions that follow my prop

[2022-02-22 15:51] johnnymatthews commented on #1034
It looks like you need general support, not a docs update. Head over to the [Discuss IPFS forums for help](https://discuss.ipfs.io/)

[2022-02-22 15:51] #1034 closed

[2022-02-22 17:28] SgtPooki opened #1042 "Bitswap"
The description in [Discovery](https://docs.ipfs.io/concepts/bitswap/#discovery) and [Transfer](https://docs.ipfs.io/concepts/bitswap/#transfer) seem to repeat the same information:

### Discovery:

### Transfer:

The Transfer section could probably contain only the following:

[2022-02-22 20:06] Annamarie2019 commented on #334
...in progress.

[2022-02-22 23:39] Annamarie2019 commented on #334
@johnnymatthews How/from whom or where do I "get list of alternative bootstrap nodes"?

- Am I just cutting and pasting the current list from [how-to/content-provider-list](ipns://docs.ipfs.io/how-to/peering-with-content-providers/#content-provider-list)?
- Or am I narrowing it down?
- What does "community" mean....all on this list of just Protocol Labs?
- If we add this list the configure a node

[2022-02-23 01:32] Annamarie2019 commented on #334
@johnnymatthews How do I know when I have a complete or at least a largely representative list of  IPFS Operators to request "bootstrap" node addresses from? So far we have:

- obo20 at Pinata
- andrewxhill at Textile
- MichaelMure at Infura (Do we need a peer id? Can I find this in Desktop?)
- bmann at Fission-Suite (Do we need a peer id?)

Can you tell me who else (or how I can find out), such a

[2022-02-23 01:42] Annamarie2019 commented on #334
Hello @andrewxhill, @obo20, @MichaelMure, @bmann,
We would like to provide a list of alternative bootstrap nodes in our [Configure a node > Bootstrap](https://docs.ipfs.io/how-to/configure-node/#bootstrap) documentation in the unlikely event of a Denial of Service attack for the sake of risk reduction. Can you provide me with a list for your organization?

[2022-02-23 03:19] johnnymatthews commented on #1039
Two things:

1. You added `ifs://QmZN...` to your DNS records. That should be `ipfs://QmZN...`. Can you double check you entered the correct address.
2. I'm getting 504 timeout errors when I try to go to the CID you referenced. I also took at look at your ENS details and the CID referenced there is `ipfs://bafybeifd7mrqwpekl6z5qqrcszdczoau4sktrilrbod67ocnqnl53digia`. Again, can you double check th

[2022-02-23 04:29] stanchiang commented on #1039
thanks I had not set up piñata.

follow up question, so far I think I will need to update the content record in ENS each time I want to update the webpage. it doesn't seem like piñata currently supports IPNS hosting. if I want to avoid updating content records each time I want to publish an update, do I basically need to just find another host that supports IPNS?

[2022-02-23 18:13] Annamarie2019 commented on #1042
@SgtPooki
So, basically, make sure that Transfer does not repeat anything from Discovery, yes? It sounds like the last sentence of Discovery would be better off in transfer, along with the sentence you suggest.

[2022-02-23 18:13] Annamarie2019 commented on #1042
....I'll take this one.

[2022-02-23 18:21] autonome opened #1044 "Clarify when CLI chooses a node automatically and when you choose one"
Now that IPFS Desktop doesn't add ipfs to path anymore, users who used both CLI and UI from their Desktop install have to go install the CLI separately. (IPFS Desktop install now detects and prompts users to do this)

However, it's not clear from the CLI install docs that it can detect and use an existing node. For example I figured I'd have four IPFS nodes running at any point in time: daemon fro

[2022-02-23 18:45] lidel commented on #1044
Brain dump of what we should document.

Key takeaway: add "Remote Client" and "Local Daemon" use cases to docs at https://docs.ipfs.io/install/command-line/

- "Local Daemon" is process started via `ipfs daemon` (already present).
  - It will create `$IPFS_PATH/api` file with address of RPC API
- "Remote Client" is `ipfs` CLI command that uses RPC API to talk to the daemon
   - One can install sta

[2022-02-23 18:47] Annamarie2019 commented on #1042
Done. PR [1045](https://github.com/ipfs/ipfs-docs/pull/1045).

[2022-02-24 05:33] johnnymatthews commented on #1039
I'm not sure if Pinata _now_ supports IPNS, [but you should take a look at Fleek!](https://docs.ipfs.io/how-to/websites-on-ipfs/introducing-fleek/) It makes using IPFS & Filecoin to host websites _waaay_ easier. They also support [ENS domains](https://fleek.co/ens-domains/)!

[2022-02-24 05:33] #1039 closed

[2022-02-25 19:03] Annamarie2019 commented on #801
I'll start this one, while I wait for answers to other PRs in play.

[2022-02-25 20:46] Annamarie2019 commented on #951
@sorenwagner and @johnnymatthews  While adding the definitions for nodes for issue [#683: List the Multiple Definitions of Node](https://github.com/ipfs/ipfs-docs/issues/683) I also reorganized a bit and did some word smithing. Does this satisfy the need for this issue to simplify the page as well, see: [Nodes](https://docs.ipfs.io/concepts/nodes/#nodes)

[2022-02-27 04:04] yaomengmeng1986 opened #1048 "[DOCS ISSUE] (add your title here!)"

[2022-02-27 08:51] sandalcloud opened #1049 "IPFS Companion"

[2022-02-28 20:06] Annamarie2019 commented on #1042
In review: [PR #1051 ](https://github.com/ipfs/ipfs-docs/pull/1051

[2022-02-28 21:01] bmann commented on #334
Hey @Annamarie2019 thanks for the ping. We could run some community accessible nodes but right now we've turned off routing of non Fission content.

[2022-02-28 22:04] Annamarie2019 commented on #604
I fixed the issue with multiple extraneous files coming in by closing old PRs and deleting branches.

I created a new PR: [#1052](https://github.com/ipfs/ipfs-docs/pull/1052)

[2022-02-28 23:21] Annamarie2019 commented on #996
These FAQ.md was inadvertantly pulled into another PR. You can double-check the full request was met on:
(Getting Started)[https://docs.ipfs.io/concepts/faq/#getting-started]. See Why doesn't my SHA hash match my CID?

[2022-03-01 15:18] #1048 closed

[2022-03-01 15:20] johnnymatthews commented on #951
I believe so. Closing.

[2022-03-01 15:20] #951 closed

[2022-03-01 15:25] johnnymatthews commented on #334
I've reached out to the IPFS team to see if we can get an authoritative list of community-ran bootstrap nodes.

[2022-03-01 16:22] Annamarie2019 commented on #996
PR #1053

[2022-03-01 17:40] johnnymatthews commented on #604
https://github.com/ipfs/ipfs-docs/pull/1052 has been merged. Can we close this issue now @Annamarie2019 ?

[2022-03-01 17:40] johnnymatthews commented on #996
https://github.com/ipfs/ipfs-docs/pull/1053 has been merged. Can we close this now  @Annamarie2019

[2022-03-01 21:15] Annamarie2019 commented on #1033
On https://docs.ipfs.io/how-to/move-ipfs-installation/, CLI commands and IPFS Desktop use case mixed together. This is causing Desktop users issues. We need to separate the Desktop install workflow out. See lidel's suggestion above.

[2022-03-01 21:25] Annamarie2019 commented on #1049
@sandalcloud Did you want to describe an issue with IPFS Companion, or should we close this issue?

[2022-03-01 21:37] Annamarie2019 commented on #1007
We made a change and it's causing bugs. We used to accept regular strings for pubsub topics over the HTTP API, now we require Base64URL encoding prefixed with a 'u'.
These docs need to be fixed: https://docs.ipfs.io/reference/http/api/#api-v0-pubsub-pub && https://docs.ipfs.io/reference/http/api/#api-v0-pubsub-sub
Needs analysis as to whether other APIs are affected.

[2022-03-01 21:54] #996 closed

[2022-03-01 21:54] #604 closed

[2022-03-03 19:55] Annamarie2019 commented on #245
This issue was resolved with PR [#1031 ](https://github.com/ipfs/ipfs-docs/pull/1031). I included these changed files in that PR before I knew how to properly separate them.

[2022-03-03 19:55] #245 closed

[2022-03-03 19:56] Annamarie2019 commented on #683
This issue was resolved with PR [#1031 ](https://github.com/ipfs/ipfs-docs/pull/1031). I included these changed files in that PR before I knew how to properly separate them.

[2022-03-03 19:56] #683 closed

[2022-03-04 21:53] giselflorez opened #1056 "IPFS Documentation"
I agreed to update and now it doesn't work anymore!!  It is in a loop of restarts, where the download & restart notification keep popping back up to restart even though I keep doing it. I'm using 10.15.7 Catalina on Mac & had no issues prior  Please help thanks

[2022-03-05 18:41] RuniteOre opened #1057 "Contribution links not linking correctly"
Following the links from [the contribution section](https://docs.ipfs.io/community/contribute/ways-to-contribute/#design), [design-visual](https://github.com/ipfs/ipfs-gui/issues?q=is%3Aissue+is%3Aopen+label%3Adesign-visual) and [design-ux](https://github.com/ipfs/ipfs-gui/labels/design-ux) lead to a blank page. I believe there was a renaming of tags at some point, renaming **design-visual** to **

[2022-03-06 13:12] RuniteOre commented on #1057
Fix located in PR https://github.com/ipfs/ipfs-docs/pull/1058

[2022-03-07 00:14] augustfr opened #1059 "IPFS Desktop app on Mac won't update."
Ipfs desktop app has gotten itself in some loop where it wants to update, and when I open the app it says 'Update Downloaded. Update for version 0.20.0 downloaded. To install the update, please restart IPFS Desktop.' so I click the restart button but then it never manages to install it. It'll then let me run my node again for a little while but not long after will turn it off and prompt me to inst

[2022-03-07 02:17] XeriumScientist opened #1060 "How do I install IPFS on Mac?"
I'm looking every place on your site, I can't seem to find a way to install on my Mac?  Can you tell me exactly where the install files are.

Best

[2022-03-07 16:14] TMoMoreau commented on #1007
Fix for the areas specified by @TheDiscordian at PR #1046

[2022-03-08 00:00] Annamarie2019 commented on #1007
@TMoMoreau or @TheDiscordian  Sorry, I'm new to Base64URL encoding and can't find any discussion of it in respect to a prefix. (46 seems to mean `u`, but that doesn't help me any). I don't know how to prefix the `u`. Is there a . or an _ ? Is this doc correct (I bolded what I changed):

### Arguments

- `arg` [string]: Topic to publish to. Required: **yes**. **Requires Base64URL encoding, prefixed

[2022-03-08 00:15] TheDiscordian commented on #1007
@Annamarie2019 The `u` comes from multibase encoding: https://github.com/multiformats/multibase. So technically prefixes other than `u` are possible for other bases. I tested out your theory that this only effects `publish` and not `subscribe`, you're totally correct there.

[2022-03-08 16:20] johnnymatthews opened #1064 "Basic operations for new users."
We need a **Basic operations** section for folks completely new to IPFS. This section should focus on users who aren't familiar with the CLI, and would prefer to use the IPFS Desktop application.

This section should cover how to:

- [ ] Install IPFS Desktop.
- [ ] Add a file using IPFS Desktop.
- [ ] Download a file using IPFS Desktop.
- [ ] Delete a file from a local IPFS Desktop installation.

[2022-03-08 16:29] johnnymatthews commented on #1064
This might suit your @TMoMoreau

[2022-03-08 19:22] lidel commented on #1059
@augustfr afraid you need to do one-time manual update: https://discuss.ipfs.io/t/fix-for-ipfs-desktop-0-19-update-restart-issues-on-macos/13500?u=lidel

[2022-03-08 19:22] #1059 closed

[2022-03-08 20:01] Annamarie2019 commented on #1007
@TheDiscordian @TMoMoreau

For reference, this is what the [article](https://docs.ipfs.io/reference/http/api/#api-v0-pubsub-pub) says now:
_______
### /api/v0/pubsub/pub

Publish data to a given pubsub topic.

Arguments
arg [string]: Topic to publish to. Required: yes.

Request Body
Argument data is of file type. This endpoint expects one or several files (depending on the command) in the body of

[2022-03-08 20:51] TheDiscordian commented on #1007
`data` is out of scope of this issue (hasn't been changed). `arg` is what this issue is about, and the formats other than `u` (`Base64URL`) are defined here: https://github.com/multiformats/multibase, as I outlined above.

[2022-03-08 22:05] TMoMoreau commented on #1007
Updated PR to document the changes that this issue specified. #1065

[2022-03-08 22:16] TheDiscordian commented on #1056
@giselflorez afraid you need to do one-time manual update: https://discuss.ipfs.io/t/fix-for-ipfs-desktop-0-19-update-restart-issues-on-macos/13500?u=lidel

It should be safe to override old DMG with new one, or uninstall and reinstall.

[2022-03-08 22:16] #1056 closed

[2022-03-08 23:18] giselflorez commented on #1056
Is there a step by step explaining like a child? Lol these things are not my strongpoint.. thank you so much

[2022-03-08 23:19] lidel commented on #1007
Related: https://github.com/ipfs/go-ipfs-cmds/issues/224

[2022-03-09 00:00] Annamarie2019 commented on #1007
Thanks, @TheDiscordian I read so much stuff, that i forgot where I started: "we used to accept regular strings for pubsub topics...now we require....." (Duh!) So how's this for the update:

Arguments
arg [string]: Topic to publish to. Required: yes. Requires multibase encoding. The default and recommended encoding is `u` for base64url, but you can use any base encoding character. See the Multibase

[2022-03-09 00:14] Annamarie2019 commented on #1007
@TMoMoreau Thanks. Your explanation in #1065 is great, but if we have it up by the argument, maybe after the curl example, all we need to say is, something like:

`curl -X POST -F file=@myfile "http://127.0.0.1:5001/api/v0/pubsub/pub?arg=u<topic>"`
Note the `u` prefix before the topic name, satisfying the argument requirement to be base-encoded.

[2022-03-09 00:48] Annamarie2019 commented on #801
In progress: This page may be helpful: https://hackernoon.com/a-beginners-guide-to-ipfs-20673fedd3f

[2022-03-09 20:17] Annamarie2019 commented on #801
See PR #1068

[2022-03-09 21:50] Annamarie2019 commented on #491
@johnnymatthews  I'll take this one. I think this is the last of the IPFS "good first issues," so I might as well finish them up, before I move on to others.

[2022-03-09 22:24] yeehi opened #1071 "Command-line"
Save the current working directory into a temporary variable:

`$GO_IPFS_LOCATION = pwd`

On windows, step four here results in "invalid command error".
Perhaps it would be better to include code in the installer to put ipfs onto the path, and offer an alternative to not do so.

[2022-03-10 20:49] #1057 closed

[2022-03-10 22:33] #801 closed

[2022-03-14 03:17] Dathskull opened #1076 "IPFS Desktop"

[2022-03-14 04:32] noryev commented on #242
https://ipld.io/docs/
I think this is where the link should take us.

[2022-03-14 17:48] Annamarie2019 commented on #1007
@TMoMoreau @TheDiscordian Should we add the u prefix and link to this explanation for https://docs.ipfs.io/reference/cli/#ipfs-pubsub in the subcommands (maybe tick marks around those commands as well).

[2022-03-14 19:41] johnnymatthews commented on #242
Thanks for the reminder! I've changed the IPLD link to go to the ipld.io/docs site in https://github.com/ipfs/ipfs-docs/pull/1077.

[2022-03-14 19:56] johnnymatthews commented on #1071
Are you using PowerShell?

[2022-03-14 19:58] #1076 closed

[2022-03-14 21:12] #1044 closed

[2022-03-14 23:16] johnnymatthews commented on #1049
It looks like this was created by accident. Closing.

[2022-03-14 23:16] #1049 closed

[2022-03-14 23:20] #1060 closed

[2022-03-15 21:09] RuniteOre commented on #491
@Annamarie2019 Pubsub can provide faster IPNS by pushing records over it. The first publish would still take a long time because you would need to advertise the topic into the DHT, but it will happen much faster.

[2022-03-16 00:10] lidel commented on #491
Yep, "IPNS over Pubsub" can be enabled via CLI flag (legacy way) or config (current best practice):
https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#ipns-pubsub

We don't have it enabled by default because we have no mechanism for unsubscribing from topics that were not used for a while.  There is a tracking issue for remaining work: https://github.com/ipfs/go-ipfs/issues/

[2022-03-16 23:23] Annamarie2019 commented on #491
@lidel One more question: For the `ipfs config --json Ipns.UsePubsub true`, you left the link to `ipfs pubsub`  [ipfs pubsub](../reference/cli/#ipfs-pubsub) for its subcommands. I'm thinking that that's no longer relevant, or is it? Please confirm and I'll take it out.
(BTW, we're having a little trouble reconciling the changes in the PR, so I may need to create a new PR, but I've saved yours and

[2022-03-17 14:52] baywet opened #1083 "⚠️⚠️⚠️ The public website is being used for phishing!!!"
Hello there,
I've just received a phishing attempt (documents scanned etc...) on my inbox with a link to

[code]

I thought I'd let you know so you can take this page down and rotate credentials. Thanks for looking into this!

[2022-03-17 17:30] johnnymatthews commented on #1083
Forwarded this issue to the security team. Thanks for raising.

[2022-03-17 17:30] #1083 closed

[2022-03-17 18:04] baywet commented on #1083
thanks for the prompt answer and takedown!

[2022-03-18 19:30] aschmahmann opened #1084 "RPC API reference: document global flags"
Flags like `--offline` , `--cid-base`, `--timeout`, etc. are not documented in https://docs.ipfs.io/reference/http/api/ likely because they are scraping the individual commands which are not showing the global flags https://github.com/ipfs/go-ipfs/issues/6640.

Whether this gets fixed by manually changing things here or by resolving the linked go-ipfs issue is a matter of prioritization although I

[2022-03-20 10:57] lidel opened #1087 "Remove or generate /how-to/configure-node"
https://docs.ipfs.io/how-to/configure-node/ seems to be based on older version of GO config from  https://github.com/ipfs/go-ipfs/blob/master/docs/config.md.
The config changes in every version, and there are differences between GO and JS versions.

Right now, a  lot of information on the page is missing, other things are outdated.
For example, `Gateway.PathPrefixes`  were deprecated a while ago (

[2022-03-22 16:02] walkerlj0 opened #1093 "Define Peer and Swarm in Docs"
In searching Docs, I didn't find a clear definition of what a peer is (what defines it and what behaviors/ features can a peer have)

I also think it would be helpful to have a clear definition of w swarms - how the peers in a swarm are determined, how the communication and searching is done (and different from DHT)  they cryptographic keys used, when & how peers in a swarm are determined and main

[2022-03-22 17:47] TMoMoreau commented on #1093
Taylor*, very common mistake so don't worry about it :) Feel free to refer to me as T Mo, that's what most people do lol.

As for this issue, I will work in a link to the glossary from the "Beginners guide" doc I wrote, that seems like a good start. I also feel the glossary should be more pronounced and visible from anywhere on the docs.

[2022-03-22 23:38] gigamesh opened #1094 "IPNS questions"
I'm trying to understand if it would be possible to use IPNS to enable dynamic NFTs for [sound.xyz](https://www.sound.xyz).

Am I correct in understanding that only the owner of the public key that is hashed to produce the IPNS name can publish to it?

If so, I'm wondering if it would be possible to host a service where NFT contract owners (in our case, musicians) can sign a message with their wal

[2022-03-22 23:40] lidel commented on #1084
My vote is to solve this in [tools/http-api-docs](https://github.com/ipfs/ipfs-docs/tree/main/tools/http-api-docs):  we should be able to programmatically read top-level flags (ones listed in `ipfs --help`) and use them to generate a new markdown section at the top of HTTP RPC API reference docs, before enumeration of specific commands.

[2022-03-23 06:55] #1094 closed

[2022-03-23 14:33] #1087 closed

[2022-03-28 18:46] LAMBSTHOMAS opened #1100 "[CONTENT REQUEST] (add your title here!)"
JE N4ARRIVE PAS A FAIRE UN DON POUR LE CANCER SUR MON TELEPHONE PORTABLE

[2022-03-28 19:20] LAMBSTHOMAS opened #1101 "Configure a node"
Je n'arrive plus a vendre quoi que ce soit sur le site de leboncoin.

Mon site facebook est bloqué aussi par des robots je pense, je n arrive plus a avoir de conversation avec mes amis.

[2022-03-28 19:47] TheDiscordian commented on #1100
This repo is for docs related issues with IPFS (preferably in English), if your issue really is a docs related issue, please feel free to format your issue in a more understandable way, and re-submit. As it stands though, I don't see how this relates to IPFS in any way.

[2022-03-28 19:47] #1100 closed

[2022-03-28 19:48] TheDiscordian commented on #1101
This repo is for docs related issues with IPFS (preferably in English), if your issue really is a docs related issue, please feel free to format your issue in a more understandable way (specifically highlighting how it relates to this repo), and re-submit. As it stands though, I don't see how this relates to IPFS in any way.

[2022-03-28 19:48] #1101 closed

[2022-03-29 14:24] johnnymatthews commented on #798
@Annamarie2019's [edit is in review](https://docs.google.com/document/d/1TYDr0_UJn_CAI_sWiKahTZclT1fd69hsDx6dQv2Nz3s/edit?usp=sharing).

[2022-03-29 15:14] johnnymatthews commented on #1071
Gonna close this due to inactivity.

[2022-03-29 15:14] #1071 closed

[2022-03-29 15:17] johnnymatthews opened #1102 "Basic CLI operations."
Following on from https://github.com/ipfs/ipfs-docs/issues/1064, let's create a few guides to show users how to:

- [ ] Install the CLI.
- [ ] Add a file to IPFS using the CLI.
- [ ] Read a file from IPFS using the CLI.
- [ ] Delete a file from your local IPFS repo using the CLI.

[2022-03-31 13:27] TimDaub opened #1104 "[CONTENT REQUEST] (add your title here!)"
https://docs.ipfs.io/install/ has no information about installing ipfs

[2022-03-31 14:22] #1104 closed, assigned to nobody

[2022-03-31 17:33] Annamarie2019 commented on #1093
Hi @walkerlj0 and @TMoMoreau I'm triaging this issue. I've been wanting to understand more about swarms too, so I agree this would be great to address. There are definitions in the glossary, but they're very light, as they should be in a glossary, and there is also recently a little more information on peers added to the nodes page, which even has links to its behavior/features: [Nodes](https://do

[2022-04-02 17:45] alptugan opened #1106 "Command-line quick start"
hello there,
I am on MAC, Big Sur with Mid 2015 Macbook Pro
1) Using Desktop client
First, I installed desktop client.
Added some files for testing.
I could see the files on desktop app. But could not access them from browser -> https://ipfs.io/ipfs/<hash_link_of_the_file>

2) Using CLI (Terminal.app)
Installed ipfs through your documentation
Init the $ ipfs daemon successfully
Access to web-gui s

[2022-04-05 00:28] lidel commented on #1007
iirc  all `ipfs pubsub *` commands got fixed to use multibase  when topic is passed as `arg` (https://github.com/ipfs/go-ipfs/pull/8183#pullrequestreview-788614321) so this impacts  both `pub` and `sub`.

The proposed  bandaid is fine until https://github.com/ipfs/go-ipfs-cmds/issues/224 is addressed :+1:

There is a small caveat tho: `ipfs` command line client will do the multibase conversion for

[2022-04-05 11:28] Drumkoon opened #1108 "[CONTENT REQUEST] (Nft Domain Song Titles White Paper)"
Nft Domain Song Titles White Paper
by Drumkoon
03/31/2022
Spotify pays peanuts, so as a DIY musician I was forced to look at
alternatives to unlock meaningful value from my music.
My first alternative attempt involved naming songs after smart
speaker commands. I named an album,"OK Google Play Music" and
had it fully registered with US Copyright.Gov. However, Spotify and
associated digital streamin

[2022-04-05 13:47] johnnymatthews commented on #1108
The docs isn't really the best place to post this kind of stuff.

[2022-04-05 13:47] #1108 closed

[2022-04-05 18:12] TheDiscordian commented on #1106
Hello @alptugan!

1. Sounds like a NAT configuration issue, there's a doc about this here: https://docs.ipfs.io/how-to/nat-configuration/

2. You added the file to your daemon, which by default *pins* it, but doesn't add it to your MFS. For the files tab on the webUI, that's looking at your MFS. If you perform `ipfs files cp /ipfs/<yourCIDhere> /name_of_file_incl_extension` it'll appear in your we

[2022-04-05 18:12] #1106 closed

[2022-04-09 15:44] Dialga opened #1110 "Explain that migration must be done 1 version at a time."
A issue exists in the migration tool https://github.com/ipfs/fs-repo-migrations/issues/139 that was closed without a fix making it impossible to migrate across multiple versions in one command, this unfixed bug should be a documented behaviour for any future passerby's who encounter it and do a search for "ipfs migration:  failed to download migrations:". Documentation should state migration must

[2022-04-10 03:26] aschmahmann opened #1111 "ipfs.io/docs/install hangs instead of redirecting or erroring"
Going to https://ipfs.io/docs/install goes to a page that spins rather than giving a "Page not found" error or forwarding to https://docs.ipfs.io/install

[2022-04-11 14:37] johnnymatthews commented on #1111
Wonder if this is another Fleek issue. I'll spin up a site using another host and see what happens.

[2022-04-11 14:50] #1111 closed

[2022-04-11 14:55] johnnymatthews commented on #1110
The FS repo migrations are designed to be ran all at once, and should not need users to run them individually. If you're having consistent problems, I recommend raising an issue in https://github.com/ipfs/fs-repo-migrations, or creating a [discussion using the Discussions tab](https://github.com/ipfs/fs-repo-migrations/discussions/landing).

[2022-04-11 14:55] #1110 closed

[2022-04-12 16:06] johnnymatthews commented on #1064
This issue has essentially been closed as of https://github.com/ipfs/ipfs-docs/pull/1095

[2022-04-12 16:06] #1064 closed

[2022-04-12 17:26] lidel opened #1114 "Document /container-init.d for Docker"
Update  IPFS Docker documentation at https://docs.ipfs.io/how-to/run-ipfs-inside-docker/ to include content removed in
Ref. https://github.com/ipfs/go-ipfs/pull/6577/commits/9935863156671795966ab6f1e98602f8bf5a8f60 + @lidel's suggestion from https://github.com/ipfs/go-ipfs/pull/6577#discussion_r847337159

[2022-04-13 05:50] Indxxservice opened #1116 "[DOCS ISSUE] Good Platform!"
Really docs ipfs is good platform to describe with example. If some want to know about indxx and it's services then visit: https://www.indxx.com/

[2022-04-13 18:48] #1116 closed

[2022-04-27 08:58] davespser opened #1123 "Needed in the tutorial configure repository Github proyect with .yml and .json archives for deploy web un fleek"

[2022-04-27 16:25] fanguangmao opened #1124 "[CONTENT REQUEST] (add your title here!)"
出一个手机的ifps app，只有电脑软件不方便

[2022-04-27 23:40] thattommyhall commented on #1114
I did a folder of examples https://github.com/ipfs-shipyard/go-ipfs-docker-examples, happy to help with documenting a few exemplar use-cases

[2022-04-28 00:01] guseggert commented on #1114
That'd be great!

[2022-04-28 02:00] #1124 closed

[2022-04-28 02:00] johnnymatthews commented on #1124
It looks like this was created by mistake. Closing.

[2022-04-28 02:02] johnnymatthews commented on #1123
I'm a bit confused by this issue. Are you looking for support? Or do have a request of something you want to see in the docs? I'm gonna close this for now since I think it might have been created by mistake, but please add more comments to explain your original request if you're still stuck.

[2022-04-28 02:02] #1123 closed

[2022-04-28 13:24] johnnymatthews opened #1128 "Create automation script to update project version numbers across repos."
Throughout this repo we reference specific version numbers for things like Go-IPFS and IPFS Updater.

![image](https://user-images.githubusercontent.com/9611008/165761685-2d5d4d3b-7ed3-42a2-823a-36604714a2aa.png)

The problem is that where there's updates to these applications, we have to manually go through this repo and update any references. It'd be nice if we had a script that:

1. Knew which

[2022-04-28 18:10] mrodriguez3313 commented on #1128
Just had a question on who would run the script periodically? Would it be automated through a github action in this repo, would it be an automation on some server hosted by PL, or would someone, run the script locally and then push the changes as a pr?
<sub>The last option seems useless though as I mention it...<sub>

As I see it, (quickly glanced through the docs) the pages that would need to be

[2022-04-28 18:35] johnnymatthews commented on #1128
Yeah this is likely the best option.

Well this is cool! But I wonder if it'd work within codeblocks:

[code]

Your process seems logical. We'd probably be able to use the GitHub api to check releases for each major repo (Go-IPFS, IPFS Updater, etc).

[2022-04-29 13:29] johnnymatthews commented on #1128
Ok nice, so something like:

[code]

Gives us:

[code]

Then we just need some funky regex to run on certain pages to find and replace. This python should work:

[code]

Haven't tested this though.

[2022-04-29 16:56] mrodriguez3313 commented on #1128
It did work, but I had to remove the `[...]` bc I was getting this error.
[code]

Then I changed `subst=v0.12.0` just to see if it did anything and it did :thumbsup: and it returned:
[code]

I can try extending this to a given page.

[2022-04-29 17:26] johnnymatthews commented on #1128
I've added the script to PR https://github.com/ipfs/ipfs-docs/pull/1130. Just need to link it up to GitHub actions and we're good to go! Should probably get a Python wiz to review it to (I'm just a lowly docs guys; programming is not my forte).

[2022-04-29 18:14] mrodriguez3313 commented on #1128
lol now worries. I program well in python, but stackoverflow is our best friend too 😅

[2022-05-05 23:22] Annamarie2019 opened #1137 "Fix broken links in Chat App doc"
[Create a Simple Chat App](http://docs.ipfs.io.ipns.localhost:8080/how-to/create-simple-chat-app/#how-it-works) has about 8 broken links and several that go to questionable destinations or just need some tweaking, like opening in a new tab or fixing the display text.

Here is a spreadsheet of the broken links: [ChatAppBrokenLinks](https://docs.google.com/spreadsheets/d/1u3-Jz_OkToJ43GYK0AvTraht2kn

[2022-05-06 13:59] dchidindu5 opened #1138 "Spotted a typo error in IPFS website"
While going through the https://ipfs.io/ website, I spotted a typographical error in the **HOME PAGE** under the section **"HOW IPFS WORKS"**.

Below is the screenshot of the section that needs to be corrected.
![IPFSerror](https://user-images.githubusercontent.com/18760267/167146362-7e8551a6-518d-4ebc-b12c-2380974829a8.PNG)

[2022-05-06 14:26] Murad0o opened #1140 "Webpage not displaying from the Multi-page website tutorial."
[
![Capture](https://user-images.githubusercontent.com/85677028/167152605-81aa5853-2027-4f8c-bab6-b216ab9ac6e8.JPG)

I followed the constructions as you told but the website keeps appearing as you can see in the attached screenshot.

[2022-05-06 15:50] BigLep commented on #1007
Closing this since https://github.com/ipfs/go-ipfs/pull/8933 was merged

[2022-05-06 15:50] #1007 closed

[2022-05-06 16:27] johnnymatthews commented on #1140
You've got a lot of extensions installed there. Try opening the page in a browser without extensions, that'll help us figure out what's going on.

[2022-05-06 16:32] johnnymatthews commented on #1138
Thanks for flagging! I've just submitted https://github.com/ipfs/ipfs-website/pull/127  to fix this.

[2022-05-06 16:32] #1138 closed

[2022-05-09 04:02] Annamarie2019 commented on #1137
@TheDiscordian Can you help me with these links from the Simple Chat App:

In the [WebRTC section](https://docs.ipfs.io/how-to/create-simple-chat-app/#webrtc-star):
- native setup: There's a link at the bottom that goes to:  https://github.com/libp2p/js-libp2p-webrtc-star#rendezvous-server-aka-signaling-server , but I don't see any instructions there. Where are the instructions to host your own We

[2022-05-12 12:30] BlocksOnAChain commented on #1137
@Annamarie2019 what do you need to merge this?

[2022-05-12 12:31] BlocksOnAChain commented on #1137
@TheDiscordian can you review and close this, sir?

[2022-05-12 13:15] xor256 opened #1145 "Multi-page website"
How add link inside web?

For example I have 6 file
index.html
colors.css = for whole site
img/graphics.png = for every web page
arch.html
2022/01.html
2022/index.html = archiwum of 2022

from arch i need go to index and 2022/01.html
from 2022/01.html i need go to index, arch etc.

[2022-05-12 16:20] johnnymatthews commented on #1145
I'm not quite sure what you're asking. If you want to link from one page to another, simply add the title of that page in an `<a>` link.

Here's a snippet taken from the example site:

[code]

The `about.html` link is what'll take you to the page you want to go to. If you're still looking for support, head over to the [IPFS Discuss forums](https://discuss.ipfs.io/). Issues in the repo are for docs

[2022-05-12 16:20] #1145 closed

[2022-05-12 17:56] #1137 closed

[2022-05-13 09:09] lidel opened #1146 "Update docs to reflect Relay V1 (server) removal from go-ipfs"
We need to  update all places that mention `EnableRelayHop` –   Relay V1 server was removed from go-ipfs 0.11 and now requires running a separate binary.

See details in:
-   [go-ipfs v0.11.0 Release Notes](https://github.com/ipfs/go-ipfs/releases/tag/v0.11.0)
  - Relay V1 can be still provided by this standalone binary: https://github.com/libp2p/go-libp2p-relay-daemon#minimal-config-file / https:

[2022-05-13 09:22] lidel commented on #1146
@TheDiscordian as you are the original author of the tutorial, would you have time to update it?
My next 2-3 weeks are pretty packed, and I won't be able to do this any time soon.

[2022-05-13 14:38] xor256 commented on #1145
`<a href="about.html">`

ok , how writing this reference deep files?
2022/01.html
how writing about? what writing in this same file css file?

all my questions is about trouble with adressing ../../ etc

[2022-05-13 14:39] xor256 commented on #1145
@johnnymatthews you not undestand my question
please dont close this issue

[2022-05-16 11:07] kernrot opened #1149 "[ABUSE] on a subdomain"
Please check this subdomain of your project:
https://bafybeib2oea6zbbfvmr4amk2pp4yxkwknm2gglzhdd4vbaknuwfbqqomqq.ipfs.dweb.link

[2022-05-16 13:05] lidel commented on #1007
Remaining work documented in https://github.com/ipfs/ipfs-docs/issues/1146

[2022-05-16 15:40] johnnymatthews commented on #1033
Just need to add in the symlink stuff here and then we're done.

[2022-05-16 15:58] Annamarie2019 opened #1150 "Follow the steps in a Simple Chat App and clarify them in the doc"

[2022-05-16 16:40] #1033 closed

[2022-05-16 16:51] TheDiscordian commented on #1146
@lidel I'd love to, I plan to have this updated by Friday.

[2022-05-16 17:41] Annamarie2019 opened #1151 "Tightens organization; Two issues with same content."
I learned more about Filecoin while looking at videos for training, so I realized the organization of [How providing storage works](https://docs.filecoin.io/storage-provider/how-providing-works/) could be more clear.

1. Tighten up the organization of the page:

- "Responsibilities" would be better than "Requirements."
- Put all Proofs and their compression together, including zk-Snarks
- Move Ret

[2022-05-16 17:50] #1151 closed

[2022-05-16 18:27] schomatis opened #1152 "Hash changes if we change our metadata"
Spawned from https://github.com/ipfs/go-ipfs/issues/8974.

**tl;dr** The CID is not the hash of your file, do not rely on it. The normal learning path can leave you with a wrong impression of an apparent stability between user data and CID/hash representing it.

Brief outline:

- New users are introduced in the IPFS world through the content-based paradigm: forget where you store it, all that coun

[2022-05-16 18:58] schomatis commented on #1093
I think much of this could be leveraged form the libp2p docs to avoid duplication. On the unfortunate "swarm" term (very ingrained in the stack), it has now been [rebranded](https://github.com/libp2p/docs/blob/769946de144b3c0d242778948ac3bf685ab64619/content/concepts/transport.md#supporting-multiple-transports) as "switch", which is basically the transport layer.

[2022-05-16 20:22] johnnymatthews commented on #1149
What's the concern here? Your comment doesn't really explain much. Closing.

[2022-05-16 20:22] #1149 closed

[2022-05-16 23:42] kernrot commented on #1149
a Phishing-site hosted via this projects domain:
"ipfs.dweb.link"

[2022-05-17 01:19] johnnymatthews commented on #1149
Ah, ok. Thanks for clarifying. The page doesn't actually load for me.

![image](https://user-images.githubusercontent.com/9611008/168707817-8d85cf88-0ee0-44fa-b5cd-032a62d5f055.png)

Either way, I've passed it off to abuse@ipfs.io. If you come across any further issues like this, please forward them to that email.

[2022-05-18 15:41] 2color commented on #608
I stumbled upon this issue and thought it might be useful to share this interactive visualisation that explains Kademilia: https://kelseyc18.github.io/kademlia_vis/basics/1/

[2022-05-19 07:51] jyooru opened #1155 "`ipfs-404.html` is not documented"
There is no documentation (as verified by a text search through this repository) on the `ipfs-404.html` file, which is returned if a file is not found. Only found out about this file by looking inside the folders of the official IPFS websites.

[2022-05-22 18:42] Annamarie2019 commented on #1152
Summary: Explain that we process data and add some of our own (metadata) to better organize and transmit it, and even if that is also immutable we may change our minds (very rarely) as to what the best organization is. And you'll see a different hash reflecting it. A good location may be the bottom of [Hashing](https://docs.ipfs.io/concepts/hashing/#important-hash-characteristics), right before SH

[2022-05-23 16:33] johnnymatthews opened #1156 "Plan out Basics -> Concepts section in the `feat/basics-section` branch."

[2022-05-24 13:46] johnnymatthews commented on #1155
Thanks for raising this!

## Tasks

- [ ] Write a basic description for what the `ipfs-404.html` page does.
    - [ ] Can likely grab the **Custom 404 Pages** paragraph from this blog: https://blog.ipfs.io/2020-06-26-go-ipfs-0-6-0/
- [ ] Create an example `ipfs-404.html` page.
- [ ] Show the reader where to store this file.
- [ ] Show an example of what the file looks like on a webserver.
- [ ] Li

[2022-05-24 16:29] johnnymatthews commented on #247
Can add content from:

- https://github.com/ipfs/ipfs-docs/issues/247
- https://multiformats.io/multiaddr/

[2022-05-24 16:35] johnnymatthews commented on #250
Pretty much anytime there's further content that can be explored, it's just linked to using a hyperlink. While styling related content is a nice-to-have feature, it's not necessary, and likely won't be tackled anytime soon. Closing.

[2022-05-24 16:35] #250 closed

[2022-05-24 16:35] TheDiscordian commented on #248
As the language on the website was updated, is this still an issue? We now have https://docs.ipfs.io/how-to/host-git-style-repo/, which should spark some imagination for how one could handle a history. Though I'm unsure what IPFS collections are, so I suppose it could pop back into relevance.

[2022-05-24 16:37] johnnymatthews commented on #248
Yeah, this issue is pretty dated, and is obviously quite stale. I'm gonna close it for now.

[2022-05-24 16:38] #256 closed

[2022-05-24 16:39] #258 closed

[2022-05-24 16:40] #269 closed

[2022-05-24 16:50] johnnymatthews commented on #277
Since the push to use cross-site search, offline search is now no longer possible with this site. Closing.

[2022-05-24 16:51] TheDiscordian commented on #278
This should be helpful for anyone looking to tackle this issue: https://github.com/ipfs/ipfs-update#revert

[2022-05-24 16:54] TheDiscordian commented on #278
Oh this is already documented [here](https://docs.ipfs.io/install/ipfs-updater/#downgrade-ipfs), wicked.

[2022-05-24 16:54] #278 closed

[2022-05-24 16:55] johnnymatthews commented on #279
The [troubleshooting sections](https://docs.ipfs.io/how-to/troubleshooting/) exists.

[2022-05-24 16:55] #279 closed

[2022-05-24 17:01] johnnymatthews commented on #288
## Tasks

Find a way to automate this process:

1. Grab files here: https://github.com/ipfs/js-ipfs/tree/master/docs/core-api
2. Throw into here: https://docs.ipfs.io/reference/js/api/

[2022-05-24 17:16] johnnymatthews commented on #303
We don't actually want to filter people towards a particular encryption method, or anything like that. There are many posts in the wild that share their opinions on how to encryption stuff on IPFS.

https://mycoralhealth.medium.com/learn-to-securely-share-files-on-the-blockchain-with-ipfs-219ee47df54c
https://medium.com/coinmonks/is-storing-encrypted-files-on-ipfs-good-enough-21e050d9de0
https://b

[2022-05-24 17:20] #223 closed

[2022-05-25 00:48] stackdump opened #1158 "Callout that IPNS names work with DNSLink"
When first using DNS link I was not aware I could use a published IPNS name as the target instead of a CID.

It would be good to note that in this section https://docs.ipfs.io/concepts/ipns/#example-ipns-setup-with-cli
and then explicitly call out in https://docs.ipfs.io/concepts/dnslink/#dnslink

It's quite a bit easier to set a single DNS entry and just use MFS to alter the pointer

this URL exp

[2022-05-25 20:54] scenaristeur opened #1159 "Add French translation to IPFS Docs."
Learning ipfs for a couple of days, i think a french translation of the doc could empowet a large number of french spoken devs.
Would you be intetested in a french translation of ipfs doc ?

[2022-05-26 16:43] lbliii opened #1162 "Docs project setup troubleshooting details"
Hello! My name's Lawrence and I'm applying to a technical writing role at Protocol Labs. While trying to locally deploy this project I ran into an error that seems related to newer Node.js versions. I suspect this is true for Node.js 17+, but I'm only using 18.0.0.

My suggestion is to maybe add a troubleshooting subsection on the README, under **Project set up**.   Below is a quick writeup, but f

[2022-05-28 00:00] lidel commented on #1146
@TheDiscordian  this is probably a bad question to ask at 2AM, but since all peers use the same webrtc signaling server, and they can post their own multiaddr to the same pubsub channel, why do we need the [Python script](https://gist.github.com/TheDiscordian/51962fea72f8d5a5c3bba79dd7009e1c)  for advertising on pubsub on their behalf?

[2022-05-28 16:22] Rock-liyi opened #1164 "How to contribute Chinese documentation for IPFS ?"
Hello  Everyone,
    I am LiYi ,  my english name is Rock, come from china ,i really appreciate everything the ipfs team did , you are awesome  and wonderful.
   I have been a  programmer for seven years, i would like to   join   your team to  contribute my power .

   Firstly , i am going to translate  english docs  to chinese docs ,because  there are many people want to study IPFS  in china.

[2022-06-02 19:52] Annamarie2019 commented on #1093
@TMoMoreau I defer to @walkerlj0 on this. I would have the same questions. (I just spoke with Lindsay and she's pretty swamped with presentations for the next week.)

[2022-06-03 15:42] lidel commented on #1128
I think automation for go-ipfs was added in https://github.com/ipfs/ipfs-docs/pull/1081 by @laurentsenta  :+1:

But we are missing that for ipfs-cluster (so it still has to be updated manually like in https://github.com/ipfs/ipfs-docs/pull/1160).

@laurentsenta would IPDX have time to add similar automation for ipfs-cluster?

[2022-06-03 19:34] walkerlj0 commented on #1093
@TMoMoreau Hmm, lets see
- I think you are accurate when you say nodes are done in the DHT is correct
- By the cryptographic keys used, I think this was early on and I was having trouble understanding that difference between IPFS and Filecoin. Now that I understand things better, I know there is not cryptography in IPFS

This was an early question written by me, so I was just spitballing questions

[2022-06-06 04:49] #785 closed

[2022-06-06 10:31] laurentsenta commented on #1128
Sure,

@mrodriguez3313 @johnnymatthews thanks for looking into this,
What about I review the script you shared, and maybe merge it with the CI code that does the version update for go-ipfs (https://github.com/ipfs/ipfs-docs/pull/1081/files)?

[2022-06-06 13:59] BigLep commented on #1128
Thanks @laurentsenta .  Please proceed with any path that reduces the manual steps here :). Thank you!

[2022-06-06 19:13] #1128 closed

[2022-06-06 20:45] TMoMoreau commented on #1093
Closing this issue as while I was working on it I realized that most of this info is already in the docs, or is irrelevant to IPFS. I think the only thing that isn't explained in the docs already is how peers in a swarm are determined.

[2022-06-06 20:45] #1093 closed

[2022-06-08 14:26] tgies opened #1170 "Peering with content providers: Cloudflare info outdated"
As far as I can tell [the info here](https://docs.ipfs.io/how-to/peering-with-content-providers/#content-provider-list) about peering with Cloudflare is outdated. Neither of the addresses posted are listening on port 4009 as indicated (connection immediately resets when I telnet to them), and trying to connect ipfs (built from git master) to them fails like so:

[code]

I can successfully connect

[2022-06-09 20:08] #1114 closed

[2022-06-10 11:00] lidel commented on #1155
Would it be possible to wait with documenting this until  `_redirects` file support  https://github.com/ipfs/go-ipfs/pull/8890 lands?
Or at least mention it as a better solution in the works that will supersede `ipfs-404.html`.

[2022-06-10 19:19] lidel opened #1176 "Article: options and tradeoffs around data import parameters"
Most people are ok with whatever chunker and hash function is the current default in commands that import data to IPFS.
In case of go-ipfs, these are `ipfs add`, `ipfs dag put`, and `ipfs block put`.

However, one can not only use custom `--chunker` and `--hash` function when doing `ipfs add`, but also choose to produce TrickleDAG  instead of MErkleDAG by passing `--trickle`, enable or disable `--

[2022-06-10 19:43] lidel commented on #1152
I think this is part of a bigger "import parameters that impact the final CID"  story  described in #1176

[2022-06-10 20:39] RubenKelevra commented on #1176
Hey @lidel ,feel free to assign me. Got time tomorrow for that. :)

[2022-06-14 07:55] RubenKelevra commented on #1176
Correct me when I'm wrong, but it's just a little bit less overhead for data which is read from front to back anyway. So any file type with random access will be slowed down.

Logs are not large enough to make any significant difference here, as you can easily fit a list of all chunks of a log in one block.

So while one may think of zip-like archives, iso files or videos, that's also actually not

[2022-06-14 07:57] RubenKelevra commented on #1176
I feel like I may not be the right person after all to write this article :D I wrote a [ticket](https://github.com/ipfs/go-ipfs/issues/6893) to change this default actually – and I still think blake2b is the better default. :)

So I guess "standards?" Or "legacy stuff we dare to change?"

[2022-06-14 08:01] RubenKelevra commented on #1176
So overall, just the "why?" and rationale is the blocker for me to write it.

As, I have the opinion that these should be the standards – and don't see good reason to use anything else. :)

- Rolling chunker aka buzhash
- cidv1
- raw-leaves
- blake2b-256

And I use them everywhere.

So @lidel if you could just give some rationale for the whys (doesn't even need to be full sentences) I'm happy to w

[2022-06-14 12:10] RubenKelevra commented on #1176
Alright. :)

Maybe we should just add a "--use-legacy-defaults" to the daemon (and as global flags for all commands) as a flag to free us up from those considerations that people rely on them.

This would also free us up for the long discussed default ports for example, which we also not dare to change for similar reasons. :)

This way we can document the "legacy defaults" once and why they were c

[2022-06-14 19:51] Annamarie2019 commented on #1150
@johnnymatthews How's this as a step towards clarifying the simple Chat App article. Then Discordian could ask about each point and know why it's being suggested. (Notice I suggest a demo.)

Here is a link to a cut and paste of Discordians original blog into Google docs with some comments: https://docs.google.com/document/d/1UDjnMEBQSeDwm6iQQeStxSHjmcZmyi4-3FsExGAylxw/edit?usp=sharing

Here are so

[2022-06-17 21:58] craycrayultracontrarian opened #1180 "[DOCS ISSUE] (newb)"
needs ELI5

[2022-06-20 15:36] yazz opened #1183 "[CONTENT REQUEST] Yazz.com now uses IPFS to store all code in a decentralised Low Code tool"
Yazz.com now uses IPFS to store all code in a decentralised Low Code tool

[2022-06-20 16:16] bertrandfalguiere commented on #1183
Announcement as such should be made on discuss.ipfs.io, not here

[2022-06-20 16:40] TMoMoreau commented on #1180
Hello, we have a basics section in the docs that is designed to be a starting point for new users. You can find that here, https://docs.ipfs.io/concepts/what-is-ipfs/

If you have other IPFS questions that you feel the docs don't answer, you can join the discord server here and ask one of the support channels, https://discord.gg/Pw6gUtCg

If you need general support, you can also check out https:/

[2022-06-20 16:40] #1180 closed

[2022-06-21 15:30] TMoMoreau commented on #1183
As stated above, announcements like this should be made elsewhere, such as https://discuss.ipfs.io/, alternatively, feel free to join the IPFS discord server! https://discord.gg/Pw6gUtCg.

If you would like request content be added to the IPFS docs, please open a new issue with specifics as to what you are looking for in terms of content.

Closing this issue for now. :)

[2022-06-24 15:49] lidel opened #1186 "Automation should update versions without 'v' prefix"
@laurentsenta seems that automation does not update occurrences without `v` prefix?  Will you have time to take a look?

Example:
- https://github.com/ipfs/ipfs-docs/pull/1174 replaced `v0.12.0` to `v0.13.0` but did not touch `0.12.0`

This was noticed in https://github.com/ipfs/ipfs-docs/pull/1177 which applied the change manually, but we need automatic fix for the future.

[2022-06-27 09:45] laurentsenta commented on #1186
@lidel I double-checked the script, it works as expected,

It did replace `0.12.2` (the current version) by `0.13.0` (the new version) and left older versions (`0.12.0`) alone.

The bug comes from https://github.com/ipfs/ipfs-docs/pull/1121 we left a few `0.12.0`. I should have caught this during the review, sorry about that! Thanks to https://github.com/ipfs/ipfs-docs/pull/1177/files now everyone

[2022-06-27 09:45] #1186 closed

[2022-06-27 23:11] johnnymatthews commented on #1140
Closing due to inactivity.

[2022-06-27 23:11] #1140 closed

[2022-06-29 00:29] MinmoTech opened #1189 "[CONTENT REQUEST] Browser Implementation Tools and Frameworks"
Hey! :)

I'd like to request an addition to https://docs.ipfs.io/how-to/browser-tools-frameworks/

I'm interested in using the javascript build tool [esbuild](https://esbuild.github.io/) but don't quite understand how I could get it to work with js-ipfs.

Many thanks already!

(If curious, this [blogpost](https://jvns.ca/blog/2021/11/15/esbuild-vue/) is how I found out about esbuild)

[2022-07-04 17:44] TMoMoreau commented on #1162
Added troubleshooting section to the read me containing this error and solution. Thanks!

[2022-07-04 17:44] #1162 closed

[2022-07-08 19:48] BigLep opened #1194 "List other Kubo RPC API clients"
After https://github.com/ipfs/ipfs-docs/pull/1185 , we should update the equivalent of https://docs.ipfs.io/reference/http/api/ to highlight that there are other implementations.

| Language      | Client library                                            | Status              |
|---------------|-----------------------------------------------------------|---------------------|
| Go            | ht

[2022-07-11 07:07] 08epouu1 opened #1197 "IPFS Documentation"

[2022-07-12 13:29] TMoMoreau commented on #1197
Closing this issue, no description provided. When opening an issue please be specific and descriptive.

[2022-07-12 13:29] #1197 closed

[2022-07-16 17:50] edwardbits opened #1200 "Update the Minty tutorial to help Windows user."
Hey
I want to mint an NFT using IPFS and minty, but the tutorial doesn't explain how to do it on Windows, if it's even possible without another operating system.  You may need to go into a little more detail as to the system requirements for minting NFTs on Windows, maybe.  Could you tell me how to do just that?  Thanks, sincerely...

[2022-07-18 14:42] johnnymatthews commented on #1200
This'd be a nice addition. Unfortunately, it's not super high priority right now. If any community members want to talk up this issue though, any PRs would be really appreciated!

[2022-07-18 18:22] heba-elhasn opened #1203 "Remove mention of Orion. Project closed."
Hi, first thanks for the extraordinary work done here,
I just wanted to report that the project " Orion"  has been removed since late 2020 ..
Maybe the official IPFS website needs some updates.
Thanks again and good luck

[2022-07-18 20:20] #1203 closed

[2022-07-19 13:24] johnnymatthews opened #1207 "Create an section covering the Basics of IPFS using JavaScript."
This is a continuation of the _Basics of IPFS_ project, where we show users how to use IPFS in very basic ways (install, add, share/get, and _"remove"_). In this new subsection, we'll show the reader how to spin up an IPFS node in the browser using JavaScript and then, in subsequent tabs, add a file, share that file with another user, how the retrieve a file, and finally, how to _"remove"_ a file

[2022-07-19 16:58] 2color commented on #1207
I love this initiative!

There are some upcoming changes to js-ipfs that are worth considering.

@BigLep Any insights or pointers on this given the upcoming changes to js-ipfs?

One thing that we discussed as being useful is a higher level introduction to IPFS with JS, given the multiple runtimes (Node.js, browsers), packages, APIs (Kubo RPC, Bitswap over Websocket), and transports (currently eith

[2022-07-20 13:44] lidel opened #1208 "Add a table with GO libraries to "IPFS in GO" page"
After #1185  lands, we will have "IPFS in GO" page (same content as  https://docs.ipfs.io/reference/go/api/).

I think it is a good place to  point people at all the Go libraries available.

We already had prior art content  in Kubo README (copy below). Moving it to docs is a good idea.

## Packages

Listing of the main packages used in the IPFS ecosystem. There are also three specifications worth

[2022-07-20 16:55] BigLep commented on #1207
I love this initiative too.  I do think we need to line it up with changes that are coming.  My thinking here is:
1. We need to get a snapshot blog post out of what's coming.  Ideally that wouldn't need to be in a blog post and someone could just look to our public roadmap.  We don't have that setup yet and there's more explaining/context to provide as well, which is why I'm thinking to do a one-o

[2022-07-21 13:12] 2color commented on #1207
Yes, that's in my work plan for this quarter.

[2022-07-21 13:28] lidel commented on #1194
Adding a note that we want to tackle this AFTER we clean up and rename GO and JS libraries, tracked in:
-  `go-kubo-rpc-client` (https://github.com/ipfs/kubo/issues/9124)
-  `js-kubo-rpc-client` (https://github.com/ipfs/kubo/issues/9125)

[2022-07-22 00:07] ireney2022 opened #1210 "Host multipage website on IPFS"
I saw the same issue has already been brought up and closed; however, as a resolution had not be reached, I am bringing up the issue again.

I tried doing the single-page website and multipage website, following the steps outlined in the tutorials:
https://docs.ipfs.io/how-to/websites-on-ipfs/single-page-website/#set-up-a-domain
https://docs.ipfs.io/how-to/websites-on-ipfs/multipage-website/#prere

[2022-07-22 03:16] chengpengjava opened #1211 "PRC API response garbled code"
Hello Team,I created IPFS node locally,and then I want to look webui on the browser so I referenced the website:
![image](https://user-images.githubusercontent.com/33616855/180354151-205371e2-4569-4afd-8e20-8f571592f713.png)
I clicked the first raw and then jumped this website:
![image](https://user-images.githubusercontent.com/33616855/180354324-f05c04ab-bcef-41f0-a206-e77b7461027a.png)
so I requ

[2022-07-22 03:24] FatNerdPeng opened #1215 "/reference/kubo/rpc/ shows invalid Response format"
Hello Team,I created IPFS node locally,and then I want to look webui on the browser so I referenced the website:

I clicked the first raw and then jumped this website:

so I requested the same PRC API by axios:

and then responsed garbled code,I thought the response data were right because I can see "README.txt" in the garbled code,but I don't konw what's wrong with it.Is my character wrong?Or req

[2022-07-22 17:56] Annamarie2019 commented on #1150
It looks like we kept the rewrite that was recently done, which does some of the above. Here are the things that remain to be done:
- We could use a step-by-step version of this article. We could either rewrite the [current one](https://docs.ipfs.io/how-to/create-simple-chat-app/#create-a-simple-chat-app) with steps, or create a separate article with only the steps for customizing the chat app. (R

[2022-07-22 20:13] dawnkelly09 opened #1214 "Add alternate pinning services to the Websites on IPFS section."
https://docs.ipfs.io/how-to/websites-on-ipfs/single-page-website/#pinning-files

In reviewing this demo on hosting a single page site, I noticed the pinning files section lists only Piñata as a pinning service provider. I would like to suggest this section be updated to add web3.storage and nft.storage as pinning service options which are based more closely to our ecosystem. If you agree, I am hap

[2022-07-23 15:39] mas268ga opened #1216 "Update the link to `Add your site` section in `Websites on IPFS` tutorial."
Link to 'add your site' (https://docs.ipfs.io/install/how-to/websites-on-ipfs/single-page-website/#add-your-site) needs updating?

[2022-07-25 16:34] johnnymatthews commented on #1207
Thanks for the input team! Where did we land on completing this issue? There's a cadet in the current PL-Launchpad cohort that would like to tackle this issue right now.

What's the ETA on these changes? If it's more than 1 month, I say we crack on with this issue and get it done. CC: @BigLep

[2022-07-25 16:59] BigLep commented on #1207
@lidel or @achingbrain or @2color : do you have any suggestions on "Basics of IPFS using JavaScript" docs that would be useful to write now in light of upcoming changes.

@johnnymatthews : these are changes I'm hoping to see before end of year, but more than 1 month from now.  I'm most concerned about the "Add a file" section, as don't want to propagate the shenanigans with using preload nodes.

[2022-07-25 17:14] johnnymatthews commented on #1210
Which links are you trying to use?

[2022-07-25 17:28] johnnymatthews commented on #1211
I think what's happening here is that you're grabbing the whole DAG instead of just the particular file you want. Try tacking `?filename=README.txt` onto the end of your curl request.

[2022-07-25 17:31] johnnymatthews commented on #1214
Absolutely! This tutorial was created way back before we had other pinning-service options. PRs welcome!

[2022-07-25 17:32] johnnymatthews commented on #1211
Never mind. Looks like this is a duplicate of https://github.com/ipfs/ipfs-docs/issues/1215. Closing this one.

[2022-07-25 17:32] #1211 closed

[2022-07-25 17:34] johnnymatthews commented on #1207
Ok cool, thanks for the heads up.

Ok cool. We can take that **Add a file** section out of this issue and just explain why we're not covering it right now (preload nodes are a pain to deal with, there's changes coming into JS-IPFS land soon that'll remove the preload node dependency, etc). Does that work for you?

[2022-07-26 01:52] ireney2022 commented on #1210
Thank you for responding to my query.

I am referring to the links that are generated by following:
1. the instructions on “Host a single-page website on IPFS” (https://docs.ipfs.io/how-to/websites-on-ipfs/single-page-website/#install-ipfs-desktop), under the heading “Add your site,” in steps 5-6; and
2. the instructions on “Multi-page website” (https://docs.ipfs.io/how-to/websites-on-ipfs/multipa

[2022-07-28 16:51] dawnkelly09 commented on #1214
I'm now wondering if this should be left as is since the tutorial demos using Pinata. I am thinking though we should add web3 storage & nft storage to the pinning services section this tutorial refers users to if they want more info on pinning service options: https://docs.ipfs.tech/concepts/persistence/#pinning-services (take a look at the Pinning services section).

I'm thinking info on web3 & n

[2022-07-29 21:38] johnnymatthews commented on #1210
Sorry for the delay. I couldn't replicate your problem, but I'm running Ubuntu right now. I'll see if I can run through stuff on a Mac.

[2022-08-01 17:53] dawnkelly09 commented on #1214
Issued closed with merging of PR #1224

[2022-08-01 17:53] #1214 closed

[2022-08-03 12:58] ireney2022 commented on #1210
Thanks for getting back to me. Yes, I believe I have saved the file properly. Yes, “links that are generated” = clicking on the 3 dot menu. I really don’t know what I am doing, so I’m attaching images for you to see.

<img width="1175" alt="Screen Shot 2022-08-03 at 9 49 14 PM" src="https://user-images.githubusercontent.com/98928666/182613437-f3439479-177d-4692-bb6c-a95e36fb1349.png">
<img width="

[2022-08-03 14:51] DannyS03 commented on #1207
Can take this one, opened a PR for up until "Add a file"

[2022-08-04 18:57] #1208 closed

[2022-08-05 09:24] MargotAADS opened #1233 "A-ADS partnership proposal for IPFS"
Dear IPFS's team,

I'm Margot from [A-ADS](https://a-ads.com/?utm_source=direct_sale). This is a cryptocurrency advertising network that allows large websites to earn bitcoin by placing advertising banners.

Sites that work with us earn up to hundreds of thousands of dollars a month from advertising thanks to our technology, which opens up extra earning opportunities:

- increased income due to th

[2022-08-08 18:47] lidel commented on #708
We now have separate RPC And HTTP Gateway pages:
- https://docs.ipfs.tech/reference/http/api/
  - https://docs.ipfs.tech/reference/http/gateway/
  - https://docs.ipfs.tech/reference/kubo/rpc/

It is a good time to update Gateway content on docs.ipfs.tech. Mainly,  there is also a bit outdated https://docs.ipfs.tech/concepts/ipfs-gateway/  which needs to be rewritten.

Main pain points:
- [ ] lacki

[2022-08-08 18:52] lidel commented on #708
@johnnymatthews @2color i'm around to brainstorm / review if anyone has bandwidth to work on this

[2022-08-09 13:44] lidel opened #1236 "Improve IPNS docs"
Right now, https://docs.ipfs.tech/concepts/ipns/ is more like a publishing tutorial/how-to, than an explainer of an abstract concept.

I propose:
- moving [Example IPNS Setup with CLI](https://docs.ipfs.tech/concepts/ipns/#example-ipns-setup-with-cli) section to a separate how-to in https://docs.ipfs.tech/how-to/publish-to-ipns-from-cli/
- reusing "The InterPlanetary Name System (IPNS)", "Deep Div

[2022-08-09 16:56] 2color commented on #1236
Sounds like a good idea to me. Assigned to myself for now.

[2022-08-09 17:40] 2color commented on #1207
Actually the main one is just a renaming of `ipfs-http-client` to something along the lines of `kubo-rpc-client`.

The concern is mostly to do with adding a file in the browser which relies on the preload nodes which isn't a sustainable or viable solution.

As long as this is within the context of Node.js and that's made clear, we're fine here. A Node.js IPFS node should have no problems adding, p

[2022-08-09 20:05] TMoMoreau commented on #1233
Sorry, we are not interested.

[2022-08-09 20:05] #1233 closed

[2022-08-09 23:25] BigLep opened #1237 "Add a link to the IPFS community calendar"
## Done Criteria
https://docs.ipfs.tech/community/ makes it clear that:
1. We have a community calendar
2. What it's purpose is (surface events for IPFS implementers, consumers, and users)
3. How to view it
4. How to add items to the calendar

## Notes
1. We should have a blurb at https://docs.ipfs.tech/community/ that links to a https://docs.ipfs.tech/community/calendar page (like what is done wi

[2022-08-09 23:27] BigLep commented on #1237
@reidlw: this would be a good learning task to take on.  Let me know if you need help.

[2022-08-10 14:21] TMoMoreau commented on #1216
Either this has been fixed, or I'm confused about where this specific broken link is.

[2022-08-10 19:00] johnnymatthews commented on #1216
Yeah, I can't see what link is broken here. Closing.

[2022-08-10 19:00] #1216 closed

[2022-08-10 19:10] johnnymatthews commented on #1210
Sorry for the delay. I'm having a hard time figuring out what's going wrong for you here. In that 2nd screenshot, when you double-click on any of the `.html` files, what happens? It looks like they're formatted correctly, and your computer should just open `.html` files like any normal webpage.

[2022-08-12 14:57] BigLep commented on #1237
Related Discourse topic: https://discuss.ipfs.tech/t/community-calendar-options-other-than-google-cal/14954/2

[2022-08-15 12:46] trans opened #1245 "IPNS Public Key Magic"
Under section 7 of the IPNS documentation this is the example given:

[code]

I cannot figure how the system associates the public key with the new file. Nothing here specifies that `Qma…` is the update for `QmU…`. All it does is publish `Qma…` and yet somehow IPFS magically knows it is the new `QmU…`? Is there something missing here?

[2022-08-15 15:36] johnnymatthews commented on #708
Unfortunately, I don't have any time to work on this right now. But @TMoMoreau might be available to work on this, if you're able to give some guidance @lidel?

[2022-08-15 16:18] TMoMoreau commented on #708
I should be able to get to this once I'm done with documenting the `_redirects` stuff.

[2022-08-16 01:57] #1237 closed

[2022-08-16 07:02] ireney2022 commented on #1210
Okay, here it is... Thank you for your help. I really do appreciate it!

https://user-images.githubusercontent.com/98928666/184817616-55e9fdcc-de0a-4819-a9cb-1b126d519f35.mov

.

[2022-08-16 15:22] johnnymatthews commented on #1210
I'm gonna grab another engineer to take a look at this, because it isn't a situation I've seen before.

[2022-08-16 15:53] TheDiscordian commented on #1210
Heya! Happy to try to help. @ireney2022  Could you please:

1. Share the CID you're working with (I've used OCR to grab it, but just in case)
2. Upload / pin the content somewhere so it's available to me (this can be via [web3.storage](https://web3.storage) or [Pinata](https://pinata.cloud) for example)

This way I can work with exactly what you have, and try to figure it out. It looks quite odd a

[2022-08-16 16:13] TheDiscordian commented on #1210
@ireney2022 Looks like whatever editor you used copied all the formatting of the text, instead of the characters themselves. Something like VSCode should help with this problem, I've heard Sublime is popular on Mac as well.

[2022-08-16 17:10] TMoMoreau commented on #1245
What are you referencing with `Qmu` specifically? I don't see any reference to it in the example provided.

[2022-08-16 17:24] TMoMoreau commented on #487
We're no longer following this initiative, closing.

[2022-08-16 17:24] #487 closed

[2022-08-16 18:11] johnnymatthews commented on #1210
I'm gonna close this, since it looks like we've got a solution to the problem. @ireney2022 if you're still running into issues, I suggest posting your problem in the [IPFS Forum](https://discord.gg/ipfs), or join the [IPFS Discord](https://discuss.ipfs.tech/).

[2022-08-16 18:11] #1210 closed

[2022-08-17 15:10] lidel opened #1247 "Add context to each item in academic-papers.md"
@yiannisbot suggestion extracted from https://github.com/ipfs/ipfs-docs/pull/1242#issuecomment-1217732613:

[2022-08-17 17:20] Winterhuman opened #1249 "Link to web resources more/dedicated resources page"
Related: https://github.com/ipld/ipld/issues/234

Many tools like https://cid.ipfs.tech and https://dag.ipfs.io are scarcely mentioned throughout IPFS's and IPLD's documentation, they don't appear prominently or frequently anywhere, which is a shame because these tools are often the most useful for troubleshooting and teaching people how both protocols work.

To solve this, not only should the doc

[2022-08-17 21:17] TMoMoreau commented on #1249
I like this, just off the top of my head, I'm not sure where these links could easily fit in. If you have a good idea on where these links would fit best, feel free to open a PR with your suggestions. :)

[2022-08-17 21:37] Winterhuman commented on #1249
A **Troubleshooting** page under https://docs.ipfs.tech/how-to seems like the best place, then you can walk through all the possible problems and which websites to use to verify.

e.g. "If you get an error saying your CID is invalid, check it with https://cid.ipfs.tech. After that ..."

[2022-08-17 21:39] Winterhuman commented on #1249
Oh hold on, https://docs.ipfs.tech/concepts/content-addressing/#cid-inspector actually does link to the CID inspector (and https://explore.ipfs.io too), I've just never noticed. I wonder if this is just a layout issue and people don't spot the links amongst the blocks of text

[2022-08-17 21:46] Winterhuman commented on #1249
Admittedly, it seems that all the links in https://docs.ipfs.tech are quite hard to spot, maybe having underlines under all the links by default would make them easier to see amongst text (and then have a hover style which makes the link bold or something). I imagine this is documented in a style guide somewhere

[2022-08-17 22:02] Winterhuman commented on #1249
Just to compress the last three comments I have left:

- Turns out https://docs.ipfs.tech/how-to/troubleshooting already exists, which is what I'd suggested.
- Some pages do in fact link to https://cid.ipfs.tech and other resources.
- But for some reason, I didn't spot them; I'm finding it hard to navigate the docs for some reason.

[2022-08-18 00:07] TMoMoreau commented on #1249
Closing this issue for now as it seems the issue has solved itself. If you think of other ways we could improve the docs, please open another issue and we'll be happy to take a look. :)

[2022-08-18 00:07] #1249 closed

[2022-08-18 00:58] mishmosh opened #1250 "Recent releases page is out of date"
There is a [recent releases page](https://docs.ipfs.tech/install/recent-releases/#go-ipfs-0-10) page in IPFS Docs > Install. It was last updated Oct 2021 with go-ipfs 0.10. We're now at kubo 0.14.

It should either be updated & a process identified for keeping it up-to-date, or removed entirely.

Thoughts @TMoMoreau @jennijuju @johnnymatthews @2color @aschmahmann @lidel @BigLep?

[2022-08-18 02:09] trans commented on #1245
Sorry. `QmU…` is the CID first seen in section 3 of https://docs.ipfs.tech/concepts/ipns/#example-ipns-setup-with-cli

[2022-08-18 02:34] johnnymatthews commented on #1250
Hmm, that's odd. [I thought we removed that ages ago](https://github.com/ipfs/ipfs-docs/pull/717)...

I agree, let's rip it out.

[2022-08-18 02:46] TMoMoreau commented on #1250
I agree as well, there is already a link to https://dist.ipfs.tech/ in the command-line install doc and also in the updater doc.

[2022-08-18 02:48] johnnymatthews commented on #1250
PR made. @mishmosh since you opened this issue, I'll wait for your thumbs up and we can get this merged!

[2022-08-19 16:36] #1250 closed

[2022-08-22 06:46] ashish-pawar opened #1256 "[DOCS ISSUE] Can we add images/figures for better understanding?"
I often understand the new concept better if there's an image/figure with a simple plain text explanation. Wondering whether it's possible to add images in official Docs.

[2022-08-23 10:22] ireney2022 commented on #1210
Thank you @TheDiscordian! Yes, VSCode did help :)

[2022-08-25 18:32] TMoMoreau commented on #1245
Hi @trans, sorry about the github actions bot demanding more information, not sure what that's about.

Are you still having issues with this concept?

[2022-08-26 01:03] dozykeys opened #1259 "Hashing"
When i try to upload to ipfs, everything is successful, but whenever i try to use blake2b for the hashAlg,it fails with error, no hasher found for blake2b-208. I observed that just sha256 and sha512 are available.

IPFS Version : 0.63.5
Below is the full error

[nodemon] restarting due to changes...
[nodemon] starting `node dozie2.js`
Swarm listening on /ip4/127.0.0.1/tcp/4002/p2p/12D3KooWRnb6NYEc

[2022-08-29 23:27] Winterhuman opened #1260 "`"Type"` is undefined in RPC documentation"
As found by a user in the Matrix room, the `"Type"` specified in https://docs.ipfs.tech/reference/kubo/rpc/#api-v0-dht-query is never explained; the meaning of the integer values isn't defined anywhere (or at the least it should be explained where it's stated/there should be a link back to where `"Type"` is defined)

[2022-08-30 02:26] jennijuju opened #1261 "[EPIC] Kubo v0.15 Release"
**Target Ship Date:** Shipped - https://github.com/ipfs/kubo/releases

List of issues that are for Kubo 0.15 release:
- [ ] Blake 3 support
- [ ] Fx options plugin
- [ ] `$IPFS_PATH/gateway` file

[2022-08-30 04:12] trans commented on #1245
Thank you for the response. I must be missing some key notion (lol pun wasn’t intended).

When issuing the following command to publish the modified file…

[code]

How does IPFS know that the new CID `QmaV…` is an update for `k51`? The issued command makes no reference to `k51` or the original CID.

I am even further confused by the command…

[code]

As `ipfs name resolve` makes no reference to an

[2022-08-30 14:49] lidel commented on #1261
@jennijuju   ? :cat2:

We have CI automation that bumps version in docs and opens a PR when there is a new release.
For 0.15 it was https://github.com/ipfs/ipfs-docs/pull/1263 (already merged).

Or is this about something else?

[2022-08-30 14:56] TMoMoreau commented on #1261
@lidel this is meant for me to keep track of other things that need documenting with the 0.15 release, the [gateway redirects](https://github.com/ipfs/specs/pull/290) for example.

[2022-08-30 15:18] lidel commented on #1261
Ack.  fysa redirects (https://github.com/ipfs/kubo/pull/8890) did not land in 0.15, hoping to include them in 0.16

[2022-08-30 15:45] jennijuju opened #1264 "create contribution guidelines on how to create a new page for the docs"
This ticket documents how one may create a new page for the ipfs documentation site.
I'd recommend it to keep it in https://github.com/ipfs/ipfs-docs/blob/main/CONTRIBUTING.md so future contributors can refer to it.

[2022-08-30 18:14] TMoMoreau commented on #1245
They don't need to specifically reference anything because you currently only have one `k51` key.

You can generate and name a new key using `ipfs key gen <key name>`. Having 2 or more keys is when you need to start specifying which key to publish to. For example, `ipfs name publish -key=<key name> <CID>`. Where <key name> is the key you want to publish to and <CID> is the updated content you want

[2022-08-30 21:29] trans commented on #1245
Ok I think I understand now. Because the generated keys are being saved to disk and there is only one k51 key, so it just defaults to that.

I think the documentation could use some improvement in this regard. If I find some time I’ll do some experimentation and submit a pull request.

Thanks.

[2022-08-31 00:37] mishmosh opened #1266 "Consolidate the 2x Contributing sections"
There are currently 2 "contributing" sections in IPFS Docs, and 90% of the content overlaps:

https://docs.ipfs.tech/project/contribute/
https://docs.ipfs.tech/community/contribute/ways-to-contribute/

We should consolidate to 1.

[2022-08-31 00:42] mishmosh commented on #652
@Tcll Thanks to multiple voices (such as yours!) calling for this change, Google Analytics has been removed in favor of [Plausible Analytics](https://plausible.io/), an open-source and privacy-friendly analytics system.

All the stats are open, so check out the dashboard if you'd like: https://plausible.io/docs.ipfs.tech

[2022-08-31 00:42] #652 closed

[2022-08-31 00:56] TMoMoreau commented on #1266
I wasn't aware that the https://docs.ipfs.tech/project/contribute/ existed. Agree we should consolidate them into one.

According to the [plausible analytics](https://plausible.io/docs.ipfs.tech/pages), https://docs.ipfs.tech/community/contribute/ways-to-contribute/ gets more traffic, so I propose removing the contributing page from the `Project` section in favour of the `Community` contributing s

[2022-08-31 09:54] Frederic-Zhou opened #1268 "[CONTENT REQUEST] (How to use pubsub in terminal)"
I try to use pubsub follow this doc [https://blog.ipfs.tech/25-pubsub/](https://blog.ipfs.tech/25-pubsub/)
but return error :
[code]

[2022-08-31 13:59] Frederic-Zhou commented on #1268
I know why. Must be published using file

`ipfs pubsub sub <mytopic>`

`ipfs pubsub pub <mytopic> <file_path>`

[2022-09-02 16:01] BigLep commented on #1260
2022-09-02 conversation:
1. we need to look at the source code to understand this.
2. @TMoMoreau will drive this, but will need pointers from others.
3. Note that these docs are generated from Kubo.  We have to make the changes there.  @lidel can answer questions here.

[2022-09-03 07:10] Frederic-Zhou commented on #1256
Maybe  concepts of DHT need images/figures

[2022-09-04 11:35] souenzzo opened #1271 "Resquest body format description at dag/put operation"
At [dag/put](https://docs.ipfs.tech/reference/kubo/rpc/#api-v0-dag-put) docs, to does not describe the format o `Request Body`
Would be useful to have an example of `myfile`, or a link/reference to the "object data" docs.

[2022-09-04 21:43] #1207 closed

[2022-09-06 17:39] jennijuju opened #1272 "[EPIC] Kubo release 0.16"
Targeted RC: Sept 22nd
Targeted release: Sept 29th
Targeted Docs Drafts by: Sep 20th
Targeted Docs ready by Sept 27th

Release tracker: [here](https://github.com/ipfs/kubo/issues/9237)

- [x] #1273

[2022-09-06 17:39] jennijuju opened #1273 "_redirect, end user documentations for gateway _redirect"
we want to add a sub page under `websites on IPFS`
![image](https://user-images.githubusercontent.com/42981373/188703238-1e9c631c-5890-4c10-8e83-ad1525f91cbc.png)

[2022-09-06 17:42] jennijuju commented on #1273
(on how to create a subpage, may refer to [this PR](https://github.com/ipfs/ipfs-docs/pull/1193/files)

[2022-09-06 17:43] jennijuju commented on #1273
We are expecting the first draft to be opened by EOW

[2022-09-08 16:03] TMoMoreau commented on #1261
@lidel, just to confirm I understood correctly what you said in the Triage call, these things don't need to be documented?

[2022-09-09 02:24] tangzhu77 opened #1276 "IPFS Desktop"

[2022-09-09 03:04] momack2 commented on #948
that site might be, but it's still all online here: https://flyingzumwalt.gitbooks.io/decentralized-web-primer/content/

[2022-09-10 16:15] glenndk opened #1277 "Sites fails after starting IPFS-desktop 0.23.0"
After installing (IPFS-Desktop-0.23.0.dmg) and enabling it, from instantly to after a few minutes, some sites/web-pages won't respond properly in the web browser Firefox (with Adblock Plus, Ghostery, NoScript, uMatrix) at the same time Google Chrome (with uMatrix) fails the same sites - e.g.:
https://da.wikipedia.org/wiki/InterPlanetary_File_System
https://github.com/ipfs/ipfs-desktop/releases
htt

[2022-09-10 16:47] REDMANEE168 opened #1278 "[CONTENT REQUEST] (add your title here!)"
[https://docs.pinata.cloud/gateways/dedicated-gateways](https://docs.pinata.cloud/gateways/dedicated-gateways)

[2022-09-12 05:35] DannyS03 commented on #1278
Thanks @REDMANEE168, wondering if you could clarify the request here.

[2022-09-12 05:36] DannyS03 commented on #1276
Thanks @tangzhu77, wondering if you could clarify the request/issue here.

[2022-09-12 09:45] siiky commented on #1194
I had this from a while back: https://github.com/ipfs/ipfs/pull/480

Should I open a PR here instead?

[2022-09-12 15:38] jennijuju commented on #1261
@lidel  - could you please whether the items outlined by Tmo require documentation or anything else you think we should be working on for the 0.15 releasE?

[2022-09-12 21:16] lidel commented on #1261
I think we are good, and this issue can be closed:
- 0.15 did not have anything that would require new docs, or changing any pre-existing docs we have.
  - no need to write docs about `$IPFS_PATH/gateway`: we need to finalize specs at https://github.com/ipfs/specs/pull/280 first

[2022-09-12 21:16] #1261 closed

[2022-09-14 16:13] TMoMoreau commented on #1266
@ElPaisano is going to try and tackle this as a first issue when he gets the chance. :)

[2022-09-14 18:49] ElPaisano commented on #1266
Hello the PR for this is  https://github.com/ipfs/ipfs-docs/pull/1279

[2022-09-14 21:18] #1266 closed

[2022-09-16 00:55] BigLep commented on #1194
@ElPaisano : it's true that https://github.com/ipfs/kubo/issues/9142 isn't completed.  This will likely take a month or so.

@lidel : that said, I wonder if we should get this docs page started so folks like @siiky and @ElPaisano can contribute any Kubo RPC clients they have.  Do you think we need to hold off ont his until https://github.com/ipfs/kubo/issues/9142 is completed?

[2022-09-18 00:30] #1256 closed

[2022-09-20 05:30] jennijuju opened #1283 "Replace algolia with Swiftype for search"
@johndmulhausen could you please add more context here on why we are doing this ?

[2022-09-20 17:08] #1276 closed

[2022-09-20 17:12] #1278 closed

[2022-09-21 12:02] mrd0ll4r opened #1285 "Kubo HTTP API docs for `get` may be missing default TAR behavior"
Hey!

I stumbled upon this today: https://docs.ipfs.tech/reference/kubo/rpc/#api-v0-get lists the output as `text/plain` and does not say anything about the `archive` flag being enabled by default. Using kubo `v0.14.0`, I believe it is enabled by default.

The [Go IPFS API client](https://github.com/ipfs/go-ipfs-api/blob/master/shell.go#L386-L399) unpacks the response through tar, without setting

[2022-09-21 17:05] BigLep opened #1286 "Document how to connect browser nodes with Kubo nodes using WebTransport"
## Done Criteria
A user can learn about to enabling connectivity between Chromium browser nodes with other implementations like Kubo with WebTransport.

## Why Important
We're unlocking great functionality here, but we need to ensure users can discover it, and know how to get started so the impact can be realized.

## Notes
1. There is lots of work going around WebTransport, getting it into libp2p

[2022-09-22 16:47] guseggert commented on #1285
See https://github.com/ipfs/ipfs-docs/issues/1215

[2022-09-22 16:47] #1285 closed

[2022-09-22 21:19] ftyers opened #1287 "[CONTENT REQUEST] c-ipfs implementation"
Could you add https://git.agorise.net/agorise/c-ipfs to the list of implementations?

[2022-09-26 10:03] sayer34343 opened #1288 "H"

[2022-09-26 13:44] TMoMoreau commented on #1288
Hi @sayer34343, if you have an actual issue with the IPFS docs, please provide more information. I'll close this issue in ~24 hours if no context is provided.

[2022-09-27 13:55] #1288 closed

[2022-09-27 21:16] TMoMoreau commented on #1277
Hi @glenndk, is this still an issue for you? I'm no engineer but this seems like unusual behaviour.

If this is still an issue for you, please open a help topic on https://discuss.ipfs.tech/ if you haven't already. You can also ask in one of our IPFS chat channels on Discord/Matrix/Slack here: https://docs.ipfs.tech/community/chat/#discord

As this is not an issue with the docs themselves, I'm goi

[2022-09-27 21:16] #1277 closed

[2022-09-29 01:22] honghaoq opened #1296 "[Content Request] Document IPNI / Indexers"
We are working on Network indexer that index IPFS  and Filecoin contents. We should add indexing doc / pointer on the ipfs page here under peer-to-peer-sharing https://docs.ipfs.tech/concepts/#peer-to-peer-sharing.

We can leverage the indexer gitbook to build the content page: docs.cid.contact

[2022-09-29 01:22] honghaoq commented on #1296
@TMoMoreau fyi

[2022-09-30 13:05] Winterhuman commented on #1260
@lidel @TMoMoreau Any update on this? Should I move this issue to Kubo as noted by BigLep?

[2022-09-30 15:12] lidel commented on #1286
JS is WIP: https://github.com/libp2p/js-libp2p-interfaces/pull/292
I don't think this can be worked on until we have both JS and GO shipped as opt-in in stable Kubo and JS-IPFS releases.

[2022-09-30 15:14] mishmosh commented on #1286
There isn't any other mention in docs of browser nodes being paired with longer-running nodes. This is an architecture we'd like more developers to understand and perhaps use.

When we're ready, a tutorial/example would fit nicely into How-Tos > IPFS in the browser: https://docs.ipfs.tech/how-to/

[2022-10-03 06:21] jennijuju commented on #1273
@TMoMoreau is this done?

[2022-10-03 06:22] jennijuju commented on #1272
@TMoMoreau is it correct that we should close this now as the redirect is merged & that's the only docs requirement for this releasE?

[2022-10-03 14:48] TMoMoreau commented on #1273
@jennijuju Yeah this is done. I'll close it now. :)

[2022-10-03 14:48] #1273 closed

[2022-10-03 14:49] #1272 closed

[2022-10-03 18:54] TMoMoreau commented on #1155
Closing this now, it has been addressed here: https://docs.ipfs.tech/how-to/websites-on-ipfs/redirects-and-custom-404s/

[2022-10-03 18:54] #1155 closed

[2022-10-05 15:41] TheDiscordian commented on #1146
@lidel I missed this until now, the reason for the pubsub is for the relay connections (IE: Cannot punch for WebRTC). Node A connects to Relay, Relay advertises Node A, Node B connects to Relay, Relay advertises Node B, Node A now has a path to Node B, connecting them together via Relay.

[2022-10-05 15:49] TMoMoreau commented on #1236
Looks like this is done now based on that PR being merged. Going to close this issue. :)

[2022-10-05 15:58] ElPaisano commented on #1260
@BigLep TMo and I are triaging issues. Is this dependent on Kubo?

[2022-10-05 18:34] BigLep commented on #1260
@ElPaisano : the source of truth for these docs is in ipfs/kubo.  If there are errors or missing information, code changes will need to be made there.  If you need more info on how ipfs/kubo feeds into ipfs/ipfs-docs, @lidel is the person to ask.

[2022-10-06 11:50] Pawa2101Taras opened #1300 "HTTP Gateway"

[2022-10-06 18:30] TMoMoreau commented on #1300
Hi @Pawa2101Taras, can you provide more context and information?

[2022-10-08 17:33] keshiba opened #1301 "Update incorrect link from /basics page to CLI interfaces"
**Problem**:
The "/basics" page has a broken link under the "Command Line" section which takes you to a non-existent page.

![image](https://user-images.githubusercontent.com/62872563/194720239-7a128878-0168-4802-ae09-a0eedea2fe6f.png)

![image](https://user-images.githubusercontent.com/62872563/194720179-7fd54b39-42f7-4739-b920-eef1e93b3913.png)

[2022-10-08 17:39] keshiba commented on #1301
The only relevant page I could find for CLI interfaces is located at ./go/command-line.md.

Would this be a viable fix ?
![image](https://user-images.githubusercontent.com/62872563/194720463-a257486c-1bbf-4f33-ac7e-97f0f6d9764f.png)

[2022-10-09 16:23] hamed335 opened #1302 "Install IPFS"

[2022-10-09 17:52] Donasela2019 opened #1303 "<%"

[2022-10-09 17:53] Donasela2019 opened #1304 "Sb83"

[2022-10-10 22:35] lidel opened #1305 "Kubo RPC HTTP docs should skip "Required: no""
https://docs.ipfs.tech/reference/kubo/rpc/ is generated from Kubo sources using code in https://github.com/ipfs/ipfs-docs/tree/main/tools/http-api-docs

RPC API was created for CLI: https://docs.ipfs.tech/reference/kubo/cli/ and  there is a concept  of "args" and "options" (optional args passed on cli via `--option`)

This is not universal, there are commands where we have mandatory "options", and

[2022-10-11 07:05] edwardbits commented on #1200
Sorry, some of my keys are expired, I'm unable to decrypt your message, I believe.
Thanks, Edward

Sent with Proton Mail secure email.

------- Original Message -------
On Monday, July 18th, 2022 at 10:42 AM, Johnny ***@***.***> wrote:

[2022-10-11 17:46] TMoMoreau commented on #1300
Closing this, no information provided. If you have an issue please open a new issue with information describing your issue.

[2022-10-12 12:53] YOUSU198 opened #1307 "[DOCS ISSUE] (add your title here!)"

[2022-10-12 19:56] TMoMoreau commented on #1307
Closing as no information was provided. If you have an issue or suggestion for the IPFS Docs, please open a new issue with as much information about the issue/suggestion as possible.

[2022-10-12 19:56] #1307 closed

[2022-10-12 19:57] TMoMoreau commented on #1304
Closing as no information was provided. If you have an issue or suggestion for the IPFS Docs, please open a new issue and provide as much information as possible.

[2022-10-12 19:57] #1304 closed

[2022-10-12 19:58] TMoMoreau commented on #1303
Closing, no information provided. If you have an issue or suggestion for the IPFS Docs, please open a new issue with as much information as possible.

[2022-10-12 19:58] #1303 closed

[2022-10-12 20:06] TMoMoreau commented on #1301
Hi, it seems that link is supposed to point to https://docs.ipfs.tech/basics/go/command-line/

@ElPaisano is already working on a PR to fix broken links ( #1306 ), I'll make sure this one gets in that PR as well. Thanks for bringing this to our attention.

[2022-10-13 10:07] rmwiseman opened #1308 "Hash collisions not mentioned"
Whilst I know it's very unlikely for the hash of two different pieces of content to be the same, it is possible, and so we have to assume it will happen at some point.  What happens then?  Is that handled by IPFS, and if so, how?

[2022-10-13 12:38] bertrandfalguiere commented on #1308
Theorically, a peer receiving either files matching the asked CID would accept it.

Now, in practice, if you walk around the Earth, and each time you come back at your starting point you take one drop out of the ocean, and then keep walking until you completely empty the ocean one drop at a time, then put a sheet of paper on the ground, put all the water in the ocean and start all over again in or

[2022-10-13 12:42] bertrandfalguiere commented on #1308
(I heard this story for the number of ways to shuffle a deck of card, which is 52!, which is far smaller than 2^256)

[2022-10-13 12:45] rmwiseman commented on #1308
Love the analogy!  I hadn't realised the probability was quite as low as that!

[2022-10-17 03:03] Donasela2019 commented on #1303
@Donasela2019

[2022-10-17 03:04] Donasela2019 commented on #1303
**[](gh pr checkout 2) **

[2022-10-17 03:04] Donasela2019 commented on #1303
[ ]
Duplicate of #

[2022-10-17 03:04] Donasela2019 opened #1309 "@Donasela2019"
@Donasela2019

_Originally posted by @Donasela2019 in https://github.com/ipfs/ipfs-docs/issues/1303#issuecomment-1280210928_

[2022-10-17 21:22] galtthedestroyer opened #1311 "Multi-page website"
this pertains to the multi-page website section of your documentation on the documentation website. I understand how IPNS can be used to always point to the newest iteration of the homepage. The homepage uses a regular HTML hyperlink to the about page. How does IPFS handle automatically pointing to new versions of the about page?

Thanks

[2022-10-19 10:58] Donasela2019 opened #1312 "Sb83"
Sb83

__Originally posted by @Donasela2019 in https://github.com/Donasela2019/write-docker-actions/pull/3#discussion_r862279851__

[2022-10-22 05:13] Donasela2019 commented on #1304
[]()

[2022-10-23 02:33] kobieaw opened #1313 "Add documentation for deleting/re-downloading IPFS"
I would love to see some type of documentation about how to fully delete any ipfs file from my local machine and then redownload to take care of any issues

[2022-10-25 00:45] kobieaw commented on #1313
Like in a FAQ about common ways to solve a problem with your ipfs node. I fixed it. But a "cd into the /.ipfs file and then do rm -rf on the FILE NAME" would be helpful. And then link back to the IPFS getting started

[2022-10-27 00:30] #1302 closed

[2022-10-28 14:42] #1308 closed

[2022-10-28 14:42] #1309 closed

[2022-10-28 15:16] #1312 closed

[2022-10-29 08:33] imthe-1 opened #1316 "IPNS (InterPlanetary Name System) and Mutability"
Is it "DHT" at the end of the sentence?

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/73563113/198822062-285befb6-5a6b-4c33-bbc5-cb9cd6009df8.png">

[2022-10-29 08:46] jacobheun commented on #1296
Perhaps this is a separate issue but documenting reframe would be super useful. There's various resources you can find but querying reframe on the site doesn't yield any results.

https://github.com/ipfs/kubo/releases/tag/v0.16.0 has configuration guidance.
https://blog.ipfs.tech/2022-09-02-introducing-reframe/ has useful information for understanding reframe as well as some curl commands to verif

[2022-10-30 12:33] djammalle007 opened #1317 "[DOCS ISSUE] (add your title here!)"

[2022-10-30 12:46] djammalle007 opened #1318 "[DOCS ISSUE] (add your title here!)"

[2022-10-31 15:28] TMoMoreau commented on #1316
Honestly not sure if that is supposed to say DHT or not. Going to call @lidel in for verification on this one.

https://docs.ipfs.tech/concepts/ipns/#how-ipns-works

[2022-10-31 15:34] TMoMoreau commented on #1317
Closing this issue, no information provided. If you have an issue or suggestion for the IPFS docs, please open a new issue with as much information as possible.

[2022-10-31 15:34] #1317 closed

[2022-10-31 15:35] #1318 closed, assigned to nobody

[2022-10-31 19:51] cardano-tools-nft opened #1319 "Run Kubo IPFS inside Docker"
The environment variable

IPFS_PROFILE=server

seems not to work anymore, is there an replacement?

I was using the image a9dd98877e27 (0.15.0) before, after upgrading to the newest version i got a netsacan warning from my provider.

[code]

[2022-11-01 16:29] TMoMoreau commented on #1319
Not sure if this is actually a bug or not, but I'll label it as such for now.

@lidel @Jorropo @guseggert can any of you chime in here?

[2022-11-01 17:07] Jorropo commented on #1319
You should try `ipfs config profile apply server` (then restart your node).

[2022-11-01 19:12] cardano-tools-nft commented on #1319
as the title states i run ipfs as a docker container, so what env-variable can i set to achieve the same?

[2022-11-01 22:31] Jorropo commented on #1319
@cardano-tools-nft there are no environment variables to do that.

You should be able to run a command inside a docker which edit the config.

[2022-11-02 07:20] cardano-tools-nft commented on #1319
Ok if thats the only posibility for now, but maybe you should update the docs then:

https://docs.ipfs.tech/how-to/run-ipfs-inside-docker/#customizing-your-node (scroll some lines up)

[2022-11-03 12:13] Jorropo commented on #1319
hum right, I didn't knew about it (since it's done by the docker script):
[code]
So I guess just `IPFS_PROFILE=server` (only works for the first init tho)

[2022-11-03 12:46] wutzebaer commented on #1319
It always worked but after pulling the latest container and start it (with the datadir of the old instance) it suddenly started to scan.

[2022-11-10 16:07] lidel commented on #1316
99% sure its `topic` – we don't do cross-publishing of third-party IPNS records  to DHT atm (but we could).

[2022-11-12 21:57] htasevsk1 opened #1325 "Hyperlink leading to a non-existing page (Basics / IPFS in Golang)"
![image](https://user-images.githubusercontent.com/43993526/201496076-7531f7af-b90a-482c-9342-a666cf13f1d0.png)

The [install Kubo with the CLI](https://docs.ipfs.tech/basics/install/command-line/) hyperlink leads to an 404 page.

[2022-11-12 22:16] TMoMoreau commented on #1325
Thanks for bringing this up, the page exists (https://docs.ipfs.tech/install/command-line/), the link behind the text is wrong. We currently have a large PR in progress to fix broken links (PR #1306)

We'll make sure this gets fixed.

[2022-11-13 07:26] ChangingStack opened #1326 "Add Free/OpenBsd install instructions"
Both OpenBsd and FreeBsd seem to be official distributions, with both having officially provided binaries, as can be be seen with the [v0.16.0](https://github.com/ipfs/kubo/releases/tag/v0.16.0) release.

As such would it be possible to add installation instructions to the command line only install page, seen [here](https://docs.ipfs.tech/install/command-line/#official-distributions).

To do so, t

[2022-11-13 07:51] ChangingStack commented on #1326
Also the same should be done for the [ipfs-update](https://docs.ipfs.tech/install/ipfs-updater/#install-updater) tool.

[2022-11-17 21:36] lidel commented on #1296
"IPNI" (InterPlanetary Network Indexer) should be added to glossary: https://docs.ipfs.tech/concepts/glossary/
Ref. https://github.com/ipni

[2022-11-17 22:47] TMoMoreau commented on #1296
I'll get a draft PR made for this. Going to make a list here as well, to verify and keep track of what needs to be done.

- [ ] Add pointer for the Filecoin network indexer to the list under the **peer to peer file sharing** subsection, found here: https://docs.ipfs.tech/concepts/#peer-to-peer-file-sharing
- [ ] Potentially create new doc for the Filecoin network indexer. I say potentially because

[2022-11-17 23:54] honghaoq commented on #1296
Thanks. FYI Torfinn Olsen is gonna be the new indexer PM on this going forward.

[2022-11-18 19:05] lidel commented on #1319
I believe this is upstream bug tracked in https://github.com/ipfs/kubo/issues/8585

[2022-11-18 19:06] #1319 closed

[2022-11-22 18:31] lidel commented on #1296
I thin kthis is blocked until new  impl. and specs solidify and ship with Kubo 0.18

[2022-11-30 20:42] TMoMoreau commented on #1325
The fix link PR mentioned above has been merged. Closing this as completed.

[2022-11-30 20:42] #1325 closed